.modal-info-panel.bg-white.border-left
  .scroll-container
    .block-sm
      .block-bot-sm.border-bottom
        h3 Balmain
        h4 Autumn/Winter 2016
        h4.tight Paris

      .block-ver-sm.border-bottom
        h4 Image name
        p.tight media_blm_aw16_003.jpg

      .block-ver-sm.border-bottom
        h4 Format
        p.tight JPG

      .block-ver-sm.border-bottom
        h4 Market
        p.tight Women

      .block-ver-sm.border-bottom
        h4 View
        p.tight Complete look

      .block-ver-sm.border-bottom
        h4 Category
        p.tight Catwalk