.modal-info-panel.bg-white.border-left
  .border-bottom.block-sm.overflow-auto
    h3.tight.pull-left Information
    .btn.btn-clear-black.btn-sm.pull-right
      i.icon.icon-pencil
      span Edit

  .scroll-container
    .block-sm
      h2 Balmain
      
      h4.tight Season
      p Autumn/Winter 2016
      
      h4.tight City
      p Paris

      h4.tight Image name
      p media_blm_aw16_003.jpg

      h4.tight Format
      p JPG

      h4.tight Market
      p Women

      h4.tight View
      p Complete look

      h4.tight Category
      p Catwalk