.item-detail-modal-controls
  i.icon.icon-angle-left.hoverable
  i.icon.icon-angle-right.hoverable

.modal#item-detail-modal
  .modal-report-tabs.bg-lt-grey.border-bottom.no-transition.hidden-file-type-image.hidden-file-type-video.hidden-file-type-colour-card
    ul.tab-nav
      li.tab-nav-tab.active Report 1
      li.tab-nav-tab Report 2
      li.tab-nav-tab Report 3
      li.tab-nav-tab Report 4
      li.tab-nav-tab Report 5

  .modal-info-bar.bg-xlt-grey.border-bottom.no-transition.block-hor-xs
    .pull-left
      span.item-name Balmain
      span.divider /
      span.item-detail-1 Autumn/Winter 2016
      span.divider /
      span.item-detail-2 Paris
      i.icon.icon-info-circle.hoverable

    .pull-right
      span.item-count 2/10

  .modal-image-panel.bg-xdk-grey
    .img
    i.file-heart.icon.icon-heart-o.hoverable
    i.icon.icon-cross.btn-close-fullscreen.hoverable
    
    .modal-page-controls.hoverable.hidden-file-type-image.hidden-file-type-video.hidden-file-type-colour-card
      .modal-page-left: i.icon.icon-angle-left
      .modal-page-right: i.icon.icon-angle-right
    
    .modal-zoom-controls.hoverable.hidden-file-type-report.hidden-file-type-video.hidden-file-type-colour-card
      .modal-zoom-in: i.icon.icon-plus-circle
      .modal-zoom-out: i.icon.icon-minus-circle

  .modal-bottom-panel
    .modal-bottom-panel-tabs.bg-xlt-grey.border-top
      i.icon.icon-double-angle-up.pull-left.hoverable
      ul.tab-nav.pull-left
        li.tab-nav-tab.active This folder
        li.tab-nav-tab Related Images
        li.tab-nav-tab Reports with this image

    .modal-bottom-panel-content.bg-lt-grey.border-bottom

  include comments
  include page-list

  .modal-tool-panel.bg-xlt-grey.border-left
    .btn-modal-tool.border-bottom.close-modal: i.icon.icon-cross
    .btn-modal-tool.btn-fullscreen: i.icon.icon-fullscreen
    .btn-modal-tool.btn-modal-page-list.hidden-file-type-image.hidden-file-type-video.hidden-file-type-colour-card: i.icon.icon-list
    .btn-modal-tool.btn-crop.hidden-file-type-report.hidden-file-type-video.hidden-file-type-colour-card: i.icon.icon-crop
    .btn-modal-tool.btn-save: i.icon.icon-plus-circle
    .btn-modal-tool.btn-print.hidden-file-type-video: i.icon.icon-print
    .btn-modal-tool.btn-download: i.icon.icon-download
    .btn-modal-tool.btn-send: i.icon.icon-paper-plane
    .btn-modal-tool.btn-modal-comments: i.icon.icon-comment

  .modal-overlay