mixin report-page(img, title)
  .report-page.block-sm.border-bottom.overflow-auto.hoverable
    img.pull-left(src=img)
    .text-container.pull-left.block-hor-sm: span=title

.modal-page-list-panel.bg-white.border-left
  .scroll-container
    +report-page("https://www.wgsn.com//storage/vol20/fo_image_store/cached/boards/65389//page_snapshots/851576.jpg", "1. Cover")
    +report-page("https://www.wgsn.com//storage/vol20/fo_image_store/cached/boards/65389//page_snapshots/851818.jpg", "2. Beyoncé Drops Ivy Park")
    +report-page("https://www.wgsn.com//storage/vol20/fo_image_store/cached/boards/65389//page_snapshots/851577.jpg", "3. Damn Daniel donates Vans to Hospital")
    +report-page("https://www.wgsn.com//storage/vol20/fo_image_store/cached/boards/65389//page_snapshots/851841.jpg", "4. The Juice-tice League")
    +report-page("https://www.wgsn.com//storage/vol20/fo_image_store/cached/boards/65389//page_snapshots/851658.jpg", "5. I am Yup'ik: Basketball in Alaska")
    +report-page("https://www.wgsn.com//storage/vol20/fo_image_store/cached/boards/65389//page_snapshots/851665.jpg", "6. Photoreal Artist CJ Henry")
    +report-page("https://www.wgsn.com//storage/vol20/fo_image_store/cached/boards/65389//page_snapshots/851578.jpg", "7. World Drone Grand Prix")