.modal-related-images
  .modal-hor-scroll-container.block-xs
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol20/ss_image_store/35/39/44/42/media_blm_aw16_003.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol20/ss_image_store/45/39/44/42/media_blm_aw16_004.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol20/ss_image_store/55/39/44/42/media_blm_aw16_006.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol20/ss_image_store/65/39/44/42/media_blm_aw16_007.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol20/ss_image_store/75/39/44/42/media_blm_aw16_008.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol20/ss_image_store/85/39/44/42/media_blm_aw16_010.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol20/ss_image_store/95/39/44/42/media_blm_aw16_011.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol20/ss_image_store/06/39/44/42/media_blm_aw16_013.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol20/ss_image_store/16/39/44/42/media_blm_aw16_014.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol20/ss_image_store/26/39/44/42/media_blm_aw16_016.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol20/ss_image_store/36/39/44/42/media_blm_aw16_018.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol20/ss_image_store/46/39/44/42/media_blm_aw16_019.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol20/ss_image_store/56/39/44/42/media_blm_aw16_021.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol20/ss_image_store/66/39/44/42/media_blm_aw16_022.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol20/ss_image_store/76/39/44/42/media_blm_aw16_023.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol20/ss_image_store/86/39/44/42/media_blm_aw16_025.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol20/ss_image_store/96/39/44/42/media_blm_aw16_026.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol20/ss_image_store/07/39/44/42/media_blm_aw16_028.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol20/ss_image_store/17/39/44/42/media_blm_aw16_029.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol20/ss_image_store/27/39/44/42/media_blm_aw16_031.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol20/ss_image_store/37/39/44/42/media_blm_aw16_033.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol20/ss_image_store/47/39/44/42/media_blm_aw16_034.jpg")
    .inline-block: img(src="https://www.wgsn.com/storage/vol20/ss_image_store/57/39/44/42/media_blm_aw16_036.jpg")