.modal-related-images
  .modal-hor-scroll-container.block-xs
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol21/ss_image_store/49/31/93/52/media_lar0816_IMG_7237.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol21/ss_image_store/59/31/93/52/media_lar0816_IMG_7238.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol21/ss_image_store/20/41/93/52/media_lar0816_IMG_7245.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol21/ss_image_store/93/41/93/52/media_lar0816_IMG_7328.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol21/ss_image_store/04/41/93/52/media_lar0816_IMG_7329.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol21/ss_image_store/14/41/93/52/media_lar0816_IMG_7330.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol21/ss_image_store/05/41/93/52/media_lar0816_IMG_7339.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol21/ss_image_store/15/41/93/52/media_lar0816_IMG_7340.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol21/ss_image_store/25/41/93/52/media_lar0816_IMG_7341.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol21/ss_image_store/35/41/93/52/media_lar0816_IMG_7342.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol21/ss_image_store/65/41/93/52/media_lar0816_IMG_7345.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol21/ss_image_store/75/41/93/52/media_lar0816_IMG_7346.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol21/ss_image_store/95/41/93/52/media_lar0816_IMG_7348.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol21/ss_image_store/16/41/93/52/media_lar0816_IMG_7350.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol21/ss_image_store/26/41/93/52/media_lar0816_IMG_7351.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol21/ss_image_store/07/41/93/52/media_lar0816_IMG_7359.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol21/ss_image_store/17/41/93/52/media_lar0816_IMG_7360.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol21/ss_image_store/08/41/93/52/media_lar0816_IMG_7369.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol21/ss_image_store/28/41/93/52/media_lar0816_IMG_7371.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol21/ss_image_store/98/41/93/52/media_lar0816_IMG_7378.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol21/ss_image_store/99/41/93/52/media_lar0816_IMG_7388.jpg")
    .block-right-xs.inline-block: img(src="https://www.wgsn.com/storage/vol21/ss_image_store/70/51/93/52/media_lar0816_IMG_7396.jpg")
    .inline-block: img(src="https://www.wgsn.com/storage/vol21/ss_image_store/71/51/93/52/media_lar0816_IMG_7406.jpg")