extends ../layout

block append vars
  - bodyclass = 'mood-library-view product-fashion'

block prepend title
  | Mood Library | 

block content
  .page-content
    
    //- TITLE ROW
    .title-row.bg-lt-grey.block-md
      .row
        .col-xs-12
          h1 Mood Library

      .row
        .col-xs-12
          input.search-input(type="text", placeholder="Search Mood Library")

      //- .utility-block.pull-right
      //-   .flex-center.pull-left.hoverable.btn-saved-searches
      //-     i.icon.icon-bookmark
      //-     include ../partials/image-library/saved-searches

    //- RIGHT SIDE PANEL
    .right-side-panel
      include ../partials/workspace/view-options
      include ../partials/images-row