mixin filter(id, title, viewall, filteredby, ...items)
  .filter.accordion-section.closed
    .accordion-title.overflow-auto.hoverable(id="filter-btn-" + id)
      span.wgsn-font.pull-left= title
      i.section-expand-icon.icon.icon-angle-right.pull-right.text-smaller
    
    .accordion-content
      ul.clean.overflow-auto
        each item in items
          li
            label.checkbox-radio.block-bot-xs(for=item)= item
              input(type="checkbox" id=item)
      
      if viewall
        .accordion-footer.overflow-auto
          p.text-underline.btn-view-all.hoverable.pull-left(id="btn-view-all-" + id) View all


//- ============================================================

.filter-structure
  +filter(
    "category",
    "Category",
    false,
    false,
    "Images",
    "Catwalk",
    "Marketing Campaigns", 
    "Retail", 
    "Street Style", 
    "Trade Shows & Exhibits",
    "Vintage",
    "Design Resources",
    "WGSN Original CADs/Flats",
    "WGSN Original Brushes & Fills",
    "WGSN Original Prints & Graphics",
    "Colour Libraries",
    "Fabric Swatches")

  +filter(
    "market",
    "Market",
    false,
    false,
    "Women",
    "Men",
    "Girls",
    "Boys")

  +filter(
    "product",
    "Product",
    true,
    true,
    "Apparel",
    "Accessories",
    "Beauty",
    "Footwear")

  +filter(
    "brand",
    "Brand",
    true,
    true,
    "Acne Studios",
    "Balenciaga",
    "Balmain",
    "Chloé",
    "Givenchy",
    "Isabel Marant",
    "Jimmy Choo",
    "Proenza Schouler",
    "Saint Laurent",
    "TOM FORD")

  +filter(
    "retailer",
    "Retailer",
    true,
    true,
    "Galeries Lafayette",
    "H&M",
    "House of Fraser",
    "J.Crew",
    "Old Navy",
    "Opening Ceremony",
    "Selfridges",
    "Sisley",
    "Topshop",
    "Zara")

  +filter(
    "city",
    "City",
    true,
    true,
    "New York",
    "London",
    "Paris",
    "Milan")

  +filter(
    "season-month",
    "Season/Month",
    true,
    true,
    "Autumn/Winter 2016",
    "Bridal Autumn/Winter 2016",
    "Bridal Spring/Summer 2016",
    "Haute Couture Spring/Summer 2016",
    "Pre-Fall 2016",
    "Pre-Summer 2016",
    "Spring/Summer 2016")

  +filter(
    "event",
    "Event",
    true,
    true,
    "Agenda",
    "Bread & Butter",
    "Denim by Premiere Vision",
    "Dutch Design Week",
    "GDS Dusseldorf",
    "ISPO",
    "London Design Festival",
    "Maison & Objet",
    "Premiere Vision",
    "Project")

  +filter(
    "colour",
    "Colour & Tone",
    false,
    false,
    "Black",
    "White",
    "Grey",
    "Red",
    "Orange",
    "Yellow",
    "Green",
    "Blue",
    "Navy",
    "Purple",
    "Pink",
    "Cream",
    "Gold",
    "Silver",
    "Multi")

  +filter(
    "prints-graphics",
    "Prints & Graphics",
    true,
    true,
    "Abstract",
    "Animal print",
    "Aztec",
    "Checks/Plaids",
    "Floral",
    "Geometric",
    "Heart",
    "Paisley",
    "Spots",
    "Stripe")

  +filter(
    "material",
    "Material",
    true,
    true,
    "Denim", 
    "Eco Sustainable", 
    "Fur", 
    "Intimates & Swimwear", 
    "Knit & Jersey", 
    "Lace", 
    "Leather & Suede", 
    "Printed & Patterned", 
    "Woven", 
    "Yarn")