mixin filter(id, title, type, ...items)
  .filter-title(id="filter-btn-" + id)
    span.wgsn-font= title
  .filter-content
    each item in items
      li
        label(for=item)
          input.pull-left(type="checkbox" id=item)
          span= item