.modal.filter-extended.filter-extended-hierarchical(id="filter-extended-products")
  .modal-header
    h3.pull-left.tight Products
    i.icon.icon-cross.pull-right.hoverable.close-modal

  .modal-content
    .col.pull-left.border-right
      ul.clean
        each val, index in ["Apparel", "Accessories", "Beauty", "Footwear"]
          li.tight
            label.checkbox-radio.block-ver-xs.block-hor-md.tight(for="products-l1-i" + index)= val
              input(type="checkbox" id="products-l1-i" + index)
              i.icon.icon-angle-right.pull-right.tight.text-grey

    .col.pull-left.border-right
      ul.clean
        each val, index in ["Active/sport", "Bridal", "Coats & outerwear", "Denim", "Dresses", "Intimates", "Jackets", "Jumpsuits", "Loungewear", "Shorts", "Socks + legwear", "Skirts", "Suits", "Suits + sets", "Sweaters", "Swimwear", "Tops", "Trousers"]
          li.tight
            label.checkbox-radio.block-ver-xs.block-hor-md.tight(for="products-l2-i" + index)= val
              input(type="checkbox" id="products-l2-i" + index)
              i.icon.icon-angle-right.pull-right.tight.text-grey
    
    .col.pull-left
      ul.clean
        each val, index in ["A-Line", "Active/Sport", "Anorak", "Asymmetric", "Balmacaan", "Blanket Coat", "Bomber/Blouson", "Boxy", "Boyfriend", "Camel Coat", "Cape/Poncho", "Cargo/Utility", "Coatdress", "Cocoon", "Crombie", "Draped", "Duffel/Toggle", "Duster Coat", "Empire/Babydoll", "Hidden Placket/Buttonless", "Kimono", "Macintosh/Rain Coat", "Military/Safari", "Motorcycle", "Overcoat/Topcoat", "Parka", "Pea", "Princess Coat", "Puffa/Down", "Trenchcoat", "Wrap"]
          li.tight
            label.checkbox-radio.block-ver-xs.block-hor-md.tight(for="products-l3-i" + index)= val
              input(type="checkbox" id="products-l3-i" + index)

  .modal-footer.text-right
    i.icon.icon-reset.pull-left.block-top-xs.block-right-xs
    p.tight.block-top-xs.wgsn-font.hoverable.pull-left Reset
    .block-right-sm.inline-block: .btn.btn-white.close-modal Cancel
    .inline-block: .btn.btn-black.close-modal Done