mixin filter-extended(id, title, tabbed, search, anchors, ...items)
  .modal.filter-extended(id="filter-extended-" +id)
    .modal-header
      h3.pull-left.tight= title
      i.icon.icon-cross.pull-right.hoverable.close-modal

    .modal-content
      .row.border-bottom.block-bot-md
        .col-xs-8
          .filter-extended-anchors
            for letter, i in "#ABCDEFGHIJKLMNOPQRSTUVWXYZ".split("")
              span.anchor-letter= letter

        .col-xs-4
          input.search-input(type="text", placeholder="Search " + title)

      .row.block-top-md
        .col-xs-12
          ul.filter-extended-list.clean
            //- if subheadings
            //-   li.filter-extended-subheading= subheadings
            
            each item in items
              li
                label.checkbox-radio(for=item)= item
                  input(type="checkbox" id=item)

    .modal-footer.text-right
      i.icon.icon-reset.pull-left.block-top-xs.block-right-xs
      p.tight.block-top-xs.wgsn-font.hoverable.pull-left Reset
      .block-right-sm.inline-block: .btn.btn-white.close-modal Cancel
      .inline-block: .btn.btn-black.close-modal Done


//- ============================================================


+filter-extended(
  "brand",
  "Brand",
  true,
  true,
  true,
  "A",
  "AA de Amaya Arzuaga",
  "Aalto",
  "Aanchal Chanda",
  "Aarjun Saluja",
  "Aaron Tubb",
  "Aastha Bahl",
  "AB",
  "Abaete",
  "Abbey Dawn",
  "Abdul Haldar",
  "Abed Mahfouz",
  "Abertura",
  "Abhi Rahul",
  "Abhishek Dutta",
  "Abigail Stewart",
  "Abnit Nijjar",
  "Abraham Thakore",
  "AB/Soul",
  "Academy Art University",
  "Accademia Costume E Moda",
  "Ace Creation",
  "Ace Jig",
  "A Che",
  "A Child Of The Jago",
  "Achtland",
  "Acid Alkali",
  "Acid Funk",
  "Acid Razer",
  "Acne Studios",
  "Acola",
  "AcomB",
  "A.Concept",
  "Acqua di Lara",
  "Acqua Rosa",
  "AcquaStudio",
  "Ada Athanassiou",
  "Adam",
  "Adam Andrascik",
  "Adam Entwisle",
  "Adam & Eve",
  "Adam Jones",
  "Adam Kimmel",
  "Adam Lippes",
  "Adams",
  "Adam Selman",
  "Adam Watson",
  "Ada Zanditon",
  "Add",
  "Addict",
  "Addy van den Krommenacker",
  "Addy Xu",
  "Adeam",
  "Adeam by Hanako Maeda",
  "A Degree Fahrenheit",
  "A Détacher",
  "Adele",
  "Adele Wechsler",
  "Adele Weschler Eco Couture",
  "Adelina Ivan",
  "Adeline Andre",
  "Adept",
  "A Detacher",
  "Adhil Khamidou",
  "adidas",
  "adidas by Stella McCartney",
  "adidas NEO",
  "adidas Originals",
  "adidas Originals x White Mountaineering",
  "Adil Khamidov",
  "Aditya Dugar",
  "adL by Cengiz Abazoglu",
  "Adolescent by Yeu",
  "Adolfo Dominguez",
  "Adorisadora",
  "Adpac",
  "Adriana Contreras",
  "Adriana Degreas",
  "Adrian Alicea",
  "Adrian Wu",
  "Adrienne Landau",
  "Adrienne Vittadini",
  "Ae Ikemi",
  "Aerobatix",
  "A.F. by A.F. Vandevorst",
  "Affair",
  "Afghan",
  "Africa Africans Moda",
  "Africa Universal",
  "Afriqan Apeiron",
  "Afro Reggae",
  "Afshin Feiz",
  "After Six by Dessy",
  "A.F. Vandevorst",
  "Aganovich",
  "Agatha",
  "Agatha Ruiz de la Prada",
  "Agent Provocateur",
  "Agi and Sam",
  "Agne Kuzmickaite",
  "Agnes B",
  "Agnes Wong",
  "Agnona",
  "Agogoa",
  "Agridulce Patricia Gomez",
  "Agua Bendita",
  "Aguaclara",
  "Agua de Coco",
  "Agua Doce",
  "Aguri Sagimori",
  "Ahksy",
  "A Detacher",
  "Adhil Khamidou",
  "adidas",
  "adidas by Stella McCartney",
  "adidas NEO",
  "adidas Originals",
  "adidas Originals x White Mountaineering",
  "Adil Khamidov",
  "Aditya Dugar",
  "adL by Cengiz Abazoglu",
  "Adolescent by Yeu",
  "Adolfo Dominguez",
  "Adorisadora",
  "Adpac",
  "Adriana Contreras",
  "Adriana Degreas",
  "Adrian Alicea",
  "Adrian Wu",
  "Adrienne Landau",
  "Adrienne Vittadini",
  "Ae Ikemi",
  "Aerobatix",
  "A.F. by A.F. Vandevorst",
  "Affair",
  "Afghan",
  "Africa Africans Moda",
  "Africa Universal",
  "Afriqan Apeiron",
  "Afro Reggae",
  "Afshin Feiz",
  "After Six by Dessy",
  "A.F. Vandevorst",
  "Aganovich",
  "Agatha",
  "Agatha Ruiz de la Prada",
  "Agent Provocateur",
  "Agi and Sam",
  "Agne Kuzmickaite",
  "Agnes B",
  "Agnes Wong",
  "Agnona",
  "Agogoa",
  "Agridulce Patricia Gomez",
  "Agua Bendita",
  "Aguaclara",
  "Agua de Coco",
  "Agua Doce",
  "Aguri Sagimori",
  "Ahksy",
  "Ahn Hae Young",
  "Ahn Yoon Yung",
  "Aigner",
  "Aiisha Ramadan",
  "Ailanto",
  "Ailsa Reeve",
  "Aimee McWilliams",
  "Aimee Xu",
  "Aimme",
  "Ainsley",
  "Air Jordan",
  "Aisling Farrell",
  "Aitor Throup",
  "Aje",
  "Ajmal Khan",
  "Akalaksna",
  "Aka Nanita",
  "Akane Utsunomiya",
  "AK Club",
  "Akihito Hira",
  "Akiko Aoki",
  "Akiko Nei",
  "Akiko Ogawa",
  "Aki Lin",
  "Akira",
  "Akira Naka",
  "Aki Zhao",
  "Akris",
  "AKR Kids",
  "Akubi Tong",
  "A Lab",
  "Aládio Marques",
  "A La Disposition",
  "Alado",
  "Alaine Yuen",
  "Alana Hale",
  "Alan Crocetti",
  "Alan del Rosario",
  "Alan Hannah",
  "Alani",
  "Alan Lee",
  "Alan Taylor",
  "Alanto",
  "A La Robe",
  "Alberta Ferretti",
  "Alberto Biani",
  "Alberto Guardiani",
  "Alberto Moretti",
  "Alberto Puras",
  "Alberto Rodriguez",
  "Alberto Tous",
  "Alberto Zambelli",
  "Albert Yanuar",
  "Albina Tazh",
  "Albino",
  "Albino Deuxieme",
  "A.L.C.",
  "Aldo Martins",
  "Ale Brito",
  "Alejandra Quesada",
  "Alejandro Carlin",
  "Alejandro Ingelmo",
  "Aleksandra Domanevskaya",
  "Aleksandra Vanushina",
  "Alembika",
  "Alena Akhmadullina",
  "Alena Akhmadullina for Barbie",
  "Alena Milanskaya",
  "Alena Vilshenko",
  "Alessa",
  "Alessandra Avallone",
  "Alessandra Rinaudo",
  "Alessandro De Benedetti",
  "Alessandro Dell' Acqua",
  "Alessandro Oteri",
  "Alessia Xocato",
  "Alexa Chung for Madewell",
  "Alex Allen",
  "Alexander Abramov",
  "Alexander Berardi",
  "Alexander James",
  "Alexander Kounty",
  "Alexander Lamb",
  "Alexander Lewis",
  "Alexander McQueen",
  "Alexander Michael Snyder",
  "Alexander Nikolich",
  "Alexander Scottwilds",
  "Alexander Vidal",
  "Alexander Wang",
  "Alexandra Gold",
  "Alexandra Groover",
  "Alexandra Kazakova",
  "Alexandra Owen",
  "Alexandra Serova",
  "Alexandra Stojadinov",
  "Alexandra Vanushina",
  "Alexandra Wall",
  "Alexandre Barthet",
  "Alexandre Delima",
  "Alexandre Guimaraes",
  "Alexandre Herchcovitch",
  "Alexandre Mathieu",
  "Alexandre Plokhov",
  "Alexandre Vauthier",
  "Alex Casertano",
  "Alex Grant",
  "Alexia Ulibarri",
  "Alexis Lamontagna",
  "Alexis Mabille",
  "Alexis Reyna",
  "Alex Mullins",
  "Alex Perry",
  "Alfhild Kulper",
  "Alfred Angelo",
  "Alfred Fiandaca",
  "Alfred Li",
  "Alfredo Martínez",
  "Alfred Sung by Dessy",
  "Algaard Nielsen",
  "Alianto",
  "Alibellus by Titi Kwan",
  "Alice Auaa",
  "Alice by Temperley",
  "Alice Cartwright",
  "Alice Fine",
  "Alice Gibberd",
  "Alice Lam",
  "Alice Lee",
  "Alice McCall",
  "Alice + Olivia",
  "Alice Palmer",
  "Alice Pognat",
  "Alice Ritter",
  "Alice Roi",
  "Ali Charisma",
  "A Life on the Left",
  "Alina Assi",
  "Alin Anuar",
  "Aline Buffet",
  "Alisa Benay",
  "Alisa Kuzembaeva",
  "Alisha Trimple",
  "Alison Firth",
  "Alison Hunt",
  "Alisson Rodrigues",
  "Alistair Carr",
  "Alistar Trung",
  "Alivia Simone",
  "Alja Slemensek",
  "ALLAN CAI Cai Zhonghan",
  "Allegra Hicks",
  "Allegri",
  "Allezye",
  "Alliance of Russian Art Designers",
  "Allistyle",
  "Allo Martinez",
  "AllSaints",
  "Allude",
  "Allure Bridals",
  "ALLWHITE Peng Jing",
  "Ally Alice",
  "Allyson Jacobs",
  "Alma Aguilar",
  "Alma Wong Bridal",
  "Almerinda Maria",
  "Alon Livne",
  "Alon Livne White",
  "Alpana Neeraj",
  "Alpha 60",
  "Alphadi",
  "Alphorria",
  "Alphorria Cult",
  "Altal",
  "Altewaisaome",
  "Althea Harper",
  "Altuzarra",
  "Alvarno",
  "Alve Lagercrantz",
  "Alves Gonçalves",
  "Alviero Martini",
  "Alvina Valenta",
  "Alvina Valenta Bridesmaids",
  "Alvin Valley",
  "Aly Chen",
  "Alyne by Rivini",
  "Amai Rodriguez",
  "Amalraj Sengupta",
  "Amana Wu Ching Man",
  "Amanda Humphries",
  "Amanda Lew Kee",
  "Amanda Pearl",
  "Amanda Wakeley",
  "Aman Jaswell",
  "Amapo",
  "Amato by Furne One",
  "Amato Couture",
  "Amaya Arzuaga",
  "Amazonas Sandals",
  "Ambell",
  "Amber Feroz",
  "Amber&Thomas",
  "Ambitious",
  "Ameber Leung",
  "Amelia Casablanca",
  "Amelia Toro",
  "Amelie Marciasini",
  "AMEN",
  "American Apparel",
  "American Gambler",
  "American Perez",
  "Amfi",
  "Ami",
  "Ami Alexandre Mattiussi",
  "Amie Jimin An",
  "Amime",
  "Aminaka Wilmont",
  "Amira Haroon",
  "Amir Khorasany",
  "Amir Taghi",
  "AM-IT",
  "Amit Gt",
  "A MOI",
  "Amore",
  "Amores Trash Couture",
  "am:pm by Ankur & Priyanka Modi",
  "Amsale",
  "Amuleti",
  "A*Muse",
  "Amy Bull",
  "Amy Carlin",
  "Amy Gaunt",
  "Amy Harris",
  "Amy Jiang",
  "Amy Johnson",
  "Amy Jordan",
  "Amy Kay Wing Yuen",
  "Amy Kirchen",
  "Amy Konig",
  "Amy Kuschel",
  "Amy Lamb",
  "Amylee Ryan",
  "Amy Michelson",
  "Amy Robinson",
  "Amy Tam Tsz Pui",
  "Amy Ward",
  "Amy Winwood",
  "Anaïs & I",
  "Ana Balboa",
  "Anabela Baldaque",
  "Ana Corina Del Pinal Saenz",
  "Anais",
  "Anais Anette",
  "Anait Bian",
  "Ana Locking",
  "Ana Maria Restrepo",
  "Anamika",
  "Ana Mika",
  "Anamika Khanna",
  "Ana Miranda",
  "Anand Bhushan",
  "Anand Jon",
  "Anand Kabra",
  "Ananya",
  "Ana Ogun-Sanya",
  "Anasai",
  "Ana Salazar",
  "Ana Sanchez",
  "Ana Sekularac",
  "Anastasia Iafrate",
  "Anastasia Vereschagina",
  "Anastasia Z",
  "Anastasia Zadorina",
  "Ana Torres",
  "Anavila",
  "Anayawa",
  "Andira",
  "Andrés Pajón",
  "Andraya Farrag",
  "Andrea Ayala",
  "Andrea Crews",
  "Andrea de la Roche",
  "Andrea Incontri",
  "Andrea Jiapei Li",
  "Andrea Landa",
  "Andrea Llosa",
  "Andrea Marques",
  "Andrea McWha",
  "Andrea Moore",
  "Andrea Pompilio",
  "Andrea Saletto",
  "Andrea Turchi",
  "Andrea Urquizu",
  "Andre Lima",
  "Andre Lucian",
  "Andre Phergon",
  "Andres Caballero",
  "Andres Sarda",
  "Andrew Dhesi",
  "Andrew Gn",
  "Andrew Mackenzie",
  "Andrew Majtenyi",
  "Andrey Repin",
  "Andy and Debb",
  "Andy Ho",
  "Andy Sin",
  "Aneeth Arora",
  "Anett Rostel",
  "Angela Brandys",
  "Angela Cassidy",
  "Angela Chung",
  "Angela Syrett Roper",
  "Angel Chang",
  "Angel Chen",
  "Angel Devil",
  "Angelo Berardi",
  "Angelo Galasso",
  "Angelo Marani",
  "Angelos Bratis",
  "Angelos Frentzos",
  "Angel Rivera",
  "Angel Sanchez",
  "Angels and Devils by Roberto Cavalli",
  "Angel Schlesser",
  "Angel Tso",
  "Anglomania by Vivienne Westwood",
  "Angus Chiang",
  "Angus Lai",
  "Animale",
  "Anime",
  "Anita Dongre",
  "Aniv Von Borche",
  "Anja Gockel",
  "Anjali K",
  "Anjara",
  "Anju Anju",
  "Ank",
  "Ankar Sweden",
  "Anke Schloder",
  "Anky By Ankita And Anjana Bhargav",
  "Ann",
  "Anna and Boy",
  "Anna Arbelina",
  "Annabel Giraud Teime",
  "Annabel Luton",
  "Anna Cammish",
  "Anna Club by La Perla",
  "Anna Direchina",
  "Annah Stretton",
  "Annah Stretton 20th Anniversary",
  "Anna Ivanova",
  "Anna K.",
  "Anna Kara",
  "Annakiki",
  "Anna Kim",
  "Anna Kosturova",
  "Anna Lesnikova",
  "Anna Locking",
  "Anna Maier",
  "Anna Maier Ulla Maija",
  "Anna Margareta Svensson",
  "Anna Molinari",
  "Anna October",
  "Anna Platie",
  "Anna Romysh",
  "Anna Schimmel",
  "Anna Schwamborn",
  "Anna Smit",
  "Anna Sui",
  "Annasul Y.",
  "Anna Thomass",
  "Anna Westcott",
  "Anna Wilson",
  "Ann Demeulemeester",
  "Anndra Neen",
  "Anne",
  "Anne Barge",
  "Anne Bowen",
  "Anne Bradley",
  "Anne est Folle",
  "Anne Gorke",
  "Anne Klein",
  "Anne Sofie Madsen",
  "Anne Valerie Hash",
  "Anne Vest",
  "Ann Frances",
  "Annhagen",
  "Annie Bostock",
  "Annie Elyse",
  "Annie Ling",
  "Annie Mackinnon",
  "Annie Who",
  "Anniss",
  "Ann Kolomoets",
  "Ann Salazar",
  "Ann Sofie Back",
  "Ann Sofie Back Atelje",
  "Ann Yee",
  "Anny Lin",
  "An Ode to No One",
  "Another Story",
  "Anoushka G.",
  "Anrealage",
  "Anselm Meyer",
  "Anteprima",
  "Anthony Bachtiar",
  "Anthony Franco",
  "Anthony Manfredonia",
  "Anthony Vaccarello",
  "Antik Denim",
  "Antipodium",
  "Antoine Antoniadis",
  "Antoine Peters",
  "Antoine Taurin",
  "Anton Belinskiy",
  "Antonella Rossi",
  "Anton Giulio Grande",
  "Antonhill",
  "Anton Hill",
  "Antoni & Alison",
  "Antonia Paris",
  "Antonia Stellmakh",
  "Antoni Cascione",
  "Antonio Alvarado",
  "Antonio Azzuolo",
  "Antonio Berardi",
  "Antonio Bizarro",
  "Antonio Garcia",
  "Antonio Marras",
  "Antonio Miro",
  "Antonio Ortega",
  "Antonio Riva",
  "Antonio Romano",
  "Antonio Sangoo",
  "Antonio Santana",
  "Anuj Sharma",
  "Anupama Dayal",
  "Anvarian",
  "Anya Hindmarch",
  "Anya Martsenko",
  "Anya Wilkinson",
  "An Yoon Jung Ans",
  "An Yun Jung",
  "Anzevino Getty",
  "AOLISHA Wei Xinkun",
  "Aouadi",
  "AP401 Lucas Barros",
  "Apartamento 03",
  "A.P.C.",
  "Apiece Apart",
  "Apoena",
  "Appolo Braun",
  "April Schmitz",
  "Apt Form",
  "Apu Jan",
  "Apu Zan",
  "Aqua Bandita",
  "Aqua de Coco by Liana Thomaz",
  "Aqua di Lara",
  "Aquarella",
  "Aquascutum",
  "Aquastudio",
  "Aquilano.Rimondi",
  "Aquintic",
  "Araida",
  "Araisara",
  "Araks",
  "Araujo",
  "Archana Rao",
  "Arche",
  "Archetipo Cleofe",
  "Archivo Privato",
  "Area",
  "Arete",
  "Arezzo",
  "Arfango",
  "Arga & Arga",
  "Argande",
  "Argemiro Sierra",
  "Argentina Group Show",
  "Argentine Designers",
  "Argentovivo",
  "Aria",
  "Aria Company",
  "Arianna Cavallo",
  "Arielle Mermin",
  "Ariel Ng Kwok Shuen",
  "Arise Fashion Collective",
  "Aristocrazy",
  "Ariunaa Suri",
  "Arj Selvam",
  "Arjun",
  "Arjun Saluja",
  "Arkadius",
  "Arlequin",
  "Armadillo",
  "Armand Basi",
  "Armani Collezioni",
  "Army of 1",
  "Arnab Sengupta",
  "Arnaldo Ventura",
  "Arnaud Lazérat",
  "Arnau P Bosch",
  "Arngoldt",
  "Arnsdorf",
  "Arnys",
  "Arosah Yaseen",
  "Around Mosqueda",
  "Arpan Vohra",
  "Arrey Kono",
  "Arrondissement Aq1",
  "Arsenicum",
  "Art Bomb",
  "Art C",
  "Arthur Arbesser",
  "Arthur Mendonca",
  "Arthur Yen",
  "Art Institute of NYC",
  "Artis",
  "Artizina",
  "Arto Wong Hiu To",
  "Arts University Bournemouth",
  "Arturo Ramos",
  "Arugambay",
  "Arwa Al Banawi",
  "Arzu Kaprol",
  "Asa by Shreya Oza",
  "Asad Rehman Khan",
  "Asaf Ganot",
  "Asahi Kasei",
  "Asanga",
  "ASAP",
  "A. Sauvage",
  "As Four",
  "Asger Juel Larson",
  "Ashaka Givens",
  "Ashes",
  "Ashii by Ashima Singn",
  "Ashima-Leena",
  "Ashish",
  "Ashish N Soni",
  "Ashleigh Downer",
  "Ashley Isham",
  "Ashley Paige",
  "Ashley Patterson",
  "Ashley Williams",
  "Ashtiani",
  "Ash to Gold",
  "Ashton Michael",
  "Asim Khan",
  "Askh",
  "Aslam Khan",
  "Aslanturk",
  "Asli Filinta",
  "Aspinal of London",
  "Asprey",
  "Assaf Reeb",
  "Assembly",
  "Assembly New York",
  "Assk",
  "Astha Bahl",
  "Aston Martin",
  "Astrid Andersen",
  "Asudan",
  "Atelier 1",
  "Atelier Aimee",
  "Atelier Aimee Montenapoleone",
  "Atelier del sol",
  "Atelier Galetsky",
  "Atelier Gustavo Lins",
  "Atelier Sabrina Persechino",
  "Atelier Signore",
  "A. Testoni",
  "Athria Gomes",
  "Atil Kutoglu",
  "Atithi Gupta",
  "ATM Anthony Thomas Melillo",
  "AT-mue",
  "AT-mue SeoyoungSoo",
  "Ato",
  "Atos Lombardini",
  "Atsu by Atsu Sekhose",
  "Atsuro Tayama",
  "Atsushi Nakashima",
  "Attachment",
  "Attilio Giusti Leombruni",
  "Atto",
  "Audiopark",
  "Augusta Jones",
  "August Getty",
  "Augustin Teboul",
  "Au Jour Le Jour",
  "Aula",
  "Auralo Arte",
  "Aurea Prates",
  "Aurelia Evelyn Santoso",
  "Aurelio Costarella",
  "Auslander",
  "Austin Scarlett",
  "AUT Rookie",
  "Ava",
  "Ava 11",
  "Avalon Vega",
  "Avanti",
  "Ave Ante",
  "AVH by Anne Valerie Hash",
  "Avia of Scandinavia",
  "Avoc",
  "Avshalom Gur",
  "Avva",
  "Awaylee",
  "Aya Couture",
  "Ayaka Ichikawa",
  "Ayako Cheung",
  "Ayesha Zabin",
  "Aylin Kiral",
  "Ayni Cph",
  "A.Y. Not Dead",
  "Ay Not Dead",
  "Ayoung Ji",
  "Ayse Fuat",
  "Aysle",
  "Ayumi Kwan",
  "Aza Hema",
  "Azalea Ho",
  "AZ Araujo",
  "Azzaro",
  "Azzedine Alaia",
  "Azzurra Gronchi",
  "etc.")

+filter-extended(
  "retailer",
  "Retailer",
  true,
  true,
  true,
  "#",
  "0039 Italy",
  "0044",
  "007 Fragrances",
  "0101",
  "0102",
  "011",
  "012 Der Laden",
  "01Men",
  "03 By Knitt03",
  "0815Lovespeace",
  "08Sircus",
  "08 Sircus",
  "08 sircus",
  "1",
  "1000 Poot",
  "100% Holland",
  "101",
  "10119",
  "103",
  "107 Style",
  "109",
  "109 Mens",
  "10 ans",
  "10 Corso Como",
  "10 Crosby by Derek Lam",
  "10 Deco Art",
  "10Deep",
  "10 Deep",
  "10 Feet",
  "10 Men",
  "10 Sei 0 Otto",
  "10 Swedish Designers",
  "1+1",
  "116 East 6th",
  "11AM",
  "11st",
  "1205",
  "120% Lino",
  "1.2.3",
  "124",
  "125 Kvadrat",
  "12 by Nina",
  "12'eren City",
  "12 Little West 12th Street",
  "12Storeez",
  "1/2 Un Demi",
  "1/2 Un-Demi",
  "13 Bonaparte",
  "13 Month",
  "13 Paleis",
  "1423 Naivewater",
  "14 Hopeland",
  "14 Hopland",
  "14 oz.",
  "14 oz. Haus Cumberland",
  "15 Love",
  "1670 Hudson Bay",
  "16 Aout",
  "16 Aout Complex",
  "16 Eme Nord",
  "17dixsept",
  "17 Seventeen",
  "180s",
  "181 Eyewear",
  "1901",
  "191",
  "1969",
  "1973jj",
  "1973JJ",
  "1982114251",
  "1 Acto",
  "1chilu",
  "1er Etage",
  "1er Prix",
  "1 et 1 Jont 3 Future Mamas",
  "1 Metre Carre",
  "1. Percent (1% Shuhei Ogawa)",
  "1 Piu 1 Uguale",
  "1st Mission Challenge Market",
  "2",
  "2%",
  "20,000,000 Fragments",
  "202 Factory",
  "202 Nicole Farhi",
  "20 Years Celebration",
  "210",
  "21MEN",
  "21Men",
  "222 Gallery",
  "22 Bond St.",
  "22 Design Studio",
  "22 Octobre",
  "236 Elizabeth",
  "23 Arrondissements",
  "245 Saint Honore",
  "247",
  "248",
  "24 Colours",
  "24surf",
  "25 Hours Hotel Bikini Berlin",
  "25. Rad",
  "2627 Line",
  "27 Miles Malibu",
  "284",
  "28.5",
  "290 Square Meters",
  "291",
  "291295=Homme",
  "291295 = Homme",
  "291 Venice",
  "2A",
  "2b",
  "2Chillies",
  "2 chix.",
  "2 Cute",
  "2 Di Picche",
  "2FT",
  "2 Line",
  "2ME",
  "2Me",
  "2nd Day",
  "2nd New 2 Season Fashion Design",
  "2PR",
  "2% Tokyo",
  "2TR Fashion",
  "2XU",
  "2ZBot",
  "3",
  "311 West Srl",
  "31 Fashion Club",
  "3.1 Phillip Lim",
  "3.1 Phillip Lim",
  "3.1 Phillip Lim",
  "31 Sons de mode",
  "31 Sons de Mode",
  "32 Dicembre",
  "32 Flavors by YFB",
  "3.3 Field Trip",
  "3/4 three quarter",
  "360 Cashmere",
  "360 Sweater",
  "36 Quatre-Neuf",
  "38ComeOnCommon",
  "3Bias",
  "3 Blonde Bears",
  "3can4on")

+filter-extended(
  "city",
  "City",
  false,
  true,
  true,
  "Asia",
  "Beijing",
  "Chengdu",
  "Chongqing",
  "Guangzhou",
  "Hong Kong",
  "Manila",
  "Mumbai",
  "Okayama",
  "Seoul",
  "Shanghai",
  "Suzhou",
  "Tokyo",
  "Yokohama",
  "Australia",
  "Auckland",
  "Melbourne",
  "Sydney",
  "Europe",
  "Amsterdam",
  "Antwerp",
  "Barcelona",
  "Berlin",
  "Biarritz",
  "Brighton",
  "Cannes",
  "Chamonix",
  "Copenhagen",
  "Dusseldorf",
  "Florence",
  "Forte dei Marmi",
  "Frankfurt",
  "Hamburg",
  "Helsinki",
  "Laax",
  "Lille",
  "London",
  "Madrid",
  "Milan",
  "Milano Marittima",
  "Monte Carlo",
  "Moscow",
  "Munich",
  "Nice",
  "Oslo",
  "Paris",
  "Prague",
  "Reykjavik",
  "Riccione",
  "Rimini",
  "Rome",
  "Saint Petersburg",
  "Saint Tropez",
  "Sevnica",
  "Stockholm",
  "St. Petersburg",
  "The Hague",
  "Vienna",
  "North America",
  "Aspen",
  "Austin",
  "Brooklyn",
  "Burlington",
  "Chicago",
  "Cleveland",
  "Dallas",
  "East Hanover",
  "Hamptons",
  "Hawaii",
  "Honolulu",
  "Huntington Beach",
  "Kahala",
  "Lahaina",
  "Las Vegas",
  "Los Angeles",
  "Maui",
  "Mexico City",
  "Miami",
  "Montclair",
  "Montreal",
  "New York",
  "Orlando",
  "Paramus",
  "Park City",
  "Portland",
  "San Francisco",
  "Santa Monica",
  "Seattle",
  "Short Hills",
  "Toronto",
  "South America",
  "Belo Horizonte",
  "Brasilia",
  "Buenos Aires",
  "Campos do Jordao",
  "Fortaleza",
  "Maceio",
  "Mina Gerais",
  "Rio de Janeiro",
  "Sao Paulo")

+filter-extended(
  "season-month",
  "Season/Month",
  false,
  true,
  true,
  "2016",
  "Autumn/Winter 2016",
  "Bridal Autumn/Winter 2016",
  "Bridal Spring/Summer 2016",
  "Haute Couture Spring/Summer 2016",
  "Pre-Fall 2016",
  "Pre-Summer 2016",
  "Spring/Summer 2016",
  "2015",
  "Autumn/Winter 2015",
  "Bridal Autumn/Winter 2015",
  "Bridal Spring/Summer 2015",
  "Haute Couture Autumn/Winter 2015",
  "Haute Couture Spring/Summer 2015",
  "Pre-Fall 2015",
  "Pre-Summer 2015",
  "Spring/Summer 2015",
  "2014",
  "Autumn/Winter 2014",
  "Bridal Autumn/Winter 2014",
  "Bridal Spring/Summer 2014",
  "Haute Couture Autumn/Winter 2014",
  "Haute Couture Spring/Summer 2014",
  "Pre-Fall 2014",
  "Pre-Summer 2014",
  "Spring/Summer 2014",
  "2013",
  "Autumn/Winter 2013",
  "Bridal Autumn/Winter 2013",
  "Bridal Spring/Summer 2013",
  "Haute Couture Autumn/Winter 2013",
  "Haute Couture Spring/Summer 2013",
  "Pre-Fall 2013",
  "Pre-Summer 2013",
  "Spring/Summer 2013",
  "2012",
  "Autumn/Winter 2012",
  "Bridal Autumn/Winter 2012",
  "Bridal Spring/Summer 2012",
  "Haute Couture Autumn/Winter 2012",
  "Haute Couture Spring/Summer 2012",
  "Pre-Fall 2012",
  "Pre-Summer 2012",
  "Spring/Summer 2012",
  "2011",
  "Autumn/Winter 2011",
  "Bridal Autumn/Winter 2011",
  "Bridal Spring/Summer 2011",
  "Cruise/Resort 2011",
  "Graduate Fashion Week 2011",
  "Haute Couture Autumn/Winter 2011",
  "Haute Couture Spring/Summer 2011",
  "Pre Fall 2011",
  "Spring/Summer 2011",
  "2010",
  "Autumn/Winter 2010",
  "Bridal Autumn/Winter 2010",
  "Bridal Spring/Summer 2010",
  "Cruise/Resort 2010",
  "Haute Couture Autumn/Winter 2010",
  "Haute Couture Spring/Summer 2010",
  "Pre Fall 2010",
  "Spring/Summer 2010",
  "2009",
  "Autumn/Winter 2009",
  "Bridal Autumn/Winter 2009",
  "Bridal Spring/Summer 2009",
  "Cruise/Resort 2009",
  "Graduate Fashion Week 2009",
  "Haute Couture Autumn/Winter 2009",
  "Haute Couture Spring/Summer 2009",
  "Pre Fall 2009",
  "Spring/Summer 2009",
  "2008",
  "Autumn/Winter 2008",
  "Bridal Autumn/Winter 2008",
  "Bridal Spring/Summer 2008",
  "Cruise/Resort 2008",
  "Haute Couture Autumn/Winter 2008",
  "Haute Couture Spring/Summer 2008",
  "Pre Fall 2008",
  "Spring/Summer 2008",
  "2007",
  "Autumn/Winter 2007",
  "Bridal Autumn/Winter 2007",
  "Bridal Spring/Summer 2007",
  "Cruise/Resort 2007",
  "Haute Couture Autumn/Winter 2007",
  "Haute Couture Spring/Summer 2007",
  "Spring/Summer 2007",
  "2006",
  "Autumn/Winter 2006",
  "Bridal Autumn/Winter 2006",
  "Bridal Spring/Summer 2006",
  "Cruise/Resort 2006",
  "Haute Couture Autumn/Winter 2006",
  "Haute Couture Spring/Summer 2006",
  "Spring/Summer 2006",
  "2005",
  "Autumn/Winter 2005",
  "Haute Couture Autumn/Winter 2005",
  "Haute Couture Spring/Summer 2005",
  "Spring/Summer 2005",
  "2004",
  "Autumn/Winter 2004",
  "Haute Couture AutumnWinter 2004",
  "2003",
  "Autumn/Winter 2003")

+filter-extended(
  "event",
  "Event",
  false,
  true,
  true,
  "#",
  "080 Barcelona Fashion",
  "100% Design",
  "100% Design Tokyo",
  "100% Optical",
  "100 Years Under the Dome",
  "2009 Trade Show Color Cards",
  "3D Printshow",
  "5 Elements",
  "60 Years of Miffy",
  "ABC Kids Expo",
  "AbitoInScena",
  "About J",
  "Accessorie Circuit",
  "Accessories The Show",
  "ACLE",
  "Action Sports Retailer",
  "A Current Affair",
  "A Fair",
  "Agenda",
  "Alexander Girard: An Uncommon Vision",
  "Alexander McQueen: Savage Beauty",
  "All China Leather Exhibition",
  "Ambiente",
  "American Woman: Fashioning a National Identity",
  "Anime Expo",
  "Apparelsourcing",
  "Architectural Digest Home Design Show",
  "Art Basel",
  "Art on Paper",
  "Art Rotterdam",
  "Asia's Fashion Jewellery & Accessories Fair",
  "Aspen Fashion Week",
  "Atlanta International Gift & Home Furnishings Market",
  "Autumn Fair",
  "Axis",
  "Babyccino",
  "Barbie Exhibit",
  "Baselworld",
  "Beauty Fair",
  "Beauty International",
  "Beautyworld",
  "Beijing Auto Show",
  "Berlin Bicycle Show",
  "Bespoke",
  "Bestseller United Cph",
  "Beyond Beauty",
  "Biennale Interieur",
  "Biennale Internationale Design",
  "BIFF&BIL",
  "Bijorhca",
  "BKLYN Designs",
  "Blood is the New Black",
  "Bloomingdale's Holiday Preview",
  "Blue and White - Japanese Traditional Kimono Textile by Shoji Yamamura",
  "Bluezone",
  "Bodylook",
  "Boudoir",
  "Brandery",
  "Brand Licensing Europe",
  "Bread & Butter",
  "Bright",
  "Britannica 1951-1953",
  "Bubble",
  "Buenos Aires Fashion Week",
  "Cabana",
  "Caffe Culture",
  "California Gift Show",
  "California Market Center",
  "Campaign for Wool - Wool School",
  "Capsule",
  "Casa Cor",
  "Cero a Cuatro",
  "Cersaie",
  "Chelsea College of Art and Design BA Show",
  "Chelsea Undergraduate Show",
  "CHIC",
  "Chic Young Blood",
  "Children Baby Maternity Expo",
  "Children's Club",
  "Children's Fashion Cologne",
  "Children's Great Event Shoe Show",
  "China Sourcing Fair",
  "China Wallpapers Decorative Textile & Home Soft Decorations Exposition",
  "Chocolate Rain",
  "Christmasworld",
  "CIFF",
  "CIFF Kids",
  "Cinte Techtextil China",
  "Class",
  "Clerkenwell Design Week",
  "Coachella",
  "Code",
  "Code",
  "COEUR",
  "Coeur",
  "Collect",
  "Collective",
  "Colombiamoda",
  "Comocrea",
  "Compass",
  "Consumer Electronics Show",
  "con(Temporary) Art",
  "Cookies Show",
  "Copenhagen Showhow",
  "Cosme Tokyo",
  "Cosmopack",
  "Cosmoprof",
  "Coterie",
  "Couromoda",
  "Couture",
  "CPD Dusseldorf",
  "CPH Kids",
  "CPH Vision",
  "CPI",
  "CPM",
  "Craft Design",
  "CSM Graphic Design Degree Show",
  "Culture Chanel",
  "Curve",
  "etc.")

+filter-extended(
  "prints-graphics",
  "Prints & Graphics",
  false,
  true,
  true,
  "A",
  "Abstract",
  "All-over Print/Pattern",
  "Animal Motifs",
  "Animal Prints/Skins",
  "Argyl",
  "Asian",
  "Baroque",
  "Bird",
  "Black/White",
  "Border/Border Prints",
  "Bows/Ties",
  "Brushstroke/Splatter",
  "Butterfly",
  "Camouflage",
  "Cartoons/Characters",
  "Conversational",
  "Cork",
  "Cow",
  "Denim/Chambray",
  "Ditsy/Small Florals",
  "Dots/Spots",
  "Ethnic/Tribal",
  "Faces/Portraits",
  "Fair Isle",
  "Fashion Accessories",
  "Feathers/Wings",
  "Flag",
  "Florals",
  "Food/Beverage",
  "Foulard",
  "Fruit/Vegetable",
  "Geometrics",
  "Gingham",
  "Giraffe",
  "Graffiti/Scribble",
  "Hand Drawn/Illustration",
  "Hearts",
  "Herringbone",
  "Holidays",
  "Houndstooth",
  "Ikat/Batik",
  "Insect",
  "Knit/Jersey",
  "Lace Print",
  "Large Florals",
  "Leopard/Cheetah",
  "Logo",
  "Marble",
  "Metallic",
  "Mirrored/Symmetrical",
  "Mosaic/Tile",
  "Music",
  "Nature/Landscape",
  "Nautical",
  "Ombre/Tie-Dye",
  "Outer Space",
  "Painted/Painterly",
  "Paisley",
  "Patchwork",
  "Photo-realistic",
  "Pinstripes",
  "Pixelated/Digitised",
  "Placement Graphic",
  "Plaid/Checks",
  "Scrollwork/Arabesque",
  "Sealife/Reptiles",
  "Signs/Symbols",
  "Skull/Skeleton",
  "Smoke",
  "Snake",
  "Sports",
  "Star",
  "Stripes",
  "Tattoo",
  "Text/Numbers",
  "Texture",
  "Tiger",
  "Toile",
  "Transportation",
  "Trompe L'oeil",
  "Tropical/Hawaiian",
  "Watercolour",
  "Zebra",
  "Zig-zag")

//- +filter-extended(
//-   "fabrics-materials",
//-   "Fabrics & Materials",
//-   false,
//-   true,
//-   true,
//-   "A",
//-   "Abstract",
//-   "All-over Print/Pattern",
//-   "Animal Motifs",
//-   "Animal Prints/Skins",
//-   "Argyl",
//-   "Asian",
//-   "Baroque",
//-   "Bird",
//-   "Black/White",
//-   "Border/Border Prints",
//-   "Bows/Ties",
//-   "Brushstroke/Splatter",
//-   "Butterfly",
//-   "Camouflage",
//-   "Cartoons/Characters",
//-   "Conversational",
//-   "Cork",
//-   "Cow",
//-   "Denim/Chambray",
//-   "Ditsy/Small Florals",
//-   "Dots/Spots",
//-   "Ethnic/Tribal",
//-   "Faces/Portraits",
//-   "Fair Isle",
//-   "Fashion Accessories",
//-   "Feathers/Wings",
//-   "Flag",
//-   "Florals",
//-   "Food/Beverage",
//-   "Foulard",
//-   "Fruit/Vegetable",
//-   "Geometrics",
//-   "Gingham",
//-   "Giraffe",
//-   "Graffiti/Scribble",
//-   "Hand Drawn/Illustration",
//-   "Hearts",
//-   "Herringbone",
//-   "Holidays",
//-   "Houndstooth",
//-   "Ikat/Batik",
//-   "Insect",
//-   "Knit/Jersey",
//-   "Lace Print",
//-   "Large Florals",
//-   "Leopard/Cheetah",
//-   "Logo",
//-   "Marble",
//-   "Metallic",
//-   "Mirrored/Symmetrical",
//-   "Mosaic/Tile",
//-   "Music",
//-   "Nature/Landscape",
//-   "Nautical",
//-   "Ombre/Tie-Dye",
//-   "Outer Space",
//-   "Painted/Painterly",
//-   "Paisley",
//-   "Patchwork",
//-   "Photo-realistic",
//-   "Pinstripes",
//-   "Pixelated/Digitised",
//-   "Placement Graphic",
//-   "Plaid/Checks",
//-   "Scrollwork/Arabesque",
//-   "Sealife/Reptiles",
//-   "Signs/Symbols",
//-   "Skull/Skeleton",
//-   "Smoke",
//-   "Snake",
//-   "Sports",
//-   "Star",
//-   "Stripes",
//-   "Tattoo",
//-   "Text/Numbers",
//-   "Texture",
//-   "Tiger",
//-   "Toile",
//-   "Transportation",
//-   "Trompe L'oeil",
//-   "Tropical/Hawaiian",
//-   "Watercolour",
//-   "Zebra",
//-   "Zig-zag")