mixin filter(id, title, type, ...items)
  .filter
    .filter-title.block-sm.overflow-auto.hoverable(id="filter-btn-" + id)
      span.wgsn-font.pull-left= title
      i.icon.icon-angle-right.pull-right.tight
    .filter-content.overflow-auto
      ul.clean
        each item in items
          li
            label(for=item)
              input.pull-left(type="checkbox" id=item)
              span= item