mixin filter(id, title, viewall, filteredby, ...items)
  .filter.accordion-section.closed(id="filter-" + id)
    .accordion-title.overflow-auto.hoverable(id="filter-btn-" + id)
      span.wgsn-font.pull-left= title
      i.section-expand-icon.icon.icon-angle-right.pull-right.text-smaller
    
    .accordion-content
      .list-container.block-hor-md.block-bot-sm
        each item in items
          label.checkbox-radio(for=item)= item
            input(type="checkbox" id=item)
      
      if viewall
        .accordion-footer.overflow-auto
          p.text-underline.btn-view-all.hoverable.pull-left.tight(id="btn-view-all-" + id) View all


//- ============================================================


.filter-structure
  //- id, title, viewall, filteredby, ...items
  +filter(
    "category",
    "Category",
    false,
    false,
    "Images",
    "Catwalk",
    "Marketing Campaigns", 
    "Retail", 
    "Street Style", 
    "Trade Shows & Exhibits",
    "Vintage",
    "Design Resources",
    "WGSN Original CADs/Flats",
    "WGSN Original Brushes & Fills",
    "WGSN Original Prints & Graphics",
    "Colour Libraries",
    "Fabric Swatches")

  //- id, title, viewall, filteredby, ...items
  +filter(
    "market",
    "Market",
    false,
    false,
    "Women",
    "Men",
    "Girls",
    "Boys")

  //- id, title, viewall, filteredby, ...items
  +filter(
    "product",
    "Product",
    true,
    true,
    "Apparel",
    "Accessories",
    "Beauty",
    "Footwear")

  //- id, title, viewall, filteredby, ...items
  +filter(
    "brand",
    "Brand",
    true,
    true,
    "Acne Studios",
    "Balenciaga",
    "Chloé",
    "Givenchy",
    "Saint Laurent")

  //- id, title, viewall, filteredby, ...items
  +filter(
    "retailer",
    "Retailer",
    true,
    true,
    "Galeries Lafayette",
    "H&M",
    "Opening Ceremony",
    "Topshop",
    "Zara")

  //- id, title, viewall, filteredby, ...items
  +filter(
    "city",
    "City",
    true,
    true,
    "New York",
    "London",
    "Paris",
    "Milan",
    "Sao Paolo")

  //- id, title, viewall, filteredby, ...items
  +filter(
    "season-month",
    "Season/Month",
    true,
    true,
    "Autumn/Winter 2016",
    "Bridal Autumn/Winter 2016",
    "June 2016",
    "May 2016",
    "April 2016")

  //- id, title, viewall, filteredby, ...items
  +filter(
    "event",
    "Event",
    true,
    true,
    "Bread & Butter",
    "Denim by Premiere Vision",
    "London Design Festival",
    "Maison & Objet",
    "Premiere Vision")

  //- id, title, viewall, filteredby, ...items
  +filter(
    "colour-tone",
    "Colour & Tone",
    true,
    false,
    "Black",
    "White",
    "Grey",
    "Red",
    "Blue")

  //- id, title, viewall, filteredby, ...items
  +filter(
    "prints-graphics",
    "Prints & Graphics",
    true,
    true,
    "Animal print",
    "Checks/Plaids",
    "Geometric",
    "Heart",
    "Spots")

  //- id, title, viewall, filteredby, ...items
  +filter(
    "material",
    "Material",
    true,
    true,
    "Denim",
    "Eco Sustainable", 
    "Fur",
    "Leather & Suede", 
    "Woven")

  //- id, title, viewall, filteredby, ...items
  +filter(
    "embellishments-trims",
    "Embellishments & Trims",
    true,
    true,
    "Beads/Beading",
    "Branding",
    "Flowers/Rosettes",
    "Ruffles",
    "Zips/Zippers")

  //- id, title, viewall, filteredby, ...items
  +filter(
    "design-details",
    "Design Details",
    true,
    true,
    "Backless",
    "Cutout",
    "Drawstring",
    "Peplum",
    "Pleats/Pleated")

  //- id, title, viewall, filteredby, ...items
  +filter(
    "necklines-collars",
    "Necklines & Collars",
    true,
    true,
    "Boatneck/Bateau",
    "Collarless",
    "Halter",
    "One-Shoulder",
    "Strapless")

  //- id, title, viewall, filteredby, ...items
  +filter(
    "lengths",
    "Lengths",
    false,
    true,
    "Knee Length",
    "Long/Maxi",
    "Mdid/Mid-Calf",
    "Mini-Short")