mixin filter(id, title, viewall, filteredby, ...items)
  .filter.accordion-section.closed
    .accordion-title.overflow-auto.hoverable(id="filter-btn-" + id)
      span.wgsn-font.pull-left= title
      i.section-expand-icon.icon.icon-plus.pull-right.tight
    
    .accordion-content
      ul.clean.overflow-auto
        each item in items
          li
            label.checkbox-radio(for=item)
              input.pull-left(type="checkbox" id=item)
              span= item
      
      .accordion-footer.overflow-auto
        p.tight.wgsn-font.hoverable.pull-left Reset filter
        if viewall
          p.tight.wgsn-font.btn-view-all.hoverable.pull-right(id="btn-view-all-" + id)
            span.block-right-xxs View all
            i.icon.icon-angle-right.tight


//- ============================================================

.filter-structure
  +filter(
    "category",
    "Category",
    false,
    false,
    "Catwalk",
    "Denim Details", 
    "Marketing Campaigns", 
    "Mood", 
    "Retail", 
    "Showrooms", 
    "Street Style", 
    "Trade Shows & Exhibits",
    "Vintage",
    "Brushes & Fills",
    "Colour Libraries",
    "Flats Library",
    "Graphics & Clip Art",
    "Materials & Textiles",
    "Prints")

  +filter(
    "market",
    "Market",
    false,
    false,
    "Women",
    "Men",
    "Kids",
    "Girls",
    "Boys")

  +filter(
    "products",
    "Products",
    true,
    true,
    "Apparel",
    "Accessories",
    "Beauty",
    "Footwear")

  +filter(
    "brand",
    "Brand",
    true,
    true,
    "Acne Studios",
    "Alexander McQueen",
    "Aquazzura",
    "Balenciaga",
    "Balmain",
    "Bottega Veneta",
    "Burberry London",
    "Chloé",
    "Christian Louboutin",
    "Dolce & Gabbana",
    "Eres",
    "Etro",
    "Fendi",
    "Gianvito Rossi",
    "Givenchy",
    "Gucci",
    "Isabel Marant",
    "Jimmy Choo",
    "Lanvin",
    "Marni",
    "Miu Miu",
    "Oscar de la Renta",
    "Proenza Schouler",
    "Saint Laurent",
    "Stella McCartney",
    "TOM FORD",
    "The Row",
    "Valentino",
    "Victoria Beckham")

  +filter(
    "retailer",
    "Retailer",
    true,
    true,
    "Dolce & Gabbana",
    "French Connection",
    "Galeries Lafayette",
    "H&M",
    "House of Fraser",
    "JCPenny",
    "J.Crew",
    "Massimo Dutti",
    "Max & Co.",
    "Old Navy",
    "Opening Ceremony",
    "Selfridges",
    "Sisley",
    "Topshop",
    "Zara")

  +filter(
    "city",
    "City",
    true,
    true,
    "New York",
    "London",
    "Paris",
    "Milan")

  +filter(
    "season-month",
    "Season/Month",
    true,
    true,
    "Autumn/Winter 2016",
    "Bridal Autumn/Winter 2016",
    "Bridal Spring/Summer 2016",
    "Haute Couture Spring/Summer 2016",
    "Pre-Fall 2016",
    "Pre-Summer 2016",
    "Spring/Summer 2016")

  +filter(
    "event",
    "Event",
    true,
    true,
    "Agenda",
    "Bread & Butter",
    "CIFF",
    "Denim by Premiere Vision",
    "Dutch Design Week",
    "GDS Dusseldorf",
    "IMM Cologne",
    "ISPO",
    "London Design Festival",
    "Maison & Objet",
    "Milan Design Week",
    "Outdoor Retailer",
    "Premiere Vision",
    "Project",
    "Seek",
    "Vicenzaoro")

  +filter(
    "colour",
    "Colour & Tone",
    false,
    false,
    "Black",
    "White",
    "Grey",
    "Red",
    "Orange",
    "Yellow",
    "Green",
    "Blue",
    "Navy",
    "Purple",
    "Pink",
    "Cream",
    "Gold",
    "Silver",
    "Multi")

  +filter(
    "prints-graphics",
    "Prints & Graphics",
    true,
    true,
    "Abstract",
    "Animal print",
    "Aztec",
    "Camouflage",
    "Checks/Plaids",
    "Floral",
    "Geometric",
    "Gothic",
    "Heart",
    "Ikat",
    "Paisley",
    "Placement print",
    "Spots",
    "Stripe",
    "Tropical")

  +filter(
    "fabrics-materials",
    "Fabrics & Materials",
    true,
    true,
    "Abstract",
    "Animal print",
    "Aztec",
    "Camouflage",
    "Checks/Plaids",
    "Floral",
    "Geometric",
    "Gothic",
    "Heart",
    "Ikat",
    "Paisley",
    "Placement print",
    "Spots",
    "Stripe",
    "Tropical")