.left-side-panel
  .panel-filters
    .scroll-container
      include filter-structure

  .panel-folders
    .scroll-container
      include ../workspace/folder-structure

    .btn-access-workspace.flex-center.bg-white.hoverable.block-xs
      span.wgsn-font Access workspace
      i.icon.icon-double-angle-right

  .btn-left-side-panel: i.icon.icon-angle-left