.left-side-panel.lhs-filters-active
  .row.tabs
    .col-xs-6.text-center: .tab.active.hoverable#tab-filters: span.wgsn-font Filters
    .col-xs-6.text-center: .tab.hoverable#tab-folders: span.wgsn-font Workspace

  .panel-filters.block-hor-xxs
    .scroll-container
      include filter-structure

  .panel-folders.block-hor-xxs
    .scroll-container
      include ../workspace/folder-structure

    .board-preview.closed.hoverable
      .block-xs
        span.wgsn-font Board preview
        i.icon.icon-double-angle-down.pull-right

      .scroll-container.block-hor-xs
        img(src="https://www.wgsn.com/storage/vol20/ss_image_store/35/39/44/42/media_blm_aw16_003.jpg" height="100")
        img(src="https://www.wgsn.com/storage/vol20/ss_image_store/45/39/44/42/media_blm_aw16_004.jpg" height="100")
        img(src="https://www.wgsn.com/storage/vol20/ss_image_store/55/39/44/42/media_blm_aw16_006.jpg" height="100")
        img(src="https://www.wgsn.com/storage/vol20/ss_image_store/14/10/54/42/media_blm_det_aw16_217.jpg" height="100")
        img(src="https://www.wgsn.com/storage/vol20/ss_image_store/75/39/44/42/media_blm_aw16_008.jpg" height="100")
        img(src="https://www.wgsn.com/storage/vol20/ss_image_store/85/39/44/42/media_blm_aw16_010.jpg" height="100")
        img(src="https://www.wgsn.com/storage/vol20/ss_image_store/95/39/44/42/media_blm_aw16_011.jpg" height="100")
        img(src="https://www.wgsn.com/storage/vol20/ss_image_store/00/60/54/42/media_blm_det_aw16_225.jpg" height="100")
        img(src="https://www.wgsn.com/storage/vol20/ss_image_store/16/39/44/42/media_blm_aw16_014.jpg" height="100")
        img(src="https://www.wgsn.com/storage/vol20/ss_image_store/26/39/44/42/media_blm_aw16_016.jpg" height="100")
        img(src="https://www.wgsn.com/storage/vol20/ss_image_store/36/39/44/42/media_blm_aw16_018.jpg" height="100")
        img(src="https://www.wgsn.com/storage/vol20/ss_image_store/46/39/44/42/media_blm_aw16_019.jpg" height="100")
        img(src="https://www.wgsn.com/storage/vol20/ss_image_store/56/39/44/42/media_blm_aw16_021.jpg" height="100")
        img(src="https://www.wgsn.com/storage/vol20/ss_image_store/66/39/44/42/media_blm_aw16_022.jpg" height="100")
        img(src="https://www.wgsn.com/storage/vol20/ss_image_store/76/39/44/42/media_blm_aw16_023.jpg" height="100")
        img(src="https://www.wgsn.com/storage/vol20/ss_image_store/86/39/44/42/media_blm_aw16_025.jpg" height="100")
        img(src="https://www.wgsn.com/storage/vol20/ss_image_store/96/39/44/42/media_blm_aw16_026.jpg" height="100")
        img(src="https://www.wgsn.com/storage/vol20/ss_image_store/07/39/44/42/media_blm_aw16_028.jpg" height="100")
        img(src="https://www.wgsn.com/storage/vol20/ss_image_store/17/39/44/42/media_blm_aw16_029.jpg" height="100")
        img(src="https://www.wgsn.com/storage/vol20/ss_image_store/27/39/44/42/media_blm_aw16_031.jpg" height="100")
        img(src="https://www.wgsn.com/storage/vol20/ss_image_store/37/39/44/42/media_blm_aw16_033.jpg" height="100")
        img(src="https://www.wgsn.com/storage/vol20/ss_image_store/47/39/44/42/media_blm_aw16_034.jpg" height="100")
        img(src="https://www.wgsn.com/storage/vol20/ss_image_store/57/39/44/42/media_blm_aw16_036.jpg" height="100")

.filter-extended-overlay
include filter-extended