.left-side-panel
  .panel-filters
    .scroll-container
      include filter-structure

  .panel-folders
    .scroll-container
      include ../workspace/folder-structure

    .btn-access-workspace.flex-center.bg-xdk-grey.hoverable.block-xs
      i.icon.icon-briefcase
      span.wgsn-font Access workspace

  .btn-left-side-panel: i.icon.icon-angle-left