.left-side-panel
  .panel-filters
    .scroll-container
      include filter-structure

  .panel-folders
    .scroll-container
      include ../workspace/folder-structure

    .btn-access-workspace.flex-center.bg-xdk-grey.hoverable: i.icon.icon-briefcase.tight

  .btn-left-side-panel: i.icon.icon-angle-left