.left-side-panel
  .panel-filters
    include filter-structure

  .panel-folders
    .scroll-container
      include ../workspace/folder-structure

.btn-left-side-panel.flex-center.hoverable: i.icon.icon-double-angle-left
.btn-access-workspace.hoverable.block-xs.flex-center
  .inline-block.block-right-xs: i.icon.icon-double-angle-right.inline-block
  span.wgsn-font Access workspace
  span.wgsn-font Close workspace