.left-side-panel.lhs-filters-active
  .panel-filters.block-hor-xxs
    .scroll-container
      include filter-structure

  .panel-folders.block-hor-xxs
    .scroll-container
      include ../workspace/folder-structure