extends modal

block append modal-vars
  - id = "create-new-board"
  - title = "Create new folder"
  - type = "simple-modal"

block modal-content
  .row
    .col-xs-12
      input(type="text", placeholder="Folder name")