extends modal

block append modal-vars
  - id = "duplicate-board"
  - title = "Duplicate board"
  - type = "simple-modal"

block modal-content
  .row
    .col-xs-12
      input(type="text", placeholder="Enter a name for your new board")