extends modal

block append modal-vars
  - id = "move"
  - title = "Move folder"
  - type = "simple-modal"

block modal-content
  .row
    .col-xs-12
      form
        label Choose a folder
          select
            option Spring/Summer 2016
            option Inspiration Images
            option Reports to Read
            option Fashion Shows
            option Balmain 2016
            option Celine
            option Alexander Wang
            option Opening Ceremony
            option Lookbooks