.block-right-xs.inline-block.hoverable
  .print-layout-tile.pp-1.active
    .layout-tile-container
      .block
    p 1 per page

.block-right-xs.inline-block.hoverable
  .print-layout-tile.pp-2
    .layout-tile-container
      .block
      .block
    p 2 per page

.block-right-xs.inline-block.hoverable
  .print-layout-tile.pp-3
    .layout-tile-container
      .block
      .block
      .block
    p 3 per page

.block-right-xs.inline-block.hoverable
  .print-layout-tile.pp-4
    .layout-tile-container
      .block
      .block
      .block
      .block
    p 4 per page

.block.inline-block.hoverable
  .print-layout-tile.pp-thumbnails
    .layout-tile-container
      .block
      .block
      .block
      .block
      .block
      .block
      .block
      .block
      .block
    p Thumbnails