extends modal

block append modal-vars
  - id = "rename-board"
  - title = "Rename board"
  - type = "simple-modal"

block modal-content
  .row
    .col-xs-12
      input(type="text", placeholder="Enter a new name for your board")