extends modal

block append modal-vars
  - id = "rename-board"
  - title = "Edit folder"
  - type = "simple-modal"

block modal-content
  .row
    .col-xs-12
      form
        label Folder name
          input(type="text", value="Balmain 2016")

        label Folder description
          textarea Lorem ipsum dolor sit amet, consectetur adipiscing elit.