extends modal

block append modal-vars
  - id = "save-search"
  - title = "Save search"
  - type = "simple-modal"

block modal-content
  .row
    .col-xs-12
      form
        label Saved search name
          input(type="text", placeholder="Saved search name")