extends modal

block append modal-vars
  - id = "save-search"
  - title = "Save search"
  - type = "simple-modal"

block modal-content
  .row.block-bot-sm
    .col-xs-12
      input(type="text", placeholder="Enter a name for your saved search")