extends modal

block append modal-vars
  - id = "save"
  - title = "Save"

block modal-content
  .row
    .col-xs-6.save-modal-content-container.bg-xlt-grey.border-right.block-sm.flex-center
      .img-container
        img(src="https://www.wgsn.com/storage/vol20/ss_image_store/45/39/44/42/media_blm_aw16_004.jpg")
        textarea.comment-input(placeholder="Add a comment (optional)")

    .col-xs-6.save-modal-folder-container
      .folder-structure.overflow-auto
        .accordion-section.accordion-section-recent-boards.open
          .accordion-title
            span.wgsn-font Recent Folders
            i.section-expand-icon.icon.icon-angle-down.pull-right.tight
          
          .accordion-content
            .board-row.level-1
              span.board-name Autumn/Winter 2016
              .btn.btn-black.btn-sm.close-modal Save

            .board-row.level-1
              span.board-name Balmain 2016
              .btn.btn-black.btn-sm.close-modal Save

            .board-row.level-1
              span.board-name Inspiration Images
              br
              span.board-filepath.text-grey.text-smaller Julian Ramirez &gt; Images
              .btn.btn-black.btn-sm.close-modal Save
        
        include ../workspace/folder-structure

      .modal-create-new-board-container.border-top
        input(type="text" placeholder="+ Create new folder")
        .btn.btn-black.btn-sm.close-modal Create