extends modal

block append modal-vars
  - id = "send"
  - title = "Email"

block modal-content
  #modal-step-1
    .block-md
      .row
        .col-xs-12
          h3 Layout

      .row.block-bot-md
        .col-xs-12
          include print-layout-tiles

      .row.block-top-xs.block-bot-xs
        .col-xs-2
          label.block-top-xs Paper size:
          
        .col-xs-4
          select
            option Letter (8.5" x 11")
            option Legal (8.5" x 14")
            option Tabloid (11" x 17")
            option A4 (297 x 210mm)
            option A3 (420 x 297mm)

      .row.block-bot-md
        .col-xs-2
          label.block-top-xs Orientation:
          
        .col-xs-4
          select
            option Landscape
            option Portrait

      .row.block-top-xs.block-bot-xs
        .col-xs-12
          .block-right-md.pull-left
            label.checkbox-radio(for='print-filename') Filename
              input#print-filename(type='checkbox')

          .block-right-md.pull-left
            label.checkbox-radio(for='print-details') Details
              input#print-details(type='checkbox')

          .block-right-md.pull-left
            label.checkbox-radio(for='print-comments') Comments
              input#print-comments(type='checkbox')

      .row
        .col-xs-12
          .block-top-xs.block-right-md.pull-left
            label.checkbox-radio(for='print-page-title') Page title
              input#print-page-title(type='checkbox')

          .pull-left
            input(type='text', placeholder='Page title')

    .modal-footer.text-right
      .block-right-sm.inline-block: .btn.btn-white.close-modal Cancel
      .inline-block: .btn.btn-black.btn-modal-continue Continue

  #modal-step-2
    .block-md
      form
        .row.block-bot-md
          .col-xs-12
            label To
              //- ul#myTags
              input(type="text", placeholder="Enter a valid email address")

            label CC
              span.optional (Optional)
              input(type="text", placeholder="Enter a valid email address")

            label Subject
              span.optional (Optional)
              input(type="text", placeholder="")

            label.tight Message
              span.optional (Optional)
              textarea(placeholder="Message")

        .row.block-bot-md
          .col-xs-6
            label Available:
              select
                option 2 days
                option 5 days
                option 10 days
                option 15 days
                option 20 days

          .col-xs-6
            label Language:
              select
                option English
                option Spanish
                option Portuguese
                option Chinese
                option Japanese
                option Korean

        .row.block-bot-md
          .col-xs-12
            .block-right-md.pull-left
              label.tight Send confirmation for:

            .block-right-md.pull-left
              label.checkbox-radio(for='send-confirm-to') To addresses
                input#send-confirm-to(type='checkbox')

            .block-right-md.pull-left
              label.checkbox-radio(for='send-confirm-cc') CC addresses
                input#send-confirm-cc(type='checkbox')

        .row
          .col-xs-12
            label.checkbox-radio.tight(for='send-download-links') Show download links
              input#send-download-links(type='checkbox')

    .modal-footer.text-right
      .block-right-sm.inline-block: .btn.btn-white.close-modal Cancel
      .inline-block: .btn.btn-black.close-modal Done