extends modal

block append modal-vars
  - id = "send"
  - title = "Send"

block modal-content
  .row.block-bot-sm
    .col-xs-12
      ul#myTags

  .row.block-bot-sm
    .col-xs-12
      input(type="text", placeholder="Subject (optional)")

  .row.block-bot-sm
    .col-xs-12
      textarea(placeholder="Message (optional)")

  .row
    .col-xs-6
      label.checkbox-radio(for="send-comments")
        input#send-comments(type="checkbox" checked)
        span Include comments

    .col-xs-6
      label.checkbox-radio(for="send-children")
        input#send-children(type="checkbox" checked)
        span Include nested folders

  .row
    .col-xs-12
      label.checkbox-radio(for="receipt-notification")
        input#receipt-notification(type="checkbox" checked)
        span Notify me when message is received.