extends modal

block append modal-vars
  - id = "send"
  - title = "Send"

block modal-content
  .row
    .col-xs-12
      form
        label Recipients
          //- ul#myTags
          input(type="text", placeholder="Enter email addresses, separated with commas")

        label Subject
          span.optional (Optional)
          input(type="text", placeholder="A subject for your email")

        label Message
          span.optional (Optional)
          textarea(placeholder="Message")

        label.checkbox-radio(for="send-comments") Include comments
          input#send-comments(type="checkbox" checked)

        label.checkbox-radio(for="send-children") Include nested folders
          input#send-children(type="checkbox" checked)

        label.checkbox-radio(for="receipt-notification") Notify me when message is received.
          input#receipt-notification(type="checkbox" checked)