extends modal

block append modal-vars
  - id = "send"
  - title = "Send"

block modal-content
  .row.block-bot-sm
    .col-xs-12
      ul#myTags

  .row.block-bot-sm
    .col-xs-12
      input(type="text", placeholder="Subject (optional)")

  .row.block-bot-sm
    .col-xs-12
      textarea(placeholder="Message (optional)")

  .row.block-bot-sm
    .col-xs-12
      label(for="receipt-notification")
        input#receipt-notification(type="checkbox")
        span Notify me when message is received.

  .row
    .col-xs-12
      label(for="send-comments")
        input#send-comments(type="checkbox")
        span Send comments with items