.comments-panel
  width: $comments-panel-width
  height: calc(100vh - #{$global-product-row-height} - #{$title-row-height})
  position: absolute
  top: $title-row-height
  right: 0
  overflow-y: hidden
  transform: translate3d(100%, 0, 0)
  box-shadow: 0 0 3px rgba(black, 0.15)

  .scroll-container
    height: calc(100% - 93px)
    overflow-y: auto

  .comment
    .icon-trash
      opacity: 0
      margin-top: 4px

    &:hover
      .icon-trash
        opacity: 1
  
    &:last-of-type
      border-bottom: none

  .new-comments-bar
    color: $yellow
    border-top: 1px solid $yellow
    margin-top: -1px

  .btn-new-comments
    position: fixed
    bottom: 70px
    right: calc(#{$comments-panel-width} / 2)
    transform: translate3d(50%, 0, 0)
    @extend .box-shadow

    &.visually-hidden
      opacity: 0

    &.hidden
      display: none

  .comment-input-container
    position: absolute
    bottom: 0
    left: 0
    width: 100%

    textarea
      width: 100%
      height: 38px
      min-height: 38px

      // &:focus
      //   height: 100px 

  // &.comment-input-active
  //   .scroll-container
  //     height: calc(100% - 154px)

  //   .btn-new-comments
  //     transform: translate3d(50%, -61px, 0)