.accordion-section.filter
  .accordion-content
    ul
      height: 200px
      @extend .block-hor-sm
      @extend .block-bot-sm
      display: flex
      flex-direction: column
      border-bottom: 1px solid rgba(white, 0.05)

      li
        width: 100%
        margin-bottom: 15px

        &:first-of-type
          margin-top: 5px

        &:last-of-type
          margin-bottom: 0

        span
          display: inline-block
          width: calc(100% - 30px)
          line-height: 1.4em

  &.open
    .accordion-title span,
    .accordion-title i
      color: white

    .accordion-content
      height: 242px


// ==================================================


.filter-extended
  width: 80vw
  max-width: 1000px

  .filter-extended-anchors
    .anchor-letter
      @extend .hoverable
      @extend .inline-block
      @extend .wgsn-font
      margin: 11px 14px 0 0
      border-radius: 50%

      &:hover,
      &.active,
      &:first-of-type
        color: $fashion

  .filter-extended-list
    width: 100%
    height: 50vh
    @extend .block-top-sm
    overflow-x: auto
    overflow-y: hidden
    display: flex
    flex-direction: column
    flex-wrap: wrap
    
    li
      width: 200px
      margin-bottom: 10px
      
      span
        display: inline-block
        width: calc(100% - 30px)
        line-height: 1.4em

    .filter-extended-subheading
      @extend .wgsn-font

  .hierarchical-list
    .filter-extended-list
      overflow: hidden
      flex-wrap: nowrap
      padding: 0

      li
        width: 100%

        span
          width: calc(100% - 60px)