// ====================
// LHS filters
// ====================
.filter-structure
  height: 100%
  overflow-y: auto

.accordion-section.filter
  .accordion-content
    border-color: $lt-grey
    
    .list-container
      display: flex
      flex-direction: column

      label
        width: 100%

        &.subheading
          margin-top: 16px
          padding-left: 0
          position: relative
          display: inline-block
          @extend .wgsn-font
          @extend .text-grey
          
          input
            display: none

        &:last-of-type
          margin-bottom: 0

        &:first-of-type.subheading
          margin-top: 0

  // .accordion-footer
  //   p
  //     margin: 0 0 0 24px

  &.open
    .accordion-content
      height: auto

  #filter-btn-category + .accordion-content
    .list-container
      label:nth-of-type(1),
      label:nth-of-type(8)
        @extend .subheading

body.image-library-view:not(.image-library-view-search)
  #filter-embellishments-trims,
  #filter-design-details,
  #filter-necklines-collars,
  #filter-lengths
    display: none


// ====================
// Modal fitlers
// ====================
.filter-extended
  width: 80vw
  max-width: 1000px
  overflow: hidden

  .modal-content
    padding-left: 0
    padding-right: 0
    overflow: hidden

  .col-xs-8
    position: relative
    // height: 36px

  .filter-extended-anchors
    position: absolute
    top: 50%
    left: 10px
    transform: translate3d(0, -50%, 0)

    .anchor-letter
      @extend .hoverable
      @extend .inline-block
      @extend .wgsn-font
      margin: 5px 15px 5px 0
      border-radius: 50%

      &:hover
        color: $fashion

  .list-container
    width: 100%
    height: 390px
    @extend .hoverable
    @extend .block-left-md
    overflow-x: auto
    overflow-y: hidden
    display: flex
    flex-direction: column
    flex-wrap: wrap
    
    label
      margin-right: 40px

      &:not(.subheading)
        min-width: 140px
        max-width: 300px 

      &.subheading
        @extend .block-ver-xxs
        padding-left: 0
        @extend .wgsn-font
        position: relative
        @extend .inline-block

        input
          display: none

        &:before
          content: ""
          position: absolute
          display: block
          width: 100%
          height: 1px
          background: $lt-grey
          bottom: 0
          left: 0

        &:after
          content: "Select group"
          position: absolute
          display: block
          bottom: 3px
          right: 0
          @extend .text-no-transform
          @extend .sans-serif
          @extend .text-grey
          @extend .text-right
          white-space: nowrap
          opacity: 0

        &:hover
          &:after
            opacity: 1

      &:first-of-type.subheading
        margin-top: 0
        padding-top: 0
        border-top: none

  .tab-nav
    border-bottom: none

    .tab-nav-tab
      font-size: 1em
      padding: 10px 0

      &:first-of-type
        margin-left: 0

  .col-xs-12
    .tab-nav
      .tab-nav-tab
        padding: 0 0 15px

  &.filter-extended-hierarchical
    .modal-content
      height: 400px
      overflow: hidden
      padding: 0

      .col
        padding: 0
        width: 300px
        height: 100%
        overflow-y: scroll
    
        ul
          overflow-x: hidden
          overflow-y: auto
          @extend .block-ver-xs

          li
            width: 100%

            span
              width: calc(100% - 60px)

            label.checkbox-radio
              padding-left: 44px
              
              input[type="checkbox"]
                top: 5px
                left: 20px

        &:not(:last-of-type) ul li:hover
          background: rgba($xdk-grey, 0.05)

  &#filter-extended-product
    width: 900px

    .modal-content
      .col:nth-of-type(1) ul li:nth-of-type(1),
      .col:nth-of-type(2) ul li:nth-of-type(3)
        background: rgba($xdk-grey, 0.05)

        &:hover
          background: rgba($xdk-grey, 0.1)

        input[type="checkbox"]
          @extend .partial


  // ====================
  // Subheadings --> terrible, manual way to do this
  // ====================
  &#filter-extended-brand
    .list-container
      label:nth-of-type(1)
        @extend .subheading

  &#filter-extended-retailer
    .list-container
      label:nth-of-type(1)
        @extend .subheading

  &#filter-extended-city
    .list-container
      label:nth-of-type(1),
      label:nth-of-type(15),
      label:nth-of-type(19),
      label:nth-of-type(59),
      label:nth-of-type(91)
        @extend .subheading

  &#filter-extended-season-month
    .list-container
      label:nth-of-type(1),
      label:nth-of-type(9),
      label:nth-of-type(18),
      label:nth-of-type(27),
      label:nth-of-type(36),
      label:nth-of-type(45),
      label:nth-of-type(55),
      label:nth-of-type(64),
      label:nth-of-type(74),
      label:nth-of-type(83),
      label:nth-of-type(91),
      label:nth-of-type(99),
      label:nth-of-type(104),
      label:nth-of-type(107)
        @extend .subheading

  &#filter-extended-event
    .list-container
      label:nth-of-type(1),
      label:nth-of-type(12),
      label:nth-of-type(38),
      label:nth-of-type(68)
        @extend .subheading

  &#filter-extended-colour-tone
    .list-container
      label:nth-of-type(1),
      label:nth-of-type(26)
        @extend .subheading

  &#filter-extended-prints-graphics,
  &#filter-extended-material
    .list-container
      label:nth-of-type(4n + 1)
        @extend .subheading