// ====================
// Image & Design Library header
// ====================
.image-library-header
  // z-index: 100
  position: absolute
  top: 0
  left: 0
  right: 0

  input[type="text"]
    width: 400px
    @extend .block-xxs
    height: 25px

  .image-library-search-bar
    width: calc(100% - 150px)

  .btn-saved-searches,
  .btn-save-search
    height: 35px
    position: relative

    &.active
      @extend .bg-xlt-grey
      
      .icon-caret-down
        transform: translate3d(0, 0, 0) rotate(180deg)


body.image-library-results-view
  .image-library-search-bar
    width: calc(100% - 79px)