//- ============================================================
//- MODAL CONTROLS
//- ============================================================

.item-detail-modal-controls
  display: none
  
  .icon-angle-left,
  .icon-angle-right
    position: absolute
    color: white
    font-size: 16px
    top: 50%
    transform: translate3d(0, -50%, 0)
    z-index: 350

  .icon-angle-left
    left: 10px

  .icon-angle-right
    right: 10px

  &.show
    display: block

#item-detail-modal
  position: absolute
  top: 50%
  left: 50%
  width: calc(100% - 80px)
  height: calc(100% - 40px)
  background: white
  @extend .box-shadow
  z-index: 380
  opacity: 0
  transform: translate3d(-50%, calc(-50% + 10px), 0)
  pointer-events: none
  overflow: hidden

  &.show
    opacity: 1
    transform: translate3d(-50%, -50%, 0)
    pointer-events: all

  
  //- ============================================================
  //- PANELS
  //- ============================================================

  $modal-tool-panel-width: 50px
  $modal-comments-panel-width: 260px
  $modal-bottom-panel-content-height: 150px


  //- ============================================================
  //- REPORT GROUP TABS
  //- ============================================================
  
  .modal-report-tabs
    position: absolute
    top: 0
    left: 0
    width: calc(100% - #{$modal-tool-panel-width})
    height: 30px

    .tab-nav-tab
      padding: 9px 0 8px


  //- ============================================================
  //- INFO BAR
  //- ============================================================

  .modal-info-bar
    position: absolute
    top: 0
    left: 0
    width: calc(100% - #{$modal-tool-panel-width})
    height: 30px
    color: $md-grey

    span
      @extend .wgsn-font
      @extend .inline-block
      margin: 7px 10px 0 0

      &.divider
        @extend .sans-serif

      &.item-name
        font-size: 12px
        color: $xdk-grey

      &.item-count
        margin: 8px 0 0 0

  
  //- ============================================================
  //- IMAGE PANEL
  //- ============================================================

  .modal-image-panel
    position: absolute
    top: 30px
    bottom: 30px
    left: 0
    right: $modal-tool-panel-width

    .img
      width: 100%
      height: 100%
      background: no-repeat center / contain
      @extend .no-transition

    .file-heart,
    .btn-close-fullscreen
      position: absolute
      top: 15px
      right: 15px
      color: white
      font-size: 16px
      @extend .no-transition

    .icon-heart
      opacity: 1
      color: $label-red !important

    .btn-close-fullscreen
      font-size: 20px
      opacity: 0
      pointer-events: none

    // MODAL PAGE CONTROLS (for reports) & ZOOM CONTROLS (for images)
    .modal-page-controls,
    .modal-zoom-controls
      position: absolute
      bottom: 0
      left: calc(50% - 42px)
      opacity: 0
      transform: translate3d(0, 0, 0)

    .modal-page-left,
    .modal-page-right,
    .modal-zoom-in,
    .modal-zoom-out
      color: white
      font-size: 16px
      background: rgba(black, 0.6)
      width: 40px
      height: 40px
      padding: 11px 12px
      @extend .inline-block
      margin: 0 1px

      &:hover
        background: rgba(black, 0.8)

    &:hover
      .modal-page-controls,
      .modal-zoom-controls
        opacity: 1

  &.show-bottom-panel
    .modal-image-panel
      bottom: $modal-bottom-panel-content-height + 30px

  &.show-comments-panel,
  &.show-page-list-panel
    .modal-image-panel
      right: $modal-tool-panel-width + $modal-comments-panel-width

  //- ============================================================
  //- BOTTOM PANEL
  //- ============================================================

  .modal-bottom-panel
    position: absolute
    bottom: 0
    left: 0
    width: calc(100% - #{$modal-tool-panel-width})
    height: $modal-bottom-panel-content-height + 30px
    transform: translate3d(0, $modal-bottom-panel-content-height, 0)

    .icon-double-angle-up
      margin: 8px 10px
      transform: translate3d(0, 0, 0) rotate(0deg)

    .modal-bottom-panel-tabs
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 30px

      .tab-nav-tab
        padding: 9px 0 8px

    .modal-bottom-panel-content
      position: absolute
      top: 30px
      left: 0
      width: 100%
      height: $modal-bottom-panel-content-height

      .modal-hor-scroll-container
        width: 100%
        height: $modal-bottom-panel-content-height
        overflow-x: auto
        overflow-y: hidden
        white-space: nowrap

        img
          height: calc(#{$modal-bottom-panel-content-height} - 20px)

  &.show-bottom-panel
    .modal-bottom-panel
      transform: translate3d(0, 0, 0)

      .icon-double-angle-up
        transform: translate3d(0, 0, 0) rotate(180deg)
  

  //- ============================================================
  //- TOOL PANEL
  //- ============================================================

  .modal-tool-panel
    position: absolute
    top: 0
    bottom: 0
    right: 0
    width: $modal-tool-panel-width
    @extend .no-transition

    .btn-modal-tool
      font-size: 16px
      width: $modal-tool-panel-width
      height: $modal-tool-panel-width
      @extend .flex-center
      @extend .hoverable
      position: relative
      border-color: $lt-grey

      &:after
        content: ""
        width: 1px
        height: calc(#{$modal-tool-panel-width} - 2px)
        background: white
        display: block
        position: absolute
        top: 0
        left: -1px
        opacity: 0
      
      .icon
        color: $dk-grey
      
      &:hover
        .icon
          color: $xdk-grey

      &.active
        background: white
        @extend .border-top
        @extend .border-bottom

        &:after
          opacity: 1

        .icon
          color: $xdk-grey


  //- ============================================================
  //- COMMENTS PANEL & REPORT PAGES PANEL
  //- ============================================================

  .modal-comments-panel,
  .modal-page-list-panel
    position: absolute
    top: 30px
    right: $modal-tool-panel-width
    bottom: 30px
    width: $modal-comments-panel-width
    transform: translate3d($modal-comments-panel-width, 0, 0)

    .scroll-container
      height: calc(100% - 101px)
      overflow-y: auto

    .comment
      .icon-trash
        opacity: 0
        margin-top: 4px

      &:hover
        .icon-trash
          opacity: 1
  
      &:last-of-type
        border-bottom: none

    .report-page
      img
        width: 83px
        height: 60px
        background: $md-grey

      .text-container
        width: calc(100% - 93px)
        height: 60px
        display: flex
        align-items: center
        justify-content: flex-start

      &:hover
        .text-container span
          color: $fashion

  &.show-bottom-panel
    .modal-comments-panel
      bottom: $modal-bottom-panel-content-height + 30px

  &.show-comments-panel
    .modal-comments-panel
      transform: translate3d(0, 0, 0)

    .btn-modal-comments
      @extend .active

  &.show-page-list-panel
    .modal-page-list-panel
      transform: translate3d(0, 0, 0)

    .btn-modal-page-list
      @extend .active


  //- ============================================================
  //- FULLSCREEN
  //- ============================================================

  &.fullscreen
    width: 100vw
    height: 100vh

    .modal-report-tabs,
    .modal-bottom-panel,
    .modal-tool-panel,
    .modal-comments-panel,
    .modal-page-list-panel
      display: none

    .modal-image-panel
      top: 0 !important
      left: 0 !important
      bottom: 0 !important
      right: 0 !important

    .btn-close-fullscreen
      opacity: 1
      pointer-events: all

    .file-heart
      opacity: 0 !important
      pointer-events: none

  .modal-overlay
    position: absolute
    top: 0
    right: $modal-tool-panel-width
    left: 0
    bottom: 0
    background: rgba(black, 0.7)
    pointer-events: none
    z-index: 390
    opacity: 0

    &.show
      opacity: 1
      pointer-events: all


  //- ============================================================
  //- FILE TYPES
  //- ============================================================

  // IMAGE
  &.file-type-image
    .hidden-file-type-image
      display: none

  &.file-type-report
    .hidden-file-type-report
      display: none

    .modal-info-bar
      top: 30px

    .modal-image-panel,
    .modal-comments-panel,
    .modal-page-list-panel
      top: 60px

  &.file-type-video
    .hidden-file-type-video
      display: none

    .modal-image-panel
      &:after
        content: ""
        position: absolute
        top: 50%
        left: 50%
        background: url('http://www.wgsn.com/assets/common/images/play_button.png') no-repeat center / 100%
        display: block
        width: 80px
        height: 80px
        transform: translate3d(-50%, -50%, 0)
        @extend .hoverable

  &.file-type-colour-card
    .hidden-file-type-colour-card
      display: none