.left-side-panel
  width: $left-side-panel-width
  height: calc(100% - #{$title-row-height})
  position: absolute
  top: $title-row-height
  left: 0
  transform: translate3d(-100%, 0, 0)
  color: rgba(white, 0.5)
  z-index: 100

  .btn-left-side-panel
    position: absolute
    left: calc(100% - 1px)
    top: calc(50% - 20px)
    width: 12px
    height: 40px
    font-size: 10px
    border-radius: 0 3px 3px 0
    @extend .flex-center
    @extend .hoverable

    .icon
      display: block
      transform: translate3d(0, 0, 0) rotate(180deg)

  .scroll-container
    height: 100%
    overflow-y: auto

  // TABS
  // .tabs
  //   position: relative
  //   height: 46px
  //   border-bottom: 1px solid rgba(white, 0.1)
  //   margin: 0

  //   .col-xs-6
  //     padding: 0

  //   .tab
  //     height: 46px
  //     @extend .flex-center
  //     @extend .no-transition

  //     .icon
  //       margin: 0 6px 0 0

  //     &.active
  //       color: white

  //   .col-xs-6:first-of-type
  //     .tab
  //       &:after
  //         content: ""
  //         display: block
  //         position: absolute
  //         bottom: 0
  //         left: 0
  //         background: white
  //         width: 100%
  //         height: 1px
  //         transform: translate3d(0, 0, 0)
  //         transition: all 400ms

  //       &:not(.active)
  //         &:after
  //           transform: translate3d(100%, 0, 0)

  .inbox-number
    background: $yellow
    color: white
    @extend .wgsn-font
    border-radius: 50%
    width: 16px
    height: 16px
    margin: 1px
    @extend .flex-center

// FILTERS & FOLDERS PANELS
.panel-filters,
.panel-folders
  height: 100%
  position: relative
  @extend .block-hor-xxs
  position: absolute
  top: 0
  left: 0
  transform: translate3d(0, 0, 0)

  .icon
    margin: 0 10px 0 0
  
  // ACCORDION SECTIONS
  .accordion-section
    .accordion-title
      display: block
      padding: 14px 12px
      @extend .hoverable
    
    .accordion-content
      border-bottom: 1px solid rgba(white, 0.1)
      overflow: hidden
      position: relative

      .accordion-footer
        padding: 14px 12px

    &.closed
      .accordion-content
        height: 0

  .accordion-section-favourites,
  .accordion-section-mobile
    .accordion-title
      border-bottom: 1px solid rgba(white, 0.1)

  // ACCORDION SECTION PANEL HEIGHTS
  .accordion-section-messages.open
    .accordion-content
      height: 67px

  .accordion-section-recent-boards.open // this is actually used in the save modal, just putting it here
    .accordion-content
      height: 133px

  .accordion-section-my-boards.open
    .accordion-content
      height: 318px

  .accordion-section-shared-boards.open
    .accordion-content
      height: 564px

  .accordion-section-trash.open
    .accordion-content
      height: 129px

// FILTERS PANEL
.panel-filters
  @extend .bg-white
  @extend .border-right
  
  .scroll-container
    padding-bottom: 50px // to allow space for the access workspace button
  
  .filter-btn
    position: relative
    padding: 10px 12px
    // border-bottom: 1px solid rgba(white, 0.1)

    &:hover
      background: rgba(white, 0.05)

    &.active
      background: rgba(white, 0.05)

      &:hover
        background: rgba($lt-grey, 0.1)
      
      span, i
        color: white

      &:after
        content: ""
        position: absolute
        top: 0
        right: -1px
        background: white
        height: 100%
        width: 1px

// FOLDERS PANEL
.panel-folders
  @extend .bg-xdk-grey

  .btn-access-workspace
    position: absolute
    bottom: 0
    left: 100%
    transform: translate3d(0, 0, 0)
    white-space: nowrap
    @extend .box-shadow

// ACTIVE STATES
body.workspace-autumn-winter-2016-view
  a.board-row.autumn-winter-2016
    @extend .active

body.workspace-balmain-2016-view
  a.board-row.balmain-2016
    @extend .active

body.workspace-inspiration-images-view
  a.board-row.inspiration-images
    @extend .active

body.workspace-inbox-view
  .left-side-panel
    .btn-inbox
      @extend .active

body.workspace-sent-messages-view
  .left-side-panel
    .btn-sent-messages
      @extend .active

body.workspace-favourites-view
  .left-side-panel
    .content-favourites a.misc-row
      @extend .active

body.image-library-view
  .left-side-panel
    .panel-folders
      @extend .box-shadow
      transform: translate3d(calc(-1 * #{$left-side-panel-width}), 0, 0)
      z-index: 320

    &.show-workspace-panel
      .panel-folders
        transform: translate3d(0, 0, 0)

      .btn-access-workspace
        .icon
          margin: 0

        span
          width: 0
          color: transparent

  .btn-left-side-panel
    @extend .bg-white
    @extend .border
    border-left: none

body.workspace-view
  .btn-left-side-panel
    @extend .bg-xdk-grey