.left-side-panel
  height: 100%
  @extend .border-right

// FILTERS & FOLDERS PANELS
.panel-filters,
.panel-folders
  @extend .bg-white
  @extend .block-hor-xxs
  position: absolute
  top: 0
  left: 0
  height: 100%
  transform: translate3d(0, 0, 0)
  
  .icon
    margin: 0 10px 0 0
  
  // ACCORDION SECTIONS
  .accordion-section
    .accordion-title
      display: block
      padding: 14px 15px
      @extend .hoverable
    
    .accordion-content
      @extend .border-bottom
      overflow: hidden
      position: relative

      .accordion-footer
        padding: 14px 12px

    &.closed
      .accordion-content
        height: 0

  .accordion-section-favourites,
  .accordion-section-mobile
    .accordion-title
      @extend .border-bottom

  // ACCORDION SECTION PANEL HEIGHTS
  .accordion-section-messages.open
    .accordion-content
      height: 67px

  .accordion-section-recent-boards.open // this is actually used in the save modal, just putting it here
    .accordion-content
      height: 133px

  .accordion-section-my-boards.open
    .accordion-content
      height: 318px

  .accordion-section-shared-boards.open
    .accordion-content
      height: 564px

  .accordion-section-trash.open
    .accordion-content
      height: 129px

// FILTERS PANEL
.panel-filters
  .filter-btn
    position: relative
    padding: 10px 12px
    // border-bottom: 1px solid rgba(white, 0.1)

    &:hover
      background: rgba(white, 0.05)

    &.active
      background: rgba(white, 0.05)

      &:hover
        background: rgba($lt-grey, 0.1)
      
      span, i
        color: white

      &:after
        content: ""
        position: absolute
        top: 0
        right: -1px
        background: white
        height: 100%
        width: 1px

// FOLDERS PANEL
.panel-folders
  height: 100%

  .scroll-container
    height: 100%
    overflow-y: auto

.btn-access-workspace
  position: fixed
  bottom: 0
  left: 0
  transform: translate3d(0, 0, 0)
  white-space: nowrap
  @extend .bg-xlt-grey
  box-shadow: 2px 0 10px rgba(black, 0)
  @extend .border-top
  @extend .border-right
  z-index: 100

  .icon
    margin: 0 0 0 10px

.btn-left-side-panel
  position: absolute
  left: calc(100% - 1px)
  top: calc(50vh - 20px)
  width: 12px
  height: 40px
  font-size: 10px
  border-radius: 0 3px 3px 0
  @extend .bg-white
  @extend .border
  border-left: none
  @extend .flex-center
  @extend .hoverable

  .icon
    display: block
    transform: translate3d(0, 0, 0) rotate(180deg)

// ACTIVE STATES
body.workspace-autumn-winter-2016-view
  a.board-row.autumn-winter-2016
    @extend .active

body.workspace-balmain-2016-view
  a.board-row.balmain-2016
    @extend .active

body.workspace-inspiration-images-view
  a.board-row.inspiration-images
    @extend .active

body.workspace-inbox-view
  .left-side-panel
    .btn-inbox
      @extend .active

body.workspace-sent-messages-view
  .left-side-panel
    .btn-sent-messages
      @extend .active

body.workspace-favourites-view
  .left-side-panel
    .content-favourites a.misc-row
      @extend .active

body.image-library-view
  .left-side-panel
    position: fixed
    overflow-y: scroll
    overflow-x: hidden
    top: $header-height + $title-row-height
    height: calc(100vh - #{$header-height} - #{$title-row-height})

    .panel-filters
      .filter:last-of-type
        margin-bottom: 60px
    
    .panel-folders
      box-shadow: 2px 0 10px rgba(black, 0)
      transform: translate3d(calc(-1 * #{$left-side-panel-width}), 0, 0)
      z-index: 320

    &.show-workspace-panel
      .panel-folders
        box-shadow: 2px 0 10px rgba(black, 0.1)
        transform: translate3d(0, 0, 0)

      .btn-access-workspace
        @extend .bg-white
        border-color: transparent
        box-shadow: 2px 0 10px rgba(black, 0.1)
        
        .icon
          margin: 0

        span
          width: 0
          color: transparent

  .page-content.headroom--not-top
    .left-side-panel
      top: $header-height + 74px
      min-height: calc(100% - 124px)