.left-side-panel
  height: 100%
  @extend .border-right
  @extend .border-bottom

// FILTERS & FOLDERS PANELS
.panel-filters,
.panel-folders
  @extend .bg-white
  @extend .block-hor-xxs
  position: absolute
  top: 0
  left: 0
  height: 100%
  transform: translate3d(0, 0, 0)
  
  .icon
    margin: 0 10px 0 0
  
  // ACCORDION SECTIONS
  .accordion-section
    .accordion-title
      display: block
      padding: 14px 15px
      @extend .hoverable
    
    .accordion-content
      @extend .border-bottom
      overflow: hidden
      position: relative

      .accordion-footer
        padding: 14px 12px

    &.closed
      .accordion-content
        height: 0

    &:last-of-type
      .accordion-content
        border-bottom: none

  .accordion-section-favourites,
  .accordion-section-mobile
    .accordion-title
      @extend .border-bottom

  // ACCORDION SECTION PANEL HEIGHTS
  .accordion-section-messages.open
    .accordion-content
      height: 67px

  .accordion-section-recent-boards.open // this is actually used in the save modal, just putting it here
    .accordion-content
      height: 133px

  .accordion-section-my-boards.open
    .accordion-content
      height: 318px

  .accordion-section-shared-boards.open
    .accordion-content
      height: 564px

  .accordion-section-trash.open
    .accordion-content
      height: 129px

// FILTERS PANEL
.panel-filters
  .filter-btn
    position: relative
    padding: 10px 12px
    // border-bottom: 1px solid rgba(white, 0.1)

    &:hover
      background: rgba(white, 0.05)

    &.active
      background: rgba(white, 0.05)

      &:hover
        background: rgba($lt-grey, 0.1)
      
      span, i
        color: white

      &:after
        content: ""
        position: absolute
        top: 0
        right: -1px
        background: white
        height: 100%
        width: 1px

// FOLDERS PANEL
.panel-folders
  height: 100%

  .scroll-container
    height: 100%
    overflow-y: auto

// ACCESS BUTTONS
.btn-left-side-panel,
.btn-access-workspace
  position: fixed
  bottom: 0
  height: 40px
  background: rgba(black, 0.6)
  color: white
  z-index: 100
  transform: translate3d(0, 0, 0)

  .icon
    color: white

.btn-left-side-panel
  left: 0
  width: 40px

  .icon
    color: white
    display: block
    transform: translate3d(0, 0, 0) rotate(180deg)

.btn-access-workspace
  left: -1 * $left-side-panel-width
  width: $left-side-panel-width - 39px
  justify-content: flex-start

  span:first-of-type
    display: inline-block

  span:last-of-type
    display: none

  &.active
    span:first-of-type
      display: none

    span:last-of-type
      display: inline-block

    .icon
      transform: translate3d(0, 0, 0) rotate(180deg)

// ACTIVE STATES
body.workspace-autumn-winter-2016-view
  a.board-row.autumn-winter-2016
    @extend .active

body.workspace-balmain-2016-view
  a.board-row.balmain-2016
    @extend .active

body.workspace-inspiration-images-view
  a.board-row.inspiration-images
    @extend .active

body.workspace-inbox-view
  .left-side-panel
    .btn-inbox
      @extend .active

body.workspace-sent-messages-view
  .left-side-panel
    .btn-sent-messages
      @extend .active

body.workspace-favourites-view
  .left-side-panel
    .content-favourites a.misc-row
      @extend .active