.overlay
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  background: rgba(black, 0.8)
  pointer-events: none
  z-index: 350
  opacity: 0

  &.show
    opacity: 1
    pointer-events: all

.modal
  position: fixed
  top: 50%
  left: 50%
  width: 580px
  min-height: 100px
  background: white
  @extend .box-shadow
  transform: translate3d(-50%, calc(-50% + 10px), 0)
  z-index: 400
  opacity: 0
  pointer-events: none

  .modal-header
    background: $xdk-grey
    color: white
    @extend .block-sm
    overflow: auto
    vertical-align: bottom

    h2 + p
      margin: 6px 0 0 6px

    .icon-cross
      font-size: 16px
      line-height: 12px
      opacity: 0.6

      &:hover
        opacity: 1

  .modal-content
    @extend .block-sm

  .modal-footer
    @extend .block-hor-sm
    @extend .block-bot-sm
    overflow: auto

  &.show
    opacity: 1
    pointer-events: all
    transform: translate3d(-50%, -50%, 0)


// ==================================================
// SHARE
// ==================================================

#share-modal
  .modal-content
    > .block-bot-md .block-sm.border .row
      .col-xs-3
        padding-right: 0

      .col-xs-9
        padding-left: 0

        input
          border-left: none
  
  .share-user-container
    height: 36vh
    min-height: 100px
    max-height: 400px
    overflow: scroll
    
    .share-user
      select
        height: 35px
        border: none
        max-width: 100px

      &:last-of-type
        border: none

    #make-folder-public:hover
      .tooltip
        opacity: 1


// ==================================================
// SAVE
// ==================================================

#save-modal
  textarea
    width: 100%
    height: 80px

  .panel-folders
    height: 435px
    overflow: auto

    .accordion-section
      .accordion-content
        border-bottom: 1px solid rgba($dk-grey, 0.1)

        .misc-row,
        .board-row,
        .person-row,
        .team-row
          &:hover
            .board-name,
            .icon-user,
            .icon-caret-right,
            .icon-caret-down
              color: inherit

        .board-row
          .icon-ellipsis
            display: none

          .btn.close-modal
            position: absolute
            top: calc(50% - 13px)
            right: 10px
            opacity: 0

            &:before
              content: ""
              position: absolute
              top: -2px
              right: 100%
              bottom: -2px
              left: -40px
              background: -webkit-linear-gradient(left, rgba(white, 0) 0%, rgba(white, 1) 100%)
              z-index: -1

          &:hover
            .btn.close-modal
              opacity: 1

    .accordion-section-my-boards
      .accordion-content
        > .block-xs
          display: none

      &.open
        .accordion-content
          height: 248px

  .modal-create-new-board-container
    margin-top: -1px
    position: relative

    input::-webkit-input-placeholder
      color: $xdk-grey
      @extend .wgsn-font

    input:focus
      border-color: $lt-grey

    .btn.close-modal
      position: absolute
      top: calc(50% - 13px)
      right: 5px
      opacity: 0

    input:focus + .btn.close-modal
      opacity: 1

  .modal-footer
    display: none

  &.add-multiple-files
    img
      display: none
    textarea
      width: 100%
      height: 120px


// ==================================================
// SEND
// ==================================================

#send-modal
  textarea
    height: 120px


// ==================================================
// PRINT
// ==================================================

#print-modal
  .print-layout-tile
    width: 100px

    .layout-tile-container
      width: 100px
      height: 100px
      border: 1px solid $lt-grey
      padding: 4px
      margin: 0 0 6px 0

      .block
        background: $lt-grey
        @extend .pull-left

    &.active
      .layout-tile-container
        border-color: $xdk-grey

        .block
          background: $xdk-grey

    &.pp-1
      .block
        width: 100%
        height: 100%

    &.pp-2
      .block
        width: calc(50% - 2px)
        height: 100%
        
        &:nth-of-type(1)
          margin: 0 4px 0 0

    &.pp-3
      .block
        width: calc((97% / 3) - 2px)
        height: 100%
        
        &:nth-of-type(1),
        &:nth-of-type(2)
          margin: 0 4px 0 0

    &.pp-4
      .block
        width: calc(50% - 2px)
        height: calc(50% - 2px)
        
        &:nth-of-type(1)
          margin: 0 4px 4px 0

        &:nth-of-type(2)
          margin: 0 0 4px 0

        &:nth-of-type(3)
          margin: 0 4px 0 0

        &:nth-of-type(4)
          margin: 0 0 0 0

    &.pp-thumbnails
      .block
        width: calc((97%/3) - 2px)
        height: calc((97%/3) - 2px)
        
        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(4),
        &:nth-of-type(5)
          margin: 0 4px 4px 0

        &:nth-of-type(3),
        &:nth-of-type(6)
          margin: 0 0 4px 0

        &:nth-of-type(7),
        &:nth-of-type(8)
          margin: 0 4px 0 0

  input[type="text"]
    width: 300px


// ==================================================
// DOWNLOAD
// ==================================================

#download-modal
  top: auto
  bottom: 0
  right: 20px
  left: auto
  width: 400px
  transform: translate3d(0, 100%, 0)

  &.show
    transform: translate3d(0, 0, 0)

  &.minimise
    transform: translate3d(0, calc(100% - 46px), 0)

  .modal-content
    padding: 0 10px

    .row:last-of-type
      border: none

  .download-row
    position: relative
  
    .download-status-bar
      position: absolute
      top: 0
      left: 0
      height: 100%
      background: $xlt-grey

  .modal-footer
    display: none


// ==================================================
// SIMPLE MODALS
// ==================================================

.simple-modal
  width: 400px

  input[type="text"]
    width: 100%