.page-content
  position: fixed
  top: $global-product-row-height
  width: 100%
  height: calc(100vh - #{$global-product-row-height})
  overflow: hidden

  .right-side-panel
    position: absolute
    top: $title-row-height
    left: 0
    right: 0
    height: calc(100% - #{$title-row-height})
    @extend .bg-xlt-grey
    // @extend .no-transition

  &.show-left-side-panel
    .right-side-panel
      left: $left-side-panel-width

    .filter-row
      width: calc(100vw - #{$left-side-panel-width})

    .left-side-panel
      transform: translate3d(0, 0, 0)

    .btn-left-side-panel 
      .icon
        transform: translate3d(0, 0, 0) rotate(0deg)

  &.show-comments-panel
    .right-side-panel
      right: $comments-panel-width

    .comments-panel
      transform: translate3d(0, 0, 0)