#saved-searches-context-menu
  max-height: 40vh
  overflow: auto
  
  li
    position: relative
    @extend .block-sm // done here to override .context-menu styles
    @extend .block-right-md

    &:last-of-type
      border: none

    .icon-angle-right
      margin: 0 6px
      font-size: 10px 

    .icon-trash
      position: absolute
      top: calc(50% - 8px)
      right: 10px
      color: $md-grey
      opacity: 0

      &:hover
        color: $xdk-grey

    &:hover
      .icon-trash
        opacity: 1