.view-options
  .icon
    font-size: 14px
    color: $dk-grey

    &:hover
      color: $xdk-grey

  .divider
    background: rgba(black, 0.1)
    width: 1px
    height: 37px
    margin: 0 10px
  
  .btn-view-option
    &.disabled
      opacity: 1

      .icon
        opacity: 0.3

  .btn-settings
    position: relative

  select
    width: 110px

body.image-library-view
  .page-content
    .view-options
      .col-xs-12.col-sm-6:nth-of-type(2)
        > .pull-right
          > .pull-left:nth-of-type(1),
          > .pull-left:nth-of-type(1) + .divider
            display: none

      .selected-tag
        margin: 7px 10px
        
        .btn-deselect
          height: 0

          .icon
            color: white
            font-size: 12px

    &.has-files-selected
      .view-options
        .col-xs-12.col-sm-6:nth-of-type(2)
          > .pull-right:nth-of-type(1)
            .btn-view-option,
            .btn-view-option + .divider,
            .btn-settings,
            > .pull-left:nth-of-type(4)
              display: none

          > .pull-right
            > .pull-left:nth-of-type(1),
            > .pull-left:nth-of-type(1) + .divider
              display: block