.workspace-header
  // background: darken($xlt-grey, 5)

  .view-only-block
    font-size: 12px

    .icon
      margin-right: 5px

    .has-tooltip:after
      bottom: -61px

  .utility-block
    .utility-icon
      @extend .inline-block
      @extend .block-xs

      .icon
        font-size: 14px
        color: $dk-grey

      &:hover
        .icon
          color: $xdk-grey

    .divider
      background: rgba(black, 0.1)
      width: 1px
      height: 37px
      margin: 0 10px

  .search-input
    background-color: transparent
    width: 0
    transform: translate3d(-10px, 0, 0)

    &:focus
      background-color: white
      width: 100%
      transform: translate3d(0, 0, 0)

// .right-side-panel.headroom--unpinned
//   .share-block,
//   .hide-on-scroll
//     display: none

//   h1
//     padding: 6px 0

//   .utility-block
//     margin: -37px 0 0 0
//     // transform: translate3d(0, -32px, 0)

//   .row.block-bot-sm
//     padding-bottom: 0