// ====================
// Workspace header
// ====================
.workspace-header,
.workspace-header-condensed
  z-index: 100

  h1
    .icon-pencil
      opacity: 0

    &:hover
      .icon-pencil
        opacity: 1

  .divider
    background: rgba(black, 0.1)
    width: 1px
    height: 28px
    margin: 4px 10px 0
  
  // VIEW ONLY BLOCK
  .view-only-block
    font-size: 12px

    .icon
      margin-right: 5px

    .has-tooltip:after
      bottom: -61px

  .btn-empty-trash
    display: none

  // SHARE BLOCK
  .share-block
    .divider
      margin: 2px 10px 0 0 // to allow for .avatar's margin

    > .pull-left
      position: relative
      
      .online-dot
        position: absolute
        display: block
        border-radius: 50%
        bottom: 0
        left: 0
        width: 10px
        height: 10px
        background: $label-green
        border: 1px solid $xlt-grey
        z-index: 10

      // these will somehow have to be dynamic to do with the length of the folder title...
      @media screen and (max-width: 1200px)
        &:nth-last-of-type(5)
          display: none

        .avatar.avatar-alt:after
          content: "+7"

      @media screen and (max-width: 1160px)
        &:nth-last-of-type(6)
          display: none

        .avatar.avatar-alt:after
          content: "+8"

      @media screen and (max-width: 1120px)
        &:nth-last-of-type(7)
          display: none

        .avatar.avatar-alt:after
          content: "+9"

      @media screen and (max-width: 1100px)
        &:nth-last-of-type(8)  
          display: none

        .avatar.avatar-alt:after
          content: "+10"

    // adjusted to account for the 10px space on the right of the avatars
    .tooltip-down
      &:before
        transform: translate3d(calc(-50% - 5px), 0, 0) rotate(45deg)
      
      &:after
        transform: translate3d(calc(-50% - 5px), 0, 0)

  // UTILITY BLOCK
  .utility-block
    .utility-icon
      .icon
        font-size: 14px
        color: $dk-grey

      &:hover
        .icon
          color: $xdk-grey

    .btn-move,
    .btn-copy,
    .btn-print,
    .btn-deselect,
    .btn-deselect + .divider,
    .displaying-results
      display: none

    .selected-tag
      margin: 7px 10px
      
      .btn-deselect
        height: 0

  .btn-comments
    position: relative
    width: 32px
    height: 32px

    .icon
      font-size: 16px
      color: $dk-grey

      &:hover
        .icon
          color: $xdk-grey
    
    // &:before
    //   content: ""
    //   position: absolute
    //   top: 8px
    //   right: 6px
    //   background: $yellow
    //   display: block
    //   width: 8px
    //   height: 8px
    //   border-radius: 50%
    //   z-index: 10
    //   border: 2px solid $lt-grey

  // SEARCH INPUT (hide until focused)
  // .search-input
  //   background-color: transparent
  //   width: 0
  //   transform: translate3d(-10px, 0, 0)

  //   &:focus
  //     background-color: white
  //     width: 100%
  //     transform: translate3d(0, 0, 0)


// ====================
// Condensed Workspace header (for scroll)
// ====================
.workspace-header-condensed
  position: fixed
  top: $header-height
  left: 0
  right: 0
  z-index: 100
  transform: translate3d(0, -100%, 0)

.right-side-panel.headroom--not-top
  .workspace-header-condensed
    transform: translate3d(0, 0, 0)


// ====================
// Select mode
// ====================
.page-content.has-files-selected
  .workspace-header,
  .workspace-header-condensed
    .utility-block
      .btn-move,
      .btn-copy,
      .btn-print,
      .btn-deselect,
      .btn-deselect + .divider,
      .displaying-results
        display: block

      .btn-upload
        display: none

// ====================
// Favourites & Trash
// ====================
body.workspace-favourites-view,
body.workspace-trash-view
  .workspace-header
    .share-block
      display: none

    .btn-download,
    .btn-print,
    .btn-send,
    .btn-unfavourite,
    .btn-deselect,
    .btn-deselect + .divider,
    .displaying-results
      display: none

  .page-content.has-files-selected
    .workspace-header,
    .workspace-header-condensed
      .utility-block
        .btn-download,
        .btn-print,
        .btn-send,
        .btn-unfavourite,
        .btn-deselect,
        .btn-deselect + .divider,
        .displaying-results
          display: block

body.workspace-trash-view
  .workspace-header
    .btn-empty-trash
      display: inline-block