// ====================
// Core
// ====================
@import "core/vars"
@import "core/mixins"
@import "core/typography" 

// ====================
// Elements
// ====================
@import "elements/avatars"
@import "elements/blocks"
@import "elements/buttons"
@import "elements/hiders"
@import "elements/inputs"
@import "elements/layout"
@import "elements/loading-indicator"
@import "elements/modal"
@import "elements/tab-nav"
@import "elements/tag-list"
@import "elements/tooltips"

// ====================
// Components
// ====================
@import "header"
@import "title-row"
@import "item-detail-modal"
@import "file"
@import "context-menus"
@import "page-content"
@import "left-side-panel"
@import "workspace-header"
@import "image-library-header"
@import "view-options"
@import "folder-structure"
@import "filter-structure"
@import "files-row"
// @import "messages"
@import "comments-panel"
@import "saved-searches"
@import "notifications"
// @import "message-notifications"


// ==================================================


body
  font-family: Helvetica, Arial, sans-serif
  margin: 0
  padding: 0
  background: white
  font-size: 12px
  color: $xdk-grey
  // -moz-user-select: none
  // -ms-user-select: none
  // -khtml-user-select: none
  // -webkit-user-select: none
  // -webkit-touch-callout: none
  -webkit-overflow-scrolling: touch

  .content-wrap
    width: 80%
    max-width: 1500px
    margin: 0 auto

  section
    padding: 40px 0
    border-bottom: 1px solid $lt-grey
    overflow: auto

    &:last-of-type
      border-bottom: none

    &.heading
      padding: 80px 0 0

body.workspace-view
  overflow: hidden

*
  box-sizing: border-box
  transition: all 400ms

// not really a robust/intelligent solution, but leaving for now
::-webkit-scrollbar
  display: none


// ====================
// Home page
// ====================
.index
  .col-xs-4
    height: 100vh

    > .flex-center
      height: 100vh

    a
      display: block
      
      h1
        position: relative
        
        &:after
          content: ""
          display: block
          position: absolute
          top: 24px
          left: 0
          width: 100%
          height: 2px
          background: $xdk-grey
          transition: all 400ms
          transform-origin: center top
          z-index: -1

        &:hover
          &:after
            transform: translate3d(0, 0, 0) scale(1, 2)


// ====================
// Mobile blocker page
// ====================
.mobile-warning
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 1000
  background: $xdk-grey
  color: white
  display: none

  // @media (min-width: $screen-md-min)
  //   display: none