include ../file

.message-content
  .text-container
    .bg-white.block-sm.border
      p.text-bold What do you think of these?
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      p.text-grey.text-smaller.tight Also sent to Andrew H. and Julian R.

  .collage
    +file("image", "https://www.wgsn.com/storage/vol20/ss_image_store/65/39/44/42/media_blm_aw16_007.jpg", "no", "media_blm_aw16_007.jpg", "Balmain", "Autumn/Winter 2016", "Paris")
    +file("image", "https://www.wgsn.com/storage/vol20/ss_image_store/65/39/44/42/media_blm_aw16_007.jpg", "no", "media_blm_aw16_007.jpg", "Balmain", "Autumn/Winter 2016", "Paris")
    +file("image", "https://www.wgsn.com/storage/vol20/ss_image_store/65/39/44/42/media_blm_aw16_007.jpg", "no", "media_blm_aw16_007.jpg", "Balmain", "Autumn/Winter 2016", "Paris")
    +file("image", "https://www.wgsn.com/storage/vol20/ss_image_store/65/39/44/42/media_blm_aw16_007.jpg", "no", "media_blm_aw16_007.jpg", "Balmain", "Autumn/Winter 2016", "Paris")