include ../file

mixin message(unread, img, initials, name, time, attachments, subject, message)
  .message.block-sm.bg-white.border-bottom.hoverable.overflow-auto(class!=attributes.class)
    .block-bot-xs.overflow-auto
      if unread
        .unread-dot.pull-left
      
      if img
        .avatar.avatar-sm.pull-left(style="background-image: url('" + img + "')")
      else
        .avatar.avatar-sm.pull-left(data-initials=initials)

      p.text-bold.pull-left.block-top-xxs
        span.hidden-workspace-inbox.text-bold TO: 
        span= name

    .text-container.pull-left
      p
        //- span= attachments
        //- if attachments == 1
        //-   span  image
        //- else
        //-   span  images
        //- span &nbsp; &middot; &nbsp;
        span= subject

      p.message-time.text-grey.text-smaller.tight= time

    i.icon.icon-trash.hidden-workspace-sent-messages
    i.icon.icon-share-right.hidden-workspace-inbox.btn-send

//- ============================================================

.message-listing.border-right.hidden-workspace.hidden-image-library
  .header-row Today
  +message(true, "https://media.licdn.com/media/AAEAAQAAAAAAAAZVAAAAJDBlZWUwZWE0LTk1OWYtNGMyYi1iYmU5LTA3NDNlNDYxZmYwMQ.jpg", "SC", "Sansan Chen", "10 minutes ago", 4, "Check out these images, they’ll be great for our new collection.")
  +message(false, "https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAT6AAAAJGZiMmIwM2E3LTMzNzMtNDEzNi1iN2JhLWJlZmYzM2MwNmI2Nw.jpg", "JR", "Julian Ramirez", "1 hour ago", 2, "What do you think of these?", "")(class="selected")
  .header-row Yesterday
  +message(false, "https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/06d/1ea/349ef69.jpg", "AH", "Andrew Harris", "5:00pm", 6, "Shirt images")
  +message(false, "https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/06d/1ea/349ef69.jpg", "AH", "Andrew Harris", "4:12pm", 2, "I really like these looks from the Yeezy show!")
  +message(false, "", "SF", "Sarah Freiser", "11:02am", 40, "These shoes are amazing")
  +message(false, "https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAFZAAAAJDM1YTk4OTc5LTJjZGUtNGJkMS1iMTM4LTBmMjIzYTM3NGYzMQ.jpg", "NA", "Nicky Ashwell", "9:14am", 2, "How cool is it that we can send stuff now?")
  +message(false, "https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/06d/1ea/349ef69.jpg", "AH", "Andrew Harris", "5:00pm", 1, "This dress looks like it's made out of a really nice fabric...")
  +message(false, "https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/06d/1ea/349ef69.jpg", "AH", "Andrew Harris", "4:12pm", 2, "Hi Amelia, I pulled these images for you!")
  +message(false, "", "SF", "Sarah Freiser", "11:02am", 6, "New Chanel collection")
  +message(false, "https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAFZAAAAJDM1YTk4OTc5LTJjZGUtNGJkMS1iMTM4LTBmMjIzYTM3NGYzMQ.jpg", "NA", "Nicky Ashwell", "9:14am", 4, "What do you think of these pants? I think some like these could be great for the new collection")
  .header-row Monday
  +message(false, "https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/06d/1ea/349ef69.jpg", "AH", "Andrew Harris", "5:00pm", 2, "Check out these images, they’ll be great for our new collection.")
  +message(false, "https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/06d/1ea/349ef69.jpg", "AH", "Andrew Harris", "4:12pm", 8, "Check out these images, they’ll be great for our new collection.")
  +message(false, "", "SF", "Sarah Freiser", "11:02am", 5, "Check out these images, they’ll be great for our new collection.")
  +message(false, "https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAFZAAAAJDM1YTk4OTc5LTJjZGUtNGJkMS1iMTM4LTBmMjIzYTM3NGYzMQ.jpg", "NA", "Nicky Ashwell", "9:14am", 2, "Check out these images, they’ll be great for our new collection.")
  .header-row Last Week
  +message(false, "https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/06d/1ea/349ef69.jpg", "AH", "Andrew Harris", "03/14/16 at 5:00pm", 2, "Check out these images, they’ll be great for our new collection.")
  +message(false, "https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/06d/1ea/349ef69.jpg", "AH", "Andrew Harris", "03/14/16 at 4:12pm", 8, "Check out these images, they’ll be great for our new collection.")
  +message(false, "", "SF", "Sarah Freiser", "03/14/16 at 11:02am", 5, "Check out these images, they’ll be great for our new collection.")
  +message(false, "https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAFZAAAAJDM1YTk4OTc5LTJjZGUtNGJkMS1iMTM4LTBmMjIzYTM3NGYzMQ.jpg", "NA", "Nicky Ashwell", "03/14/16 at 9:14am", 2, "Check out these images, they’ll be great for our new collection.")
  +message(false, "https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/06d/1ea/349ef69.jpg", "AH", "Andrew Harris", "03/14/16 at 5:00pm", 3, "Check out these images, they’ll be great for our new collection.")
  +message(false, "https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/06d/1ea/349ef69.jpg", "AH", "Andrew Harris", "03/14/16 at 4:12pm", 4, "Check out these images, they’ll be great for our new collection.")
  +message(false, "", "SF", "Sarah Freiser", "03/14/16 at 11:02am", 2, "Check out these images, they’ll be great for our new collection.")
  +message(false, "https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAFZAAAAJDM1YTk4OTc5LTJjZGUtNGJkMS1iMTM4LTBmMjIzYTM3NGYzMQ.jpg", "NA", "Nicky Ashwell", "03/14/16 at 9:14am", 2, "Check out these images, they’ll be great for our new collection.")