.utility-block.pull-right.no-transition
  .pull-left.block-xs.displaying-results 1 item selected
  .utility-icon.pull-left.block-xs.btn-upload.has-tooltip(data-tooltip="Upload files"): i.icon.icon-upload
  .utility-icon.pull-left.block-xs.btn-move.has-tooltip(data-tooltip="Move"): i.icon.icon-move
  .utility-icon.pull-left.block-xs.btn-copy.has-tooltip(data-tooltip="Copy"): i.icon.icon-clone
  .utility-icon.pull-left.block-xs.btn-download.has-tooltip(data-tooltip="Download"): i.icon.icon-download
  .utility-icon.pull-left.block-xs.btn-print.has-tooltip(data-tooltip="Print"): i.icon.icon-print
  //- .utility-icon.pull-left.block-xs.btn-send.has-tooltip(data-tooltip="Send"): i.icon.icon-paper-plane
  .utility-icon.pull-left.block-xs.has-tooltip(data-tooltip="Copy link"): i.icon.icon-link
  .utility-icon.pull-left.block-xs.btn-share.has-tooltip(data-tooltip="Share"): i.icon.icon-share-right
  .utility-icon.pull-left.block-xs.has-tooltip(data-tooltip="Delete"): i.icon.icon-trash
  
  .divider.pull-left

  .utility-icon.pull-left.block-xs.btn-comments.hoverable: i.icon.icon-comment