.utility-block.pull-right.no-transition
  .utility-icon.pull-left.block-xs.btn-share.has-tooltip(data-tooltip="Share"): i.icon.icon-user
  .utility-icon.pull-left.block-xs.has-tooltip(data-tooltip="Upload files"): i.icon.icon-upload
  .utility-icon.pull-left.block-xs.btn-download.has-tooltip(data-tooltip="Download"): i.icon.icon-download
  .utility-icon.pull-left.block-xs.btn-send.has-tooltip(data-tooltip="Send"): i.icon.icon-paper-plane
  .utility-icon.pull-left.block-xs.has-tooltip(data-tooltip="Delete"): i.icon.icon-trash
  
  .divider.pull-left

  .utility-icon.pull-left.block-xs.btn-comments.hoverable: i.icon.icon-comment

  //- .flex-center.pull-left.block-left-sm
  //-   .pull-left.flex-center.hoverable.btn-settings
  //-     i.icon.icon-gear
  //-     include ../../partials/context-menus/utility-row-settings-context-menu
    
  //-   .pull-left.flex-center.hoverable.btn-comments: i.icon.icon-comment