.pull-left.selected-tag
  .bg-md-grey.overflow-auto
    .pull-left.displaying-results.block-ver-xxs.block-left-xs.block-right-xxs.wgsn-font 1 item selected
    .pull-left.btn-deselect.hoverable.block-ver-xxs.block-right-xs: i.icon.icon-cross

.utility-icon.pull-left.block-top-xs.block-hor-xs.btn-upload.has-tooltip.hidden-workspace-favourites.hidden-workspace-trash.hidden-image-library.hidden-mood-library(data-tooltip="Upload files"): i.icon.icon-upload
.utility-icon.pull-left.block-top-xs.block-hor-xs.btn-save.has-tooltip.hidden-workspace(data-tooltip="Save"): i.icon.icon-save
.utility-icon.pull-left.block-top-xs.block-hor-xs.btn-move.has-tooltip.hidden-workspace-favourites.hidden-image-library.hidden-mood-library(data-tooltip="Move"): i.icon.icon-move
.utility-icon.pull-left.block-top-xs.block-hor-xs.btn-copy.has-tooltip.hidden-workspace-favourites.hidden-workspace-trash.hidden-image-library.hidden-mood-library(data-tooltip="Copy"): i.icon.icon-clone
.utility-icon.pull-left.block-top-xs.block-hor-xs.btn-download.has-tooltip.hidden-workspace-trash(data-tooltip="Download"): i.icon.icon-download
.utility-icon.pull-left.block-top-xs.block-hor-xs.btn-print.has-tooltip.hidden-workspace-trash(data-tooltip="Print"): i.icon.icon-print
.utility-icon.pull-left.block-top-xs.block-hor-xs.btn-send.has-tooltip.hidden-workspace-trash(data-tooltip="Email"): i.icon.icon-paper-plane
.utility-icon.pull-left.block-top-xs.block-hor-xs.btn-delete.has-tooltip.hidden-workspace-favourites.hidden-workspace-trash.hidden-image-library.hidden-mood-library(data-tooltip="Delete"): i.icon.icon-trash
.utility-icon.pull-left.block-top-xs.block-hor-xs.btn-unfavourite.has-tooltip.hidden-workspace-folder.hidden-workspace-trash.hidden-image-library.hidden-mood-library(data-tooltip="Un-favourite"): i.icon.icon-heart-filled

