.view-options.bg-xlt-grey.block-ver-sm.block-hor-md
  .row
    .col-xs-12.col-sm-6
      .block-ver-xs.block-right-xs.pull-left
        h4.tight.hidden-image-library.hidden-mood-library 202 items
        h4.tight.hidden-workspace 202,156 results
      
      .divider.pull-left.hidden-workspace

      .block-hor-xs.pull-left.hidden-workspace
        label.pull-left.inline-block.tight.block-ver-xs.block-right-sm Sort by: 
        select.pull-left.inline-block
          option Relevance
          option Date
  
    .col-xs-12.col-sm-6
      .pull-right
        .pull-left.hidden-workspace
          include ../../partials/workspace/utility-block

        .divider.pull-left.hidden-workspace
        
        .block-xs.pull-left
          label.checkbox-radio.tight(for="select-all") Select all (202)
            input.pull-left.select-all(type="checkbox" id="select-all")

        .divider.pull-left

        .btn-view-option.pull-left.hoverable.block-xs.disabled.btn-view-option-sm: i.icon.icon-grid-sm
        .btn-view-option.pull-left.hoverable.block-xs.btn-view-option-md: i.icon.icon-grid-md
        .btn-view-option.pull-left.hoverable.block-xs.disabled.btn-view-option-lg: i.icon.icon-grid-lg
        .btn-view-option.pull-left.hoverable.block-xs.disabled.btn-view-option-details: i.icon.icon-grid-details

        .divider.pull-left

        .btn-settings.pull-left.hoverable.block-xs
          i.icon.icon-gear
          include ../../partials/context-menus/utility-row-settings-context-menu