extends ../../layout
include ../../partials/workspace/workspace-header

block append vars
  - bodyclass = 'workspace-view workspace-trash-view product-none'

block prepend title
  | Trash | Workspace | 

block content
  .page-content.show-left-side-panel
    //- LEFT SIDE PANEL
    include ../../partials/workspace/left-side-panel
    
    //- RIGHT SIDE PANEL
    .right-side-panel
      +workspace-header("All Trash", "You", "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", "66", "edit")
      include ../../partials/workspace/view-options
      include ../../partials/images-row