extends ../../layout
include ../../partials/workspace/workspace-header

block append vars
  - bodyclass = 'workspace-view workspace-favourites-view product-none'

block prepend title
  | Favourites | Workspace |

block content
  .page-content.show-left-side-panel
    //- LEFT SIDE PANEL
    include ../../partials/workspace/left-side-panel
    
    //- RIGHT SIDE PANEL
    .right-side-panel
      +workspace-header("Favourites", "You", "Easy access to all the images you've favourited from WGSN.", "66", "edit")
      include ../../partials/workspace/view-options
      include ../../partials/images-row