extends ../../layout
include ../../partials/workspace/workspace-header

block append vars
  - bodyclass = 'workspace-view workspace-folder-view workspace-inspiration-images-view workspace-view-only-view product-none'

block prepend title
  | Inspiration Images | Workspace | 

block content
  .page-content.show-left-side-panel
    //- LEFT SIDE PANEL
    include ../../partials/workspace/left-side-panel
    
    //- RIGHT SIDE PANEL
    .right-side-panel
      +workspace-header("Inspiration Images", "Julian Ramirez", "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", "11", "view")
      include ../../partials/workspace/view-options
      include ../../partials/files-row
      
    //- COMMENTS PANEL
    include ../../partials/workspace/comments-panel