extends ../../layout

block append vars
  - bodyclass = 'workspace-view workspace-folder-view workspace-inspiration-images-view workspace-view-only-view product-none'

block prepend title
  | Inspiration Images | Workspace | 

block content
  .page-content.show-left-side-panel
    //- LEFT SIDE PANEL
    include ../../partials/workspace/left-side-panel
    
    //- RIGHT SIDE PANEL
    .right-side-panel
      .workspace-header.block-md.bg-lt-grey.no-transition
        .row.block-bot-sm.no-transition
          .col-xs-12.col-sm-6
            h3.tight.hide-on-scroll Workspace
            h1.tight.no-transition Inspiration Images
              .view-only-block.block-left-sm.inline-block
                i.icon.icon-eye
                span.has-tooltip.tooltip-down.tooltip-wrap.sans-serif.text-no-transform(data-tooltip="You can only view this board. To make changes, ask the board owner for edit permissions.") View only access
            h3.text-grey.hide-on-scroll by Julian Ramirez
            p.hide-on-scroll Lorem ipsum dolor sit amet, consectetur adipiscing elit.

          .col-xs-12.col-sm-6
            include ../../partials/workspace/share-block

        .row
          .col-xs-12.col-sm-4
            input.search-input.hide-on-scroll(type="text", placeholder="Search this folder")

          .col-xs-12.col-sm-8
            include ../../partials/workspace/utility-block

      .workspace-header-condensed.block-hor-md
        .row
          .col-xs-12.col-sm-6.block-top-md.bg-lt-grey
            h3.tight.no-transition Workspace
            h1.tight.no-transition Inspiration Images

          .col-xs-12.col-sm-6.block-top-md.bg-lt-grey
            include ../../partials/workspace/utility-block

      include ../../partials/workspace/view-options
      
      include ../../partials/files-row
      
    //- COMMENTS PANEL
    include ../../partials/workspace/comments-panel




  //- .page-content.show-left-side-panel
    
  //-   //- TITLE ROW
  //-   .title-row.border-bottom.block-hor-md
  //-     .block-ver-xs.block-right-xs.pull-left
  //-       h1.tight.inline-block.multi-line
  //-         span Workspace
  //-         | Inspiration Images
      
  //-     .block-ver-md.block-right-sm.pull-left.hoverable.btn-top-board-context-menu
  //-       span.text-grey.wgsn-font 200
  //-       i.icon.icon-caret-down.text-grey
  //-       include ../../partials/context-menus/top-board-context-menu

  //-     include ../../partials/workspace/share-block
      
  //-     .view-only-block.block-ver-sm.pull-left
  //-       i.icon.icon-eye
  //-       span.has-tooltip.tooltip-down.tooltip-wrap(data-tooltip="You can only view this board. To make changes, ask the board owner for edit permissions.") View only access

  //-     include ../../partials/workspace/utility-block
  //-     include ../../partials/floating-utility-row

  //-   //- LEFT SIDE PANEL
  //-   include ../../partials/workspace/left-side-panel
    
  //-   //- RIGHT SIDE PANEL
  //-   .right-side-panel
  //-     include ../../partials/files-row
      
  //-   //- COMMENTS PANEL
  //-   include ../../partials/workspace/comments-panel