.token
  background: $lt-grey
  border: 1px solid $lt-grey
  @extend .pull-left
  padding: 4px 7px
  margin: 0 5px 5px 0

  .avatar,
  span,
  .icon
    @extend .pull-left

  span
    @extend .block-right-sm
    @extend .inline-block
    position: relative

    &:after
      content: ""
      position: absolute
      display: block
      top: 1px
      right: -1px
      background: $xlt-grey
      width: 1px
      height: 100%

  .icon-cross
    @extend .hoverable
    margin-left: 7px
    color: $md-grey

    &:hover
      color: $dk-grey

  &.token-alt
    background: white

    span:after
      background: $lt-grey