ul.context-menu#utility-row-settings-context-menu
  .block-ver-xxs.border-bottom
    li
      h4 Display

      form
        label.checkbox-radio(for='display-captions') Captions
          input#display-captions(type='checkbox' checked)
        label.checkbox-radio(for='display-filenames') Filenames
          input#display-filenames(type='checkbox')

  .block-ver-xxs.border-bottom.hidden-workspace-trash
    li
      h4 Download Preferences

      form
        p Images:
        label.checkbox-radio(for="best-quality") Best quality
          input#best-quality(type="radio" name="image-quality" value="best-quality" checked)
        label.checkbox-radio(for="standard-quality") Standard quality
          input#standard-quality(type="radio" name="image-quality" value="standard-quality")
        p.block-top-xs Design Assets:
        label.checkbox-radio(for="#design-file") Design file
          input(type="radio" name="design-quality" value="design-file" checked)
        label.checkbox-radio(for="#flat-image") Flat image
          input(type="radio" name="design-quality" value="flat-image")
  
  .block-ver-xxs.text-center.hidden-workspace-trash
    li
      span.text-underline More Settings