ul.context-menu#utility-row-settings-context-menu
  .block-ver-xxs.border-bottom
    li
      h4 Display
      .row
        .col-xs-10
          p.pull-left Captions
        .col-xs-2
          .toggle.toggle-on.pull-right#toggle-show-caption
      .row
        .col-xs-10
          p.pull-left.tight Filenames
        .col-xs-2
          .toggle.toggle-off.pull-right#toggle-show-filename

  .block-ver-xxs.border-bottom
    li
      h4 Download Preferences
      .block-bot-xs
        p Images:
        form
          label.checkbox-radio(for="best-quality") Best quality
            input#best-quality(type="radio" name="image-quality" value="best-quality" checked)
          label.checkbox-radio(for="standard-quality") Standard quality
            input#standard-quality(type="radio" name="image-quality" value="standard-quality")
      .block
        p Design Assets:
        form
          label.checkbox-radio(for="#design-file") Design file
            input(type="radio" name="design-quality" value="design-file" checked)
          label.checkbox-radio(for="#flat-image") Flat image
            input(type="radio" name="design-quality" value="flat-image")
  .block-ver-xxs.text-center
    li
      span.text-underline More Settings