extends ../../layout

block append vars
  - bodyclass = 'workspace-view workspace-folder-view workspace-autumn-winter-2016-view product-none'

block prepend title
  | Autumn/Winter 2016 | Workspace | 

block content
  .page-content.show-left-side-panel
    //- LEFT SIDE PANEL
    include ../../partials/workspace/left-side-panel
    
    //- RIGHT SIDE PANEL
    .right-side-panel
      .workspace-header.block-md.bg-lt-grey.no-transition
        .row.block-bot-sm.no-transition
          .col-xs-12.col-sm-8
            h3.tight.hide-on-scroll Workspace
            h1.tight.no-transition Autumn/Winter 2016
            h3.text-grey.hide-on-scroll by Amelia Lewis
            p.hide-on-scroll Lorem ipsum dolor sit amet, consectetur adipiscing elit.

          .col-xs-12.col-sm-4
            include ../../partials/workspace/share-block

        .row
          .col-xs-12.col-sm-4
            input.search-input.hide-on-scroll(type="text", placeholder="Search this folder")

          .col-xs-12.col-sm-8
            include ../../partials/workspace/utility-block

      include ../../partials/workspace/view-options
      
      include ../../partials/files-row
      
    //- COMMENTS PANEL
    include ../../partials/workspace/comments-panel