extends ../../layout
include ../../partials/workspace/workspace-header

block append vars
  - bodyclass = 'workspace-view workspace-folder-view workspace-autumn-winter-2016-view product-none'

block prepend title
  | Autumn/Winter 2016 | Workspace | 

block content
  .page-content.show-left-side-panel
    //- LEFT SIDE PANEL
    include ../../partials/workspace/left-side-panel
    
    //- RIGHT SIDE PANEL
    .right-side-panel
      +workspace-header("Autumn/winter 2016", "Amelia Lewis", "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", "11", "edit")

      include ../../partials/workspace/view-options
      
      include ../../partials/files-row
      
    //- COMMENTS PANEL
    include ../../partials/workspace/comments-panel