extends ../../layout

block append vars
  - bodyclass = 'workspace-view workspace-folder-view workspace-autumn-winter-2016-view product-none'

block prepend title
  | Autumn/Winter 2016 | Workspace | 

block content
  .page-content.show-left-side-panel
    //- LEFT SIDE PANEL
    include ../../partials/workspace/left-side-panel
    
    //- RIGHT SIDE PANEL
    .right-side-panel
      .workspace-header.block-md.bg-white.border-bottom
        .row
          .col-xs-12.col-sm-8
            h3.text-grey.tight Workspace
            h1 Autumn/Winter 2016
              span.text-grey 152 items
            p.text-grey by Amelia Lewis
            p.tight Lorem ipsum dolor sit amet, consectetur adipiscing elit.

          .col-xs-12.col-sm-4
            include ../../partials/workspace/share-block
      
        include ../../partials/workspace/utility-row
      
      include ../../partials/files-row
      
    //- COMMENTS PANEL
    include ../../partials/workspace/comments-panel