extends ../layout

block append vars
  - bodyclass = 'image-library-view product-fashion'

block prepend title
  | Image Library | 

block content
  .page-content.show-left-side-panel
    
    //- TITLE ROW
    .title-row.bg-lt-grey.block-md
      .row
        .col-xs-12
          h1 Image &amp; Design Library

      .row
        .col-xs-12
          input.search-input(type="text", placeholder="Search Image & Design Library")

      //- .utility-block.pull-right
      //-   .flex-center.pull-left.hoverable.btn-saved-searches
      //-     i.icon.icon-bookmark
      //-     include ../partials/image-library/saved-searches

    //- LEFT SIDE PANEL
    include ../partials/image-library/left-side-panel

    //- RIGHT SIDE PANEL
    .right-side-panel
      include ../partials/workspace/view-options
      include ../partials/images-row