extends ../layout

block append vars
  - bodyclass = 'image-library-view product-fashion'

block prepend title
  | Image Library | 

block content
  .page-content.show-left-side-panel
    .image-library-header.block-md.bg-lt-grey
      .row
        .col-xs-12.col-sm-8
          h1 Image &amp; Design Library

      .row
        .col-xs-12
          input.search-input.pull-left(type="text", placeholder="Search images, prints, patterns and more...")
          .btn-saved-searches.block-xs.bg-white.pull-left.hoverable.border-left
            i.icon.icon-bookmark
            span.wgsn-font.block-hor-xs Saved searches
            i.icon.icon-caret-down.inline-block.no-transition
            include ../partials/image-library/saved-searches

    //- LEFT SIDE PANEL
    .left-side-panel
      include ../partials/image-library/filter-structure
      .btn-left-side-panel.bg-white.flex-center.border.hoverable: i.icon.icon-double-angle-left

    //- RIGHT SIDE PANEL
    .right-side-panel
      include ../partials/workspace/view-options
      include ../partials/images-row

      .text-center: .load-more-button.block-ver-xs.block-hor-md.bg-lt-grey.text-grey.wgsn-font.inline-block.hoverable Load images 501&ndash;1000

    //- WORKSPACE PANEL
    .workspace-panel
      .folder-structure.bg-xdk-grey
        include ../partials/workspace/folder-structure

      .btn-workspace-panel.bg-xdk-grey.flex-center.hoverable: i.icon.icon-double-angle-right