extends ../layout

block append vars
  - bodyclass = 'image-library-view product-fashion'

block prepend title
  | Image Library | 

block content
  .page-content.show-left-side-panel
    .image-library-header.block-md.bg-lt-grey
      .row
        .col-xs-12
          h1 Image &amp; Design Library

      .row
        .col-xs-12
          input.search-input(type="text", placeholder="Search Image & Design Library")

    .image-library-header-condensed.block-md.bg-lt-grey
      .row
        .col-xs-12.col-sm-4
          h1.tight Image &amp; Design Library

        .col-xs-12.col-sm-8
          .utility-block.pull-right
            include ../partials/workspace/utility-block
            .divider.pull-left
            .block-xs.pull-left
              label.checkbox-radio.tight(for="select-all")
                input.pull-left.select-all(type="checkbox" id="select-all")
                span Select (500)

    //- LEFT SIDE PANEL
    include ../partials/image-library/left-side-panel

    //- RIGHT SIDE PANEL
    .right-side-panel
      include ../partials/workspace/view-options
      include ../partials/images-row