extends ../../layout
include ../../partials/workspace/workspace-header

block append vars
  - bodyclass = 'workspace-view workspace-folder-view workspace-balmain-2016-view product-none'

block prepend title
  | Balmain 2016 | Workspace | 

block content
  .page-content.show-left-side-panel
    //- LEFT SIDE PANEL
    include ../../partials/workspace/left-side-panel
    
    //- RIGHT SIDE PANEL
    .right-side-panel
      +workspace-header("Balmain 2016", "Amelia Lewis", "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", "66", "edit")
      include ../../partials/workspace/view-options
      include ../../partials/images-row
      
    //- COMMENTS PANEL
    include ../../partials/workspace/comments-panel