extends ../../layout

block append vars
  - bodyclass = 'workspace-view workspace-folder-view workspace-balmain-2016-view product-none'

block prepend title
  | Balmain 2016 | Workspace | 

block content
  .page-content.show-left-side-panel
    
    //- TITLE ROW
    .title-row
      .block-ver-xs.block-right-xs.pull-left
        h1.tight.inline-block.multi-line
          span Workspace
          | Balmain 2016
      
      .block-ver-md.block-right-sm.pull-left.hoverable.btn-top-board-context-menu
        span.text-grey.wgsn-font 2008
        i.icon.icon-caret-down.text-grey
        include ../../partials/context-menus/top-board-context-menu

      include ../../partials/workspace/share-block
      include ../../partials/workspace/utility-block
      include ../../partials/floating-utility-row

    //- LEFT SIDE PANEL
    include ../../partials/workspace/left-side-panel
    
    //- RIGHT SIDE PANEL
    .right-side-panel
      include ../../partials/images-row
      
    //- COMMENTS PANEL
    include ../../partials/workspace/comments-panel