.floating-utility-row-container
  .floating-utility-row
    .block-ver-xs.block-right-md.block-left-xs.pull-right
      .btn.btn-coloured.select-all Select all

    .block-sm.pull-right
      .displaying-results 

    .multi-utility-icons.pull-right
      .has-tooltip.tooltip-down(data-tooltip="Exit selection mode"): i.icon.icon-cross
      .divider.inline-block
      .has-tooltip.tooltip-down(data-tooltip="Save"): i.icon.icon-plus-circle.btn-save.hidden-workspace.hidden-workspace-trash
      .has-tooltip.tooltip-down(data-tooltip="Move"): i.icon.icon-move.btn-move.hidden-image-library.hidden-workspace-favourites.hidden-workspace-view-only
      .has-tooltip.tooltip-down(data-tooltip="Copy"): i.icon.icon-clone.btn-copy.hidden-image-library.hidden-workspace-favourites.hidden-workspace-trash
      .has-tooltip.tooltip-down(data-tooltip="Download"): i.icon.icon-download.btn-download.hidden-workspace-trash
      .has-tooltip.tooltip-down(data-tooltip="Print"): i.icon.icon-print.btn-print.hidden-workspace-trash
      .has-tooltip.tooltip-down(data-tooltip="Send"): i.icon.icon-paper-plane.btn-send.hidden-workspace-trash
      .has-tooltip.tooltip-down(data-tooltip="Delete"): i.icon.icon-trash.hidden-image-library.hidden-workspace-trash.hidden-workspace-favourites
      .has-tooltip.tooltip-down(data-tooltip="Un-favourite"): i.icon.icon-heart.hidden-image-library.hidden-workspace-folder