header
  .pull-left
    i.icon.icon-bars.pull-left.hoverable.hidden-workspace.hidden-workspace.hidden-workspace-messages.hidden-workspace-favourites
    img.wgsn-logo.pull-left.hoverable(src='https://www.wgsn.com/wp-content/themes/stylesight/library/images/redesign/logos/logo-nav-white.png')
    a.product-link#product-link-think-tank(href="") Think tank
    a.product-link#product-link-fashion(href="/image-library") Fashion
    a.product-link#product-link-li(href="") Lifestyle &amp; Interiors
    a.product-link#product-link-instock(href="") Instock
    a.product-link#product-link-styletrial(href="") Styletrial
    a.product-link#product-link-mindset(href="") Mindset
    a.product-link#product-link-futures(href="") Futures
    i.icon.icon-caret-down.pull-left

  .pull-right.text-right
    //- .block-hor-sm.pull-left.search-block.hoverable
    //-   i.icon.icon-search.pull-left
    //-   input.pull-left(type="text" )
    //-   .search-section.pull-left
    //-     h4.tight.pull-left All content
    //-     i.icon.icon-caret-down.pull-left

    //- .block-hor-xs.pull-left.language-block.hoverable
    //-   h4.pull-left EN
    //-   i.icon.icon-caret-down.pull-left

    .block-hor-sm.pull-left
      .has-tooltip.tooltip-down(data-tooltip="Search"): i.icon.icon-search.hoverable
      .has-tooltip.tooltip-down(data-tooltip="Notifications"): i.icon.icon-bell.hoverable.btn-notifications
      //- .has-tooltip.tooltip-down(data-tooltip="Messages"): i.icon.icon-envelope.hoverable.btn-message-notifications
      a.has-tooltip.tooltip-down(href="/workspace/autumn-winter-2016" data-tooltip="Workspace"): i.icon.icon-briefcase.hoverable
      .has-tooltip.tooltip-down(data-tooltip="Live Chat"): i.icon.icon-chat.hoverable
      .has-tooltip.tooltip-down(data-tooltip="Help"): i.icon.icon-help-circle.hoverable

    .pull-left.user-block.hoverable
      .avatar.pull-left(style="background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/05b/332/0aa54b4.jpg')")
      h4.pull-left Amelia Lewis
      i.icon.icon-caret-down.pull-left