include file
//- type, img, original, comments, filename, ...caption

.files-row.no-transition
  .files-container
    .collage
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/36/34/50/52/media_jsim_ps17_001.jpg", false, false, "media_jsim_ps17_001.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/46/34/50/52/media_jsim_ps17_002.jpg", false, false, "media_jsim_ps17_002.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/56/34/50/52/media_jsim_ps17_003.jpg", false, false, "media_jsim_ps17_003.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/66/34/50/52/media_jsim_ps17_004.jpg", false, false, "media_jsim_ps17_004.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/76/34/50/52/media_jsim_ps17_005.jpg", false, false, "media_jsim_ps17_005.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/86/34/50/52/media_jsim_ps17_006.jpg", false, false, "media_jsim_ps17_006.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/96/34/50/52/media_jsim_ps17_007.jpg", false, false, "media_jsim_ps17_007.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/07/34/50/52/media_jsim_ps17_008.jpg", false, false, "media_jsim_ps17_008.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/17/34/50/52/media_jsim_ps17_009.jpg", false, false, "media_jsim_ps17_009.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/27/34/50/52/media_jsim_ps17_010.jpg", false, false, "media_jsim_ps17_010.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/37/34/50/52/media_jsim_ps17_011.jpg", false, false, "media_jsim_ps17_011.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/47/34/50/52/media_jsim_ps17_012.jpg", false, false, "media_jsim_ps17_012.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/57/34/50/52/media_jsim_ps17_013.jpg", false, false, "media_jsim_ps17_013.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/67/34/50/52/media_jsim_ps17_014.jpg", false, false, "media_jsim_ps17_014.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/77/34/50/52/media_jsim_ps17_015.jpg", false, false, "media_jsim_ps17_015.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/87/34/50/52/media_jsim_ps17_016.jpg", false, false, "media_jsim_ps17_016.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/97/34/50/52/media_jsim_ps17_017.jpg", false, false, "media_jsim_ps17_017.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/08/34/50/52/media_jsim_ps17_018.jpg", false, false, "media_jsim_ps17_018.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/18/34/50/52/media_jsim_ps17_019.jpg", false, false, "media_jsim_ps17_019.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/28/34/50/52/media_jsim_ps17_020.jpg", false, false, "media_jsim_ps17_020.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/38/34/50/52/media_jsim_ps17_021.jpg", false, false, "media_jsim_ps17_021.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/48/34/50/52/media_jsim_ps17_022.jpg", false, false, "media_jsim_ps17_022.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/58/34/50/52/media_jsim_ps17_023.jpg", false, false, "media_jsim_ps17_023.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/68/34/50/52/media_jsim_ps17_024.jpg", false, false, "media_jsim_ps17_024.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/56/81/50/52/media_gmb_ps17_001.jpg", false, false, "media_gmb_ps17_001.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/66/81/50/52/media_gmb_ps17_002.jpg", false, false, "media_gmb_ps17_002.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/76/81/50/52/media_gmb_ps17_003.jpg", false, false, "media_gmb_ps17_003.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/86/81/50/52/media_gmb_ps17_004.jpg", false, false, "media_gmb_ps17_004.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/96/81/50/52/media_gmb_ps17_005.jpg", false, false, "media_gmb_ps17_005.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/07/81/50/52/media_gmb_ps17_006.jpg", false, false, "media_gmb_ps17_006.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/17/81/50/52/media_gmb_ps17_007.jpg", false, false, "media_gmb_ps17_007.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/27/81/50/52/media_gmb_ps17_008.jpg", false, false, "media_gmb_ps17_008.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/37/81/50/52/media_gmb_ps17_009.jpg", false, false, "media_gmb_ps17_009.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/47/81/50/52/media_gmb_ps17_010.jpg", false, false, "media_gmb_ps17_010.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/57/81/50/52/media_gmb_ps17_011.jpg", false, false, "media_gmb_ps17_011.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/15/18/93/52/thumb_lar40816_IMG_8534.jpg", false, false, "thumb_lar40816_IMG_8534.jpg", "Bloomingdale's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/04/71/04/52/thumb_lar40816_IMG_8502.jpg", false, false, "thumb_lar40816_IMG_8502.jpg", "Bloomingdale's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/14/71/04/52/thumb_lar40816_IMG_8503.jpg", false, false, "thumb_lar40816_IMG_8503.jpg", "Bloomingdale's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/24/71/04/52/thumb_lar40816_IMG_8504.jpg", false, false, "thumb_lar40816_IMG_8504.jpg", "Bloomingdale's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/34/71/04/52/thumb_lar40816_IMG_8505.jpg", false, false, "thumb_lar40816_IMG_8505.jpg", "Bloomingdale's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/44/71/04/52/thumb_lar40816_IMG_8506.jpg", false, false, "thumb_lar40816_IMG_8506.jpg", "Bloomingdale's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/54/71/04/52/thumb_lar40816_IMG_8507.jpg", false, false, "thumb_lar40816_IMG_8507.jpg", "Bloomingdale's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/64/71/04/52/thumb_lar40816_IMG_8508.jpg", false, false, "thumb_lar40816_IMG_8508.jpg", "Bloomingdale's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/74/71/04/52/thumb_lar40816_IMG_8509.jpg", false, false, "thumb_lar40816_IMG_8509.jpg", "Bloomingdale's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/84/71/04/52/thumb_lar40816_IMG_8510.jpg", false, false, "thumb_lar40816_IMG_8510.jpg", "Bloomingdale's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/94/71/04/52/thumb_lar40816_IMG_8511.jpg", false, false, "thumb_lar40816_IMG_8511.jpg", "Bloomingdale's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/05/71/04/52/thumb_lar40816_IMG_8512.jpg", false, false, "thumb_lar40816_IMG_8512.jpg", "Bloomingdale's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/25/71/04/52/thumb_lar40816_IMG_8514.jpg", false, false, "thumb_lar40816_IMG_8514.jpg", "Bloomingdale's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/35/71/04/52/thumb_lar40816_IMG_8515.jpg", false, false, "thumb_lar40816_IMG_8515.jpg", "Bloomingdale's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/45/71/04/52/thumb_lar40816_IMG_8516.jpg", false, false, "thumb_lar40816_IMG_8516.jpg", "Bloomingdale's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/55/71/04/52/thumb_lar40816_IMG_8517.jpg", false, false, "thumb_lar40816_IMG_8517.jpg", "Bloomingdale's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/65/71/04/52/thumb_lar40816_IMG_8518.jpg", false, false, "thumb_lar40816_IMG_8518.jpg", "Bloomingdale's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/75/71/04/52/thumb_lar40816_IMG_8519.jpg", false, false, "thumb_lar40816_IMG_8519.jpg", "Bloomingdale's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/85/71/04/52/thumb_lar40816_IMG_8520.jpg", false, false, "thumb_lar40816_IMG_8520.jpg", "Bloomingdale's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/95/71/04/52/thumb_lar40816_IMG_8521.jpg", false, false, "thumb_lar40816_IMG_8521.jpg", "Bloomingdale's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/06/71/04/52/thumb_lar40816_IMG_8522.jpg", false, false, "thumb_lar40816_IMG_8522.jpg", "Bloomingdale's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/16/71/04/52/thumb_lar40816_IMG_8523.jpg", false, false, "thumb_lar40816_IMG_8523.jpg", "Bloomingdale's", "August 2016", "Los Angeles")
    
    .details-view
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/36/34/50/52/original_jsim_ps17_001.jpg", false, false, "media_jsim_ps17_001.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/46/34/50/52/original_jsim_ps17_002.jpg", false, false, "media_jsim_ps17_002.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/56/34/50/52/original_jsim_ps17_003.jpg", false, false, "media_jsim_ps17_003.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/66/34/50/52/original_jsim_ps17_004.jpg", false, false, "media_jsim_ps17_004.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/76/34/50/52/original_jsim_ps17_005.jpg", false, false, "media_jsim_ps17_005.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/86/34/50/52/original_jsim_ps17_006.jpg", false, false, "media_jsim_ps17_006.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/96/34/50/52/original_jsim_ps17_007.jpg", false, false, "media_jsim_ps17_007.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/07/34/50/52/original_jsim_ps17_008.jpg", false, false, "media_jsim_ps17_008.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/17/34/50/52/original_jsim_ps17_009.jpg", false, false, "media_jsim_ps17_009.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/27/34/50/52/original_jsim_ps17_010.jpg", false, false, "media_jsim_ps17_010.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/37/34/50/52/original_jsim_ps17_011.jpg", false, false, "media_jsim_ps17_011.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/47/34/50/52/original_jsim_ps17_012.jpg", false, false, "media_jsim_ps17_012.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/57/34/50/52/original_jsim_ps17_013.jpg", false, false, "media_jsim_ps17_013.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/67/34/50/52/original_jsim_ps17_014.jpg", false, false, "media_jsim_ps17_014.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/77/34/50/52/original_jsim_ps17_015.jpg", false, false, "media_jsim_ps17_015.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/87/34/50/52/original_jsim_ps17_016.jpg", false, false, "media_jsim_ps17_016.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/97/34/50/52/original_jsim_ps17_017.jpg", false, false, "media_jsim_ps17_017.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/08/34/50/52/original_jsim_ps17_018.jpg", false, false, "media_jsim_ps17_018.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/18/34/50/52/original_jsim_ps17_019.jpg", false, false, "media_jsim_ps17_019.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/28/34/50/52/original_jsim_ps17_020.jpg", false, false, "media_jsim_ps17_020.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/38/34/50/52/original_jsim_ps17_021.jpg", false, false, "media_jsim_ps17_021.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/48/34/50/52/original_jsim_ps17_022.jpg", false, false, "media_jsim_ps17_022.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/58/34/50/52/original_jsim_ps17_023.jpg", false, false, "media_jsim_ps17_023.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/68/34/50/52/original_jsim_ps17_024.jpg", false, false, "media_jsim_ps17_024.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/56/81/50/52/original_gmb_ps17_001.jpg", false, false, "media_gmb_ps17_001.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/66/81/50/52/original_gmb_ps17_002.jpg", false, false, "media_gmb_ps17_002.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/76/81/50/52/original_gmb_ps17_003.jpg", false, false, "media_gmb_ps17_003.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/86/81/50/52/original_gmb_ps17_004.jpg", false, false, "media_gmb_ps17_004.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/96/81/50/52/original_gmb_ps17_005.jpg", false, false, "media_gmb_ps17_005.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/07/81/50/52/original_gmb_ps17_006.jpg", false, false, "media_gmb_ps17_006.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/17/81/50/52/original_gmb_ps17_007.jpg", false, false, "media_gmb_ps17_007.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/27/81/50/52/original_gmb_ps17_008.jpg", false, false, "media_gmb_ps17_008.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/37/81/50/52/original_gmb_ps17_009.jpg", false, false, "media_gmb_ps17_009.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/47/81/50/52/original_gmb_ps17_010.jpg", false, false, "media_gmb_ps17_010.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/57/81/50/52/original_gmb_ps17_011.jpg", false, false, "media_gmb_ps17_011.jpg", "Giamba", "Pre-Summer 2017", "Milan")