include file
//- type, img, original, comments, filename, ...caption

.files-row.no-transition
  .files-container
    .collage
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/40/49/73/52/media_par20816_IMG_0002.jpg", false, false, "media_par20816_IMG_0002.jpg", "Valentino", "August 2016", "Paris")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/80/49/73/52/media_par20816_IMG_0006.jpg", false, false, "media_par20816_IMG_0006.jpg", "Valentino", "August 2016", "Paris")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/10/78/73/52/media_par0816_IMG_9557.jpg", false, false, "media_par0816_IMG_9557.jpg", "Printemps", "August 2016", "Paris")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/64/35/83/52/media_par0816_IMG_9543.jpg", false, false, "media_par0816_IMG_9543.jpg", "Printemps", "August 2016", "Paris")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/54/82/53/52/media_lor120816_IMG_9190.jpg", false, false, "media_lor120816_IMG_9190.jpg", "Valentino", "August 2016", "Paris")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/64/82/53/52/media_lor120816_IMG_9191.jpg", false, false, "media_lor120816_IMG_9191.jpg", "Valentino", "August 2016", "Paris")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/73/91/43/52/media_shr30816_IMG_7098.jpg", false, false, "media_shr30816_IMG_7098.jpg", "Akris", "August 2016", "Shanghai")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/68/31/43/52/media_shr50816_IMG_1654.jpg", false, false, "media_shr50816_IMG_1654.jpg", "H&M", "August 2016", "Shanghai")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/39/31/43/52/media_shr50816_IMG_1661.jpg", false, false, "media_shr50816_IMG_1661.jpg", "H&M", "August 2016", "Shanghai")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/38/63/33/52/media_lor20816_IMG_2778.jpg", false, false, "media_lor20816_IMG_2778.jpg", "John Lewis", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/95/33/33/52/media_lor80816_IMG_3294.jpg", false, false, "media_lor80816_IMG_3294.jpg", "Topshop", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/14/82/33/52/media_lor50816_IMG_4029.jpg", false, false, "media_lor50816_IMG_4029.jpg", "Burberry", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/39/31/43/52/media_shr50816_IMG_1661.jpg", false, false, "media_shr50816_IMG_1661.jpg", "Burberry", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/38/63/33/52/media_lor20816_IMG_2778.jpg", false, false, "media_lor20816_IMG_2778.jpg", "Macy's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/95/33/33/52/media_lor80816_IMG_3294.jpg", false, false, "media_lor80816_IMG_3294.jpg", "Macy's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/14/82/33/52/media_lor50816_IMG_4029.jpg", false, false, "media_lor50816_IMG_4029.jpg", "Macy's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/24/82/33/52/media_lor50816_IMG_4033.jpg", false, false, "media_lor50816_IMG_4033.jpg", "Macy's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/60/32/43/52/media_spl40716_IMG_7439.jpg", false, false, "media_spl40716_IMG_7439.jpg", "Splendor in the Grass", "July 2016", "Byron Bay")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/86/51/03/52/media_spl20716_IMG_6563.jpg", false, false, "media_spl20716_IMG_6563.jpg", "Splendor in the Grass", "July 2016", "Byron Bay")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/75/22/62/52/media_swm_ms_s17_011.jpg", false, false, "media_swm_ms_s17_011.jpg", "SwimShow", "Spring/Summer 2017", "Miami")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/11/91/62/52/media_swmm_ms_s17_64.jpg", false, false, "media_swmm_ms_s17_64.jpg", "Swim Miami", "Spring/Summer 2017", "Miami")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/53/41/62/52/media_ham_ms_s17_175.jpg", false, false, "media_ham_ms_s17_175.jpg", "Hammock", "Spring/Summer 2017", "Miami")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/87/97/52/52/media_lor90716_IMG_0772.jpg", false, false, "media_lor90716_IMG_0772.jpg", "River Island", "July 2016", "London")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/03/85/52/52/media_lor70716_IMG_0481.jpg", false, false, "media_lor70716_IMG_0481.jpg", "Dolce & Gabanna", "July 2016", "London")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/02/75/52/52/media_lor60716_IMG_0295.jpg", false, false, "media_lor60716_IMG_0295.jpg", "Burberry", "July 2016", "London")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/25/75/52/52/media_lor60716_IMG_0336.jpg", false, false, "media_lor60716_IMG_0336.jpg", "Dior", "July 2016", "London")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/99/75/52/52/media_lor60716_IMG_0438.jpg", false, false, "media_lor60716_IMG_0438.jpg", "MaxMara", "July 2016", "London")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/90/92/42/52/media_lb70716_050338864PLL_095.jpg", false, false, "media_lb70716_050338864PLL_095.jpg", "FullBeauty", "Autumn/Winter 2017", "")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/01/92/42/52/media_lb70716_050338865NUL_054.jpg", false, false, "media_lb70716_050338865NUL_054.jpg", "FullBeauty", "Autumn/Winter 2017", "")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/11/92/42/52/media_lb70716_050338866DSL_019.jpg", false, false, "media_lb70716_050338866DSL_019.jpg", "FullBeauty", "Autumn/Winter 2017", "")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/39/40/42/52/media_nyr100716_IMG_2592.jpg", false, false, "media_nyr100716_IMG_2592.jpg", "Saks Fifth Avenue", "July 2016", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/33/67/32/52/media_nyr50716_IMG_2799.jpg", false, false, "media_nyr50716_IMG_2799.jpg", "Saks Fifth Avenue", "July 2016", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/41/77/32/52/media_nyr50716_IMG_2880.jpg", false, false, "media_nyr50716_IMG_2880.jpg", "Saks Fifth Avenue", "July 2016", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/52/77/32/52/media_nyr50716_IMG_2891.jpg", false, false, "media_nyr50716_IMG_2891.jpg", "Saks Fifth Avenue", "July 2016", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/61/89/13/52/media_nyr50716_IMG_2882.jpg", false, false, "media_nyr50716_IMG_2882.jpg", "Maria Luisa", "July 2016", "Shanghai")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/55/07/32/52/media_shr20716_IMG_4940.jpg", false, false, "media_shr20716_IMG_4940.jpg", "Free People", "July 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/50/33/32/52/media_lar40716_IMG_6806.jpg", false, false, "media_lar40716_IMG_6806.jpg", "Orchestra", "July 2016", "Shanghai")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/83/92/32/52/media_shr0716_IMG_4695.jpg", false, false, "media_shr0716_IMG_4695.jpg", "Mango", "August 2016", "Paris")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/68/30/32/52/media_lb60716_GUESSHOLIDAY29.jpg", false, false, "media_lb60716_GUESSHOLIDAY29.jpg", "Mango", "August 2016", "Paris")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/34/45/22/52/media_shr30716_IMG_5405.jpg", false, false, "media_shr30716_IMG_5405.jpg", "Mango", "August 2016", "Paris")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/94/45/22/52/media_shr30716_IMG_5411.jpg", false, false, "media_shr30716_IMG_5411.jpg", "Zara", "August 2016", "Paris")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/35/45/22/52/media_shr30716_IMG_5417.jpg", false, false, "media_shr30716_IMG_5417.jpg", "H&M", "August 2016", "Paris")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/34/82/12/52/media_pam_ps17_011.jpg", false, false, "media_pam_ps17_011.jpg", "Promod", "August 2016", "Paris")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/84/82/12/52/media_pam_ps17_016.jpg", false, false, "media_pam_ps17_016.jpg", "Naf Naf", "August 2016", "Paris")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/94/82/12/52/media_pam_ps17_017.jpg", false, false, "media_pam_ps17_017.jpg", "Naf Naf", "August 2016", "Paris")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/16/82/12/52/media_pam_ps17_029.jpg", false, false, "media_pam_ps17_029.jpg", "2 Generation", "August 2016", "Paris")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/26/82/12/52/media_pam_ps17_030.jpg", false, false, "media_pam_ps17_030.jpg", "Cantao", "August 2016", "Paris")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/39/32/12/52/media_sss_ps17_001.jpg", false, false, "media_sss_ps17_001.jpg", "Macy's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/56/91/02/52/media_miu_ps17_010.jpg", false, false, "media_miu_ps17_010.jpg", "Macy's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/57/91/02/52/media_miu_ps17_020.jpg", false, false, "media_miu_ps17_020.jpg", "Macy's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/18/71/02/52/media_jst_ps17_002.jpg", false, false, "media_jst_ps17_002.jpg", "Macy's", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/72/81/02/52/media_cav_ps17_009.jpg", false, false, "media_cav_ps17_009.jpg", "Macy's", "August 2016", "Los Angeles")
    
    .details-view
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/49/31/93/52/media_lar0816_IMG_7237.jpg", false, false, "media_jsim_ps17_001.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/59/31/93/52/media_lar0816_IMG_7238.jpg", false, false, "media_jsim_ps17_002.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/20/41/93/52/media_lar0816_IMG_7245.jpg", false, false, "media_jsim_ps17_003.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/93/41/93/52/media_lar0816_IMG_7328.jpg", false, false, "media_jsim_ps17_004.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/04/41/93/52/media_lar0816_IMG_7329.jpg", false, false, "media_jsim_ps17_005.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/14/41/93/52/media_lar0816_IMG_7330.jpg", false, false, "media_jsim_ps17_006.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/05/41/93/52/media_lar0816_IMG_7339.jpg", false, false, "media_jsim_ps17_007.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/15/41/93/52/media_lar0816_IMG_7340.jpg", false, false, "media_jsim_ps17_008.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/25/41/93/52/media_lar0816_IMG_7341.jpg", false, false, "media_jsim_ps17_009.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/35/41/93/52/media_lar0816_IMG_7342.jpg", false, false, "media_jsim_ps17_010.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/65/41/93/52/media_lar0816_IMG_7345.jpg", false, false, "media_jsim_ps17_011.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/75/41/93/52/media_lar0816_IMG_7346.jpg", false, false, "media_jsim_ps17_012.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/95/41/93/52/media_lar0816_IMG_7348.jpg", false, false, "media_jsim_ps17_013.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/16/41/93/52/media_lar0816_IMG_7350.jpg", false, false, "media_jsim_ps17_014.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/26/41/93/52/media_lar0816_IMG_7351.jpg", false, false, "media_jsim_ps17_015.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/07/41/93/52/media_lar0816_IMG_7359.jpg", false, false, "media_jsim_ps17_016.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/17/41/93/52/media_lar0816_IMG_7360.jpg", false, false, "media_jsim_ps17_017.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/08/41/93/52/media_lar0816_IMG_7369.jpg", false, false, "media_jsim_ps17_018.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/28/41/93/52/media_lar0816_IMG_7371.jpg", false, false, "media_jsim_ps17_019.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/98/41/93/52/media_lar0816_IMG_7378.jpg", false, false, "media_jsim_ps17_020.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/99/41/93/52/media_lar0816_IMG_7388.jpg", false, false, "media_jsim_ps17_021.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/70/51/93/52/media_lar0816_IMG_7396.jpg", false, false, "media_jsim_ps17_022.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/71/51/93/52/media_lar0816_IMG_7406.jpg", false, false, "media_jsim_ps17_023.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/42/51/93/52/media_lar0816_IMG_7413.jpg", false, false, "media_jsim_ps17_024.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/62/51/93/52/media_lar0816_IMG_7415.jpg", false, false, "media_jsim_ps17_018.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/72/51/93/52/media_lar0816_IMG_7416.jpg", false, false, "media_jsim_ps17_019.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/82/51/93/52/media_lar0816_IMG_7417.jpg", false, false, "media_jsim_ps17_020.jpg", "Macy's", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/14/51/93/52/media_lar0816_IMG_7430.jpg", false, false, "media_jsim_ps17_021.jpg", "Kaitlyn", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/54/51/93/52/media_lar0816_IMG_7434.jpg", false, false, "media_jsim_ps17_022.jpg", "Kaitlyn", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/07/51/93/52/media_lar0816_IMG_7459.jpg", false, false, "media_jsim_ps17_023.jpg", "My-D", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/17/51/93/52/media_lar0816_IMG_7460.jpg", false, false, "media_jsim_ps17_024.jpg", "My-D", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/39/51/93/52/media_lar0816_IMG_7482.jpg", false, false, "media_jsim_ps17_018.jpg", "H&M", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/41/10/93/52/media_par70816_IMG_6139.jpg", false, false, "media_jsim_ps17_019.jpg", "Printemps", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/86/02/83/52/media_par60816_IMG_1658.jpg", false, false, "media_jsim_ps17_020.jpg", "IKKS", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/50/12/83/52/media_par60816_IMG_1695.jpg", false, false, "media_jsim_ps17_021.jpg", "Caroll", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/76/12/83/52/media_par60816_IMG_1760.jpg", false, false, "media_jsim_ps17_022.jpg", "Springfield", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/31/22/83/52/media_par60816_IMG_1813.jpg", false, false, "media_jsim_ps17_023.jpg", "Mango", "August 2016", "Paris")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/61/22/83/52/media_par60816_IMG_1816.jpg", false, false, "media_jsim_ps17_024.jpg", "Mango", "August 2016", "Paris")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/81/22/83/52/media_par60816_IMG_1818.jpg", false, false, "media_jsim_ps17_018.jpg", "Mango", "August 2016", "Paris")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/02/22/83/52/media_par60816_IMG_1820.jpg", false, false, "media_jsim_ps17_019.jpg", "Mango", "August 2016", "Paris")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/03/22/83/52/media_par60816_IMG_1835.jpg", false, false, "media_jsim_ps17_020.jpg", "Zara", "August 2016", "Paris")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/23/22/83/52/media_par60816_IMG_1838.jpg", false, false, "media_jsim_ps17_021.jpg", "H&M", "August 2016", "Paris")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/38/22/83/52/media_par60816_IMG_1890.jpg", false, false, "media_jsim_ps17_022.jpg", "Promod", "August 2016", "Paris")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/58/22/83/52/media_par60816_IMG_1892.jpg", false, false, "media_jsim_ps17_023.jpg", "Naf Naf", "August 2016", "Paris")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/59/22/83/52/media_par60816_IMG_1902.jpg", false, false, "media_jsim_ps17_024.jpg", "Naf Naf", "August 2016", "Paris")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/70/89/73/52/media_jrj20816_DSC00655.jpg", false, false, "media_jsim_ps17_018.jpg", "2 Generation", "August 2016", "Paris")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/75/89/73/52/media_jrj20816_DSC00708.jpg", false, false, "media_jsim_ps17_019.jpg", "Cantao", "August 2016", "Paris")