include file
//- type, img, original, comments, filename, ...caption

.files-row.no-transition
  .files-container
    .collage
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/dd2ss10pr_M066.jpg", true, false, "dd2ss10pr_M066.jpg", "Michael Nolite", "Animal Prints/Skins", "Vector")
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/dd2ss10pr_M067.jpg", true, false, "dd2ss10pr_M067.jpg", "Michael Nolite", "Animal Prints/Skins", "Vector")
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/stm0903c_gr_75ksas.jpg", true, false, "stm0903c_gr_75ksas.jpg", "Michael Nolite", "Animal Prints/Skins", "Vector")
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/stm0903c_gr_76ksas.jpg", true, false, "stm0903c_gr_76ksas.jpg", "Michael Nolite", "Animal Prints/Skins", "Vector")
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/dd2ss10pr_M068.jpg", true, false, "dd2ss10pr_M068.jpg", "Michael Nolite", "Animal Prints/Skins", "Vector")
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/pgpr_m0808_N001.jpg", true, false, "pgpr_m0808_N001.jpg", "Nadia Rousselbin", "Animal Prints/Skins", "Bitmap")
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/pgpr_m0808_N004.jpg", true, false, "pgpr_m0808_N004.jpg", "Nadia Rousselbin", "Animal Prints/Skins", "Bitmap")
      +file("image", "https://www.wgsn.com/storage/vol15/ss_image_store/65/72/82/81/media_25-04-11-vector-stock-4.jpg", true, false, "media_25-04-11-vector-stock-4.jpg", "", "Animal Prints/Skins", "Vector, Vertical")
      +file("image", "https://www.wgsn.com/storage/vol10/ss_image_store/72/34/18/02/media_25-04-11-vector-stock-5.jpg", true, false, "media_25-04-11-vector-stock-5.jpg", "", "Animal Prints/Skins", "Vector, Vertical")
      +file("image", "https://www.wgsn.com/storage/vol7/ss_image_store/87/53/26/11/media_pgss14ar_S001e008.jpg", true, false, "media_pgss14ar_S001e008.jpg", "Stylesight Original Graphic", "Animal Prints/Skins", "Vector, square")
      +file("image", "https://www.wgsn.com/storage/vol7/ss_image_store/97/53/26/11/media_pgss14ar_S001e009.jpg", true, false, "media_pgss14ar_S001e009.jpg", "Stylesight Original Graphic", "Animal Prints/Skins", "Vector, square")
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/Ne_clip_skins_0703_08.jpg", true, false, "Ne_clip_skins_0703_08.jpg", "Original Clipart", "Animal Prints/Skins", "Vector")
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/Ne_clip_skins_2301_01.jpg", true, false, "Ne_clip_skins_2301_01.jpg", "Original Clipart", "Animal Prints/Skins", "Vector")
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/pgpr_m0808_Lv013.jpg", true, false, "pgpr_m0808_Lv013.jpg", "Lova Ratsimandresy", "Animal Prints/Skins", "Bitmap")
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/dd2fw0910pr_A172.jpg", true, false, "dd2fw0910pr_A172.jpg", "  Andrea Mircetic", "Feather, Artistic, Animal Prints/Skins", "Bitmap")
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/dd2ss09gr_Er0116as.jpg", true, false, "dd2ss09gr_Er0116as.jpg", "", "Animal Prints/Skins", "Vector, Square")
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/dd2ss09gr_Er0121aw.jpg", true, false, "dd2ss09gr_Er0121aw.jpg", "", "Animal Prints/Skins", "Vector, Square")
    
    .details-view
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/dd2ss10pr_M066.jpg", true, false, "dd2ss10pr_M066.jpg", "Michael Nolite", "Animal Prints/Skins", "Vector")
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/dd2ss10pr_M067.jpg", true, false, "dd2ss10pr_M067.jpg", "Michael Nolite", "Animal Prints/Skins", "Vector")
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/stm0903c_gr_75ksas.jpg", true, false, "stm0903c_gr_75ksas.jpg", "Michael Nolite", "Animal Prints/Skins", "Vector")
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/stm0903c_gr_76ksas.jpg", true, false, "stm0903c_gr_76ksas.jpg", "Michael Nolite", "Animal Prints/Skins", "Vector")
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/dd2ss10pr_M068.jpg", true, false, "dd2ss10pr_M068.jpg", "Michael Nolite", "Animal Prints/Skins", "Vector")
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/pgpr_m0808_N001.jpg", true, false, "pgpr_m0808_N001.jpg", "Nadia Rousselbin", "Animal Prints/Skins", "Bitmap")
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/pgpr_m0808_N004.jpg", true, false, "pgpr_m0808_N004.jpg", "Nadia Rousselbin", "Animal Prints/Skins", "Bitmap")
      +file-details-view("image", "https://www.wgsn.com/storage/vol15/ss_image_store/65/72/82/81/media_25-04-11-vector-stock-4.jpg", true, false, "media_25-04-11-vector-stock-4.jpg", "", "Animal Prints/Skins", "Vector, Vertical")
      +file-details-view("image", "https://www.wgsn.com/storage/vol10/ss_image_store/72/34/18/02/media_25-04-11-vector-stock-5.jpg", true, false, "media_25-04-11-vector-stock-5.jpg", "", "Animal Prints/Skins", "Vector, Vertical")
      +file-details-view("image", "https://www.wgsn.com/storage/vol7/ss_image_store/87/53/26/11/media_pgss14ar_S001e008.jpg", true, false, "media_pgss14ar_S001e008.jpg", "Stylesight Original Graphic", "Animal Prints/Skins", "Vector, square")
      +file-details-view("image", "https://www.wgsn.com/storage/vol7/ss_image_store/97/53/26/11/media_pgss14ar_S001e009.jpg", true, false, "media_pgss14ar_S001e009.jpg", "Stylesight Original Graphic", "Animal Prints/Skins", "Vector, square")
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/Ne_clip_skins_0703_08.jpg", true, false, "Ne_clip_skins_0703_08.jpg", "Original Clipart", "Animal Prints/Skins", "Vector")
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/Ne_clip_skins_2301_01.jpg", true, false, "Ne_clip_skins_2301_01.jpg", "Original Clipart", "Animal Prints/Skins", "Vector")
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/pgpr_m0808_Lv013.jpg", true, false, "pgpr_m0808_Lv013.jpg", "Lova Ratsimandresy", "Animal Prints/Skins", "Bitmap")
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/dd2fw0910pr_A172.jpg", true, false, "dd2fw0910pr_A172.jpg", "  Andrea Mircetic", "Feather, Artistic, Animal Prints/Skins", "Bitmap")
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/dd2ss09gr_Er0116as.jpg", true, false, "dd2ss09gr_Er0116as.jpg", "", "Animal Prints/Skins", "Vector, Square")
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/dd2ss09gr_Er0121aw.jpg", true, false, "dd2ss09gr_Er0121aw.jpg", "", "Animal Prints/Skins", "Vector, Square")