include file
//- type, img, original, comments, filename, ...caption

.files-row.no-transition
  .files-container
    .collage
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/36/34/50/52/media_jsim_ps17_001.jpg", false, false, "media_jsim_ps17_001.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/46/34/50/52/media_jsim_ps17_002.jpg", false, false, "media_jsim_ps17_002.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/56/34/50/52/media_jsim_ps17_003.jpg", false, false, "media_jsim_ps17_003.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/66/34/50/52/media_jsim_ps17_004.jpg", false, false, "media_jsim_ps17_004.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/76/34/50/52/media_jsim_ps17_005.jpg", false, false, "media_jsim_ps17_005.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/86/34/50/52/media_jsim_ps17_006.jpg", false, false, "media_jsim_ps17_006.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/96/34/50/52/media_jsim_ps17_007.jpg", false, false, "media_jsim_ps17_007.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/07/34/50/52/media_jsim_ps17_008.jpg", false, false, "media_jsim_ps17_008.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/17/34/50/52/media_jsim_ps17_009.jpg", false, false, "media_jsim_ps17_009.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/27/34/50/52/media_jsim_ps17_010.jpg", false, false, "media_jsim_ps17_010.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/37/34/50/52/media_jsim_ps17_011.jpg", false, false, "media_jsim_ps17_011.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/47/34/50/52/media_jsim_ps17_012.jpg", false, false, "media_jsim_ps17_012.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/57/34/50/52/media_jsim_ps17_013.jpg", false, false, "media_jsim_ps17_013.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/67/34/50/52/media_jsim_ps17_014.jpg", false, false, "media_jsim_ps17_014.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/77/34/50/52/media_jsim_ps17_015.jpg", false, false, "media_jsim_ps17_015.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/87/34/50/52/media_jsim_ps17_016.jpg", false, false, "media_jsim_ps17_016.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/97/34/50/52/media_jsim_ps17_017.jpg", false, false, "media_jsim_ps17_017.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/08/34/50/52/media_jsim_ps17_018.jpg", false, false, "media_jsim_ps17_018.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/18/34/50/52/media_jsim_ps17_019.jpg", false, false, "media_jsim_ps17_019.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/28/34/50/52/media_jsim_ps17_020.jpg", false, false, "media_jsim_ps17_020.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/38/34/50/52/media_jsim_ps17_021.jpg", false, false, "media_jsim_ps17_021.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/48/34/50/52/media_jsim_ps17_022.jpg", false, false, "media_jsim_ps17_022.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/58/34/50/52/media_jsim_ps17_023.jpg", false, false, "media_jsim_ps17_023.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/68/34/50/52/media_jsim_ps17_024.jpg", false, false, "media_jsim_ps17_024.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/56/81/50/52/media_gmb_ps17_001.jpg", false, false, "media_gmb_ps17_001.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/66/81/50/52/media_gmb_ps17_002.jpg", false, false, "media_gmb_ps17_002.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/76/81/50/52/media_gmb_ps17_003.jpg", false, false, "media_gmb_ps17_003.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/86/81/50/52/media_gmb_ps17_004.jpg", false, false, "media_gmb_ps17_004.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/96/81/50/52/media_gmb_ps17_005.jpg", false, false, "media_gmb_ps17_005.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/07/81/50/52/media_gmb_ps17_006.jpg", false, false, "media_gmb_ps17_006.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/17/81/50/52/media_gmb_ps17_007.jpg", false, false, "media_gmb_ps17_007.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/27/81/50/52/media_gmb_ps17_008.jpg", false, false, "media_gmb_ps17_008.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/37/81/50/52/media_gmb_ps17_009.jpg", false, false, "media_gmb_ps17_009.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/47/81/50/52/media_gmb_ps17_010.jpg", false, false, "media_gmb_ps17_010.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/57/81/50/52/media_gmb_ps17_011.jpg", false, false, "media_gmb_ps17_011.jpg", "Giamba", "Pre-Summer 2017", "Milan")
    
    .details-view
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/36/34/50/52/original_jsim_ps17_001.jpg", false, false, "media_jsim_ps17_001.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/46/34/50/52/original_jsim_ps17_002.jpg", false, false, "media_jsim_ps17_002.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/56/34/50/52/original_jsim_ps17_003.jpg", false, false, "media_jsim_ps17_003.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/66/34/50/52/original_jsim_ps17_004.jpg", false, false, "media_jsim_ps17_004.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/76/34/50/52/original_jsim_ps17_005.jpg", false, false, "media_jsim_ps17_005.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/86/34/50/52/original_jsim_ps17_006.jpg", false, false, "media_jsim_ps17_006.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/96/34/50/52/original_jsim_ps17_007.jpg", false, false, "media_jsim_ps17_007.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/07/34/50/52/original_jsim_ps17_008.jpg", false, false, "media_jsim_ps17_008.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/17/34/50/52/original_jsim_ps17_009.jpg", false, false, "media_jsim_ps17_009.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/27/34/50/52/original_jsim_ps17_010.jpg", false, false, "media_jsim_ps17_010.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/37/34/50/52/original_jsim_ps17_011.jpg", false, false, "media_jsim_ps17_011.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/47/34/50/52/original_jsim_ps17_012.jpg", false, false, "media_jsim_ps17_012.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/57/34/50/52/original_jsim_ps17_013.jpg", false, false, "media_jsim_ps17_013.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/67/34/50/52/original_jsim_ps17_014.jpg", false, false, "media_jsim_ps17_014.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/77/34/50/52/original_jsim_ps17_015.jpg", false, false, "media_jsim_ps17_015.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/87/34/50/52/original_jsim_ps17_016.jpg", false, false, "media_jsim_ps17_016.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/97/34/50/52/original_jsim_ps17_017.jpg", false, false, "media_jsim_ps17_017.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/08/34/50/52/original_jsim_ps17_018.jpg", false, false, "media_jsim_ps17_018.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/18/34/50/52/original_jsim_ps17_019.jpg", false, false, "media_jsim_ps17_019.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/28/34/50/52/original_jsim_ps17_020.jpg", false, false, "media_jsim_ps17_020.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/38/34/50/52/original_jsim_ps17_021.jpg", false, false, "media_jsim_ps17_021.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/48/34/50/52/original_jsim_ps17_022.jpg", false, false, "media_jsim_ps17_022.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/58/34/50/52/original_jsim_ps17_023.jpg", false, false, "media_jsim_ps17_023.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/68/34/50/52/original_jsim_ps17_024.jpg", false, false, "media_jsim_ps17_024.jpg", "Jonathan Simkhai", "Pre-Summer 2017", "New York")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/56/81/50/52/original_gmb_ps17_001.jpg", false, false, "media_gmb_ps17_001.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/66/81/50/52/original_gmb_ps17_002.jpg", false, false, "media_gmb_ps17_002.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/76/81/50/52/original_gmb_ps17_003.jpg", false, false, "media_gmb_ps17_003.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/86/81/50/52/original_gmb_ps17_004.jpg", false, false, "media_gmb_ps17_004.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/96/81/50/52/original_gmb_ps17_005.jpg", false, false, "media_gmb_ps17_005.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/07/81/50/52/original_gmb_ps17_006.jpg", false, false, "media_gmb_ps17_006.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/17/81/50/52/original_gmb_ps17_007.jpg", false, false, "media_gmb_ps17_007.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/27/81/50/52/original_gmb_ps17_008.jpg", false, false, "media_gmb_ps17_008.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/37/81/50/52/original_gmb_ps17_009.jpg", false, false, "media_gmb_ps17_009.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/47/81/50/52/original_gmb_ps17_010.jpg", false, false, "media_gmb_ps17_010.jpg", "Giamba", "Pre-Summer 2017", "Milan")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/57/81/50/52/original_gmb_ps17_011.jpg", false, false, "media_gmb_ps17_011.jpg", "Giamba", "Pre-Summer 2017", "Milan")