include file
//- type, img, original, comments, filename, ...caption

.files-row.no-transition
  .files-container
    .collage
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/dd2ss10pr_M066.jpg", false, false, "dd2ss10pr_M066.jpg", "Michael Nolite", "Animal Prints/Skins", "Vector")
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/dd2ss10pr_M067.jpg", false, false, "dd2ss10pr_M067.jpg", "Michael Nolite", "Animal Prints/Skins", "Vector")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/05/29/73/52/media_jrj0816_DSC00496.jpg", false, false, "media_jrj0816_DSC00496.jpg", "Riachuelo", "August 2016", "Rio De Janeiro")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/63/74/73/52/media_flo40816_IMG_3026.jpg", false, false, "media_flo40816_IMG_3026.jpg", "Flow Festival", "August 2016", "Helskinki")
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/stm0903c_gr_75ksas.jpg", false, false, "stm0903c_gr_75ksas.jpg", "Michael Nolite", "Animal Prints/Skins", "Vector")
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/stm0903c_gr_76ksas.jpg", false, false, "stm0903c_gr_76ksas.jpg", "Michael Nolite", "Animal Prints/Skins", "Vector")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/14/29/53/52/media_flo20816_IMG_3098.jpg", false, false, "media_flo20816_IMG_3098.jpg", "Flow Festival", "August 2016", "Helsinki")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/19/72/53/52/media_lor120816_IMG_9126.jpg", false, false, "media_lor120816_IMG_9126.jpg", "J.Crew", "August 2016", "London")
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/dd2ss10pr_M068.jpg", false, false, "dd2ss10pr_M068.jpg", "Michael Nolite", "Animal Prints/Skins", "Vector")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/40/91/43/52/media_shr30816_IMG_7059.jpg", false, false, "media_shr30816_IMG_7059.jpg", "Zara", "August 2016", "Shanghai")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/11/02/43/52/media_shr30816_IMG_7177.jpg", false, false, "media_shr30816_IMG_7177.jpg", "G2000", "August 2016", "Shanghai")
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/pgpr_m0808_N001.jpg", false, false, "pgpr_m0808_N001.jpg", "Nadia Rousselbin", "Animal Prints/Skins", "Bitmap")
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/pgpr_m0808_N004.jpg", false, false, "pgpr_m0808_N004.jpg", "Nadia Rousselbin", "Animal Prints/Skins", "Bitmap")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/13/61/43/52/media_shr50816_IMG_2118.jpg", false, false, "media_shr50816_IMG_2118.jpg", "Marks & Spencer", "August 2016", "Shanghai")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/33/61/43/52/media_shr50816_IMG_2120.jpg", false, false, "media_shr50816_IMG_2120.jpg", "Marks & Spencer", "August 2016", "Shanghai")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/75/61/43/52/media_shr50816_IMG_2146.jpg", false, false, "media_shr50816_IMG_2146.jpg", "Marks & Spencer", "August 2016", "Shanghai")
      +file("image", "https://www.wgsn.com/storage/vol15/ss_image_store/65/72/82/81/media_25-04-11-vector-stock-4.jpg", false, false, "media_25-04-11-vector-stock-4.jpg", "", "Animal Prints/Skins", "Vector, Vertical")
      +file("image", "https://www.wgsn.com/storage/vol10/ss_image_store/72/34/18/02/media_25-04-11-vector-stock-5.jpg", false, false, "media_25-04-11-vector-stock-5.jpg", "", "Animal Prints/Skins", "Vector, Vertical")
      +file("image", "https://www.wgsn.com/storage/vol15/ss_image_store/60/54/62/81/media_Good_Life_07.jpg", false, false, "media_Good_Life_07.jpg", "", "Animal Prints/Skins", "Vector, Square")
      +file("image", "https://www.wgsn.com/storage/vol15/ss_image_store/53/54/62/81/media_Good_Life_01.jpg", false, false, "media_Good_Life_01.jpg", "", "Animal Prints/Skins", "Vector, Horizontal")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/22/98/33/52/media_lor70816_IMG_3683.jpg", false, false, "media_lor70816_IMG_3683.jpg", "River Island", "August 2016", "London")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/34/98/33/52/media_lor70816_IMG_3705.jpg", false, false, "media_lor70816_IMG_3705.jpg", "River Island", "August 2016", "London")
      +file("image", "https://www.wgsn.com/storage/vol7/ss_image_store/87/53/26/11/media_pgss14ar_S001e008.jpg", false, false, "media_pgss14ar_S001e008.jpg", "Stylesight Original Graphic", "Animal Prints/Skins", "Vector, square")
      +file("image", "https://www.wgsn.com/storage/vol7/ss_image_store/97/53/26/11/media_pgss14ar_S001e009.jpg", false, false, "media_pgss14ar_S001e009.jpg", "Stylesight Original Graphic", "Animal Prints/Skins", "Vector, square")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/13/77/33/52/media_lor60816_IMG_3487.jpg", false, false, "media_lor60816_IMG_3487.jpg", "New Look", "August 2016", "London")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/11/87/33/52/media_lor60816_IMG_3588.jpg", false, false, "media_lor60816_IMG_3588.jpg", "New Look", "August 2016", "London")
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/Ne_clip_skins_0703_08.jpg", false, false, "Ne_clip_skins_0703_08.jpg", "Original Clipart", "Animal Prints/Skins", "Vector")
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/Ne_clip_skins_2301_01.jpg", false, false, "Ne_clip_skins_2301_01.jpg", "Original Clipart", "Animal Prints/Skins", "Vector")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/61/87/33/52/media_lor60816_IMG_3595.jpg", false, false, "media_lor60816_IMG_3595.jpg", "New Look", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/91/54/33/52/media_shr20816_IMG_6616.jpg", false, false, "media_shr20816_IMG_6616.jpg", "GU", "August 2016", "Los Angeles")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/06/53/33/52/media_lor20816_IMG_2546.jpg", false, false, "media_lor20816_IMG_2546.jpg", "Wallis", "August 2016", "London")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/16/53/33/52/media_lor20816_IMG_2547.jpg", false, false, "media_lor20816_IMG_2547.jpg", "Wallis", "August 2016", "London")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/26/53/33/52/media_lor20816_IMG_2548.jpg", false, false, "media_lor20816_IMG_2548.jpg", "Wallis", "August 2016", "London")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/24/63/33/52/media_lor20816_IMG_2730.jpg", false, false, "media_lor20816_IMG_2730.jpg", "Next", "August 2016", "London")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/09/63/33/52/media_lor20816_IMG_2787.jpg", false, false, "media_lor20816_IMG_2787.jpg", "John Lewis", "August 2016", "London")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/61/43/33/52/media_lor80816_IMG_3363.jpg", false, false, "media_lor80816_IMG_3363.jpg", "Topshop", "August 2016", "London")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/72/72/33/52/media_lor50816_IMG_3874.jpg", false, false, "media_lor50816_IMG_3874.jpg", "Browns", "August 2016", "London")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/84/82/33/52/media_lor50816_IMG_4041.jpg", false, false, "media_lor50816_IMG_4041.jpg", "Superdry", "August 2016", "London")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/88/82/33/52/media_lor50816_IMG_4088.jpg", false, false, "media_lor50816_IMG_4088.jpg", "The Sting", "August 2016", "London")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/69/26/23/52/media_lor0816_IMG_1944.jpg", false, false, "media_lor0816_IMG_1944.jpg", "Dior", "August 2016", "London")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/53/46/23/52/media_lor0816_IMG_2137.jpg", false, false, "media_lor0816_IMG_2137.jpg", "Louis Vuitton", "August 2016", "London")
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/pgpr_m0808_Lv013.jpg", false, false, "pgpr_m0808_Lv013.jpg", "Lova Ratsimandresy", "Animal Prints/Skins", "Bitmap")
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/dd2fw0910pr_A172.jpg", false, false, "dd2fw0910pr_A172.jpg", "  Andrea Mircetic", "Feather, Artistic, Animal Prints/Skins", "Bitmap")
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/dd2ss09gr_Er0116as.jpg", false, false, "dd2ss09gr_Er0116as.jpg", "", "Animal Prints/Skins", "Vector, Square")
      +file("image", "https://www.wgsn.com/storage/vol2/media/11277/dd2ss09gr_Er0121aw.jpg", false, false, "dd2ss09gr_Er0121aw.jpg", "", "Animal Prints/Skins", "Vector, Square")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/14/46/23/52/media_lor0816_IMG_2145.jpg", false, false, "media_lor0816_IMG_2145.jpg", "Burberry", "August 2016", "London")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/76/46/23/52/media_lor0816_IMG_2179.jpg", false, false, "media_lor0816_IMG_2179.jpg", "Moschino", "August 2016", "London")
      +file("image", "https://www.wgsn.com/storage/vol21/ss_image_store/99/46/23/52/media_lor0816_IMG_2214.jpg", false, false, "media_lor0816_IMG_2214.jpg", "Mulberry", "August 2016", "London")
    
    .details-view
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/dd2ss10pr_M066.jpg", false, false, "dd2ss10pr_M066.jpg", "Michael Nolite", "Animal Prints/Skins", "Vector")
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/dd2ss10pr_M067.jpg", false, false, "dd2ss10pr_M067.jpg", "Michael Nolite", "Animal Prints/Skins", "Vector")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/05/29/73/52/media_jrj0816_DSC00496.jpg", false, false, "media_jrj0816_DSC00496.jpg", "Riachuelo", "August 2016", "Rio De Janeiro")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/63/74/73/52/media_flo40816_IMG_3026.jpg", false, false, "media_flo40816_IMG_3026.jpg", "Flow Festival", "August 2016", "Helskinki")
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/stm0903c_gr_75ksas.jpg", false, false, "stm0903c_gr_75ksas.jpg", "Michael Nolite", "Animal Prints/Skins", "Vector")
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/stm0903c_gr_76ksas.jpg", false, false, "stm0903c_gr_76ksas.jpg", "Michael Nolite", "Animal Prints/Skins", "Vector")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/14/29/53/52/media_flo20816_IMG_3098.jpg", false, false, "media_flo20816_IMG_3098.jpg", "Flow Festival", "August 2016", "Helsinki")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/19/72/53/52/media_lor120816_IMG_9126.jpg", false, false, "media_lor120816_IMG_9126.jpg", "J.Crew", "August 2016", "London")
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/dd2ss10pr_M068.jpg", false, false, "dd2ss10pr_M068.jpg", "Michael Nolite", "Animal Prints/Skins", "Vector")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/40/91/43/52/media_shr30816_IMG_7059.jpg", false, false, "media_shr30816_IMG_7059.jpg", "Zara", "August 2016", "Shanghai")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/11/02/43/52/media_shr30816_IMG_7177.jpg", false, false, "media_shr30816_IMG_7177.jpg", "G2000", "August 2016", "Shanghai")
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/pgpr_m0808_N001.jpg", false, false, "pgpr_m0808_N001.jpg", "Nadia Rousselbin", "Animal Prints/Skins", "Bitmap")
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/pgpr_m0808_N004.jpg", false, false, "pgpr_m0808_N004.jpg", "Nadia Rousselbin", "Animal Prints/Skins", "Bitmap")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/13/61/43/52/media_shr50816_IMG_2118.jpg", false, false, "media_shr50816_IMG_2118.jpg", "Marks & Spencer", "August 2016", "Shanghai")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/33/61/43/52/media_shr50816_IMG_2120.jpg", false, false, "media_shr50816_IMG_2120.jpg", "Marks & Spencer", "August 2016", "Shanghai")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/75/61/43/52/media_shr50816_IMG_2146.jpg", false, false, "media_shr50816_IMG_2146.jpg", "Marks & Spencer", "August 2016", "Shanghai")
      +file-details-view("image", "https://www.wgsn.com/storage/vol15/ss_image_store/65/72/82/81/media_25-04-11-vector-stock-4.jpg", false, false, "media_25-04-11-vector-stock-4.jpg", "", "Animal Prints/Skins", "Vector, Vertical")
      +file-details-view("image", "https://www.wgsn.com/storage/vol10/ss_image_store/72/34/18/02/media_25-04-11-vector-stock-5.jpg", false, false, "media_25-04-11-vector-stock-5.jpg", "", "Animal Prints/Skins", "Vector, Vertical")
      +file-details-view("image", "https://www.wgsn.com/storage/vol15/ss_image_store/60/54/62/81/media_Good_Life_07.jpg", false, false, "media_Good_Life_07.jpg", "", "Animal Prints/Skins", "Vector, Square")
      +file-details-view("image", "https://www.wgsn.com/storage/vol15/ss_image_store/53/54/62/81/media_Good_Life_01.jpg", false, false, "media_Good_Life_01.jpg", "", "Animal Prints/Skins", "Vector, Horizontal")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/22/98/33/52/media_lor70816_IMG_3683.jpg", false, false, "media_lor70816_IMG_3683.jpg", "River Island", "August 2016", "London")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/34/98/33/52/media_lor70816_IMG_3705.jpg", false, false, "media_lor70816_IMG_3705.jpg", "River Island", "August 2016", "London")
      +file-details-view("image", "https://www.wgsn.com/storage/vol7/ss_image_store/87/53/26/11/media_pgss14ar_S001e008.jpg", false, false, "media_pgss14ar_S001e008.jpg", "Stylesight Original Graphic", "Animal Prints/Skins", "Vector, square")
      +file-details-view("image", "https://www.wgsn.com/storage/vol7/ss_image_store/97/53/26/11/media_pgss14ar_S001e009.jpg", false, false, "media_pgss14ar_S001e009.jpg", "Stylesight Original Graphic", "Animal Prints/Skins", "Vector, square")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/13/77/33/52/media_lor60816_IMG_3487.jpg", false, false, "media_lor60816_IMG_3487.jpg", "New Look", "August 2016", "London")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/11/87/33/52/media_lor60816_IMG_3588.jpg", false, false, "media_lor60816_IMG_3588.jpg", "New Look", "August 2016", "London")
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/Ne_clip_skins_0703_08.jpg", false, false, "Ne_clip_skins_0703_08.jpg", "Original Clipart", "Animal Prints/Skins", "Vector")
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/Ne_clip_skins_2301_01.jpg", false, false, "Ne_clip_skins_2301_01.jpg", "Original Clipart", "Animal Prints/Skins", "Vector")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/61/87/33/52/media_lor60816_IMG_3595.jpg", false, false, "media_lor60816_IMG_3595.jpg", "New Look", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/91/54/33/52/media_shr20816_IMG_6616.jpg", false, false, "media_shr20816_IMG_6616.jpg", "GU", "August 2016", "Los Angeles")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/06/53/33/52/media_lor20816_IMG_2546.jpg", false, false, "media_lor20816_IMG_2546.jpg", "Wallis", "August 2016", "London")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/16/53/33/52/media_lor20816_IMG_2547.jpg", false, false, "media_lor20816_IMG_2547.jpg", "Wallis", "August 2016", "London")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/26/53/33/52/media_lor20816_IMG_2548.jpg", false, false, "media_lor20816_IMG_2548.jpg", "Wallis", "August 2016", "London")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/24/63/33/52/media_lor20816_IMG_2730.jpg", false, false, "media_lor20816_IMG_2730.jpg", "Next", "August 2016", "London")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/09/63/33/52/media_lor20816_IMG_2787.jpg", false, false, "media_lor20816_IMG_2787.jpg", "John Lewis", "August 2016", "London")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/61/43/33/52/media_lor80816_IMG_3363.jpg", false, false, "media_lor80816_IMG_3363.jpg", "Topshop", "August 2016", "London")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/72/72/33/52/media_lor50816_IMG_3874.jpg", false, false, "media_lor50816_IMG_3874.jpg", "Browns", "August 2016", "London")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/84/82/33/52/media_lor50816_IMG_4041.jpg", false, false, "media_lor50816_IMG_4041.jpg", "Superdry", "August 2016", "London")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/88/82/33/52/media_lor50816_IMG_4088.jpg", false, false, "media_lor50816_IMG_4088.jpg", "The Sting", "August 2016", "London")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/69/26/23/52/media_lor0816_IMG_1944.jpg", false, false, "media_lor0816_IMG_1944.jpg", "Dior", "August 2016", "London")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/53/46/23/52/media_lor0816_IMG_2137.jpg", false, false, "media_lor0816_IMG_2137.jpg", "Louis Vuitton", "August 2016", "London")
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/pgpr_m0808_Lv013.jpg", false, false, "pgpr_m0808_Lv013.jpg", "Lova Ratsimandresy", "Animal Prints/Skins", "Bitmap")
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/dd2fw0910pr_A172.jpg", false, false, "dd2fw0910pr_A172.jpg", "  Andrea Mircetic", "Feather, Artistic, Animal Prints/Skins", "Bitmap")
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/dd2ss09gr_Er0116as.jpg", false, false, "dd2ss09gr_Er0116as.jpg", "", "Animal Prints/Skins", "Vector, Square")
      +file-details-view("image", "https://www.wgsn.com/storage/vol2/media/11277/dd2ss09gr_Er0121aw.jpg", false, false, "dd2ss09gr_Er0121aw.jpg", "", "Animal Prints/Skins", "Vector, Square")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/14/46/23/52/media_lor0816_IMG_2145.jpg", false, false, "media_lor0816_IMG_2145.jpg", "Burberry", "August 2016", "London")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/76/46/23/52/media_lor0816_IMG_2179.jpg", false, false, "media_lor0816_IMG_2179.jpg", "Moschino", "August 2016", "London")
      +file-details-view("image", "https://www.wgsn.com/storage/vol21/ss_image_store/99/46/23/52/media_lor0816_IMG_2214.jpg", false, false, "media_lor0816_IMG_2214.jpg", "Mulberry", "August 2016", "London")