svg#wgsn-logo(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='1740.646px', height='448.575px', viewbox='-419.5 574.5 1740.646 448.575', enable-background='new -419.5 574.5 1740.646 448.575', xml:space='preserve')
  g
    path(d='M-23.282,1017.903l-111.82-242.385h-1.939l-111.82,242.385h-11.635L-419.5,584.196h98.893l76.271,223.641h1.292\
    l101.479-223.641h11.634l102.125,223.641h1.939l76.27-223.641h95.661l-158.358,433.707H-23.282z')
    | &#x9;&#x9;
    path(d='M388.449,928.706h14.22v94.369h-13.574c-140.26,0-239.799-95.662-239.799-224.935\
    c0-129.918,99.54-223.641,239.799-223.641h13.574v92.43h-14.22c-87.258,0-146.077,55.587-146.077,131.211\
    C242.372,874.412,301.19,928.706,388.449,928.706z M548.747,756.774V935.17h-85.966v-95.661H367.12v-82.733L548.747,756.774\
    L548.747,756.774z')
    | &#x9;&#x9;
    path(d='M599.163,891.864c30.38,27.146,78.21,47.184,120.224,47.184c44.599,0,70.453-21.33,70.453-49.123\
    c0-30.379-33.61-43.307-77.563-60.758c-45.892-18.098-114.405-47.185-114.405-126.04c0-69.808,55.588-127.979,152.541-127.979\
    c40.722,0,83.381,12.928,111.819,29.086v87.259c-28.438-20.037-71.745-32.964-104.71-32.964\
    c-42.659,0-65.929,19.391-65.929,42.013c0,23.915,26.501,36.843,62.051,50.416c54.94,20.684,133.796,47.831,133.796,135.735\
    c0,76.271-59.465,135.09-159.004,135.09c-52.355,0-100.832-17.452-129.919-38.782L599.163,891.864L599.163,891.864z')
    | &#x9;&#x9;
    path(d='M1321.146,584.196v433.061h-18.098l-263.07-247.555h-1.938v243.678h-89.844V583.55h19.391l265.008,246.265V584.843h88.551\
    V584.196z')
